<div class="program-overview">
	<h1>PROGRAM OVERVIEW</h1>
	<p>Fitness isn’t seasonal for Eric Chesser – It’s a lifestyle and big part of the reason he is who he is today. With Summer coming and Fall soon to follow, join Eric as he breaks down his easy-to-follow 90-Day Program into three 30-Day phases that will keep you motivated, happy and most importantly, healthy.</p>
	<ul class="program-section-buttons">
		<li><a class="button" href="#phase-1">Stage One</a></li>
		<li><a class="button" href="#phase-2">Stage Two</a></li>
		<li><a class="button" href="#phase-3">Stage Three</a></li>
	</ul>
</div>

<div class="movement-tips"></div>

<div class="row">
	<div class="col-xs-12">
		<div class="day-movements-wrap">
			<div id="phase-1" class="day-movements phase1-movements text-center">
				<div class="day-title-section">
					<h1>Stage One</h1>
					<span>Total Movements</span>
					<div class="day-intro">
						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/7sJq3TxIVmM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						<b>Stage One</b> kicks off the first 30 days of Eric's 3 stage, 90-Day program. In this stage, we will focus on the very basic movements and performing each excersize in 4 sets with 12-15 reps per set. Remember to push yourself but always be in absolute control of the weight throughout the entire movemement. Good luck and work hard!
					</div>
					<ul class="exercise-buttons">
						<li><a class="button" href="#phase1-shoulders">Shoulders</a></li>
						<li><a class="button" href="#phase1-arms">Arms</a></li>
						<li><a class="button" href="#phase1-triceps">Triceps</a></li>
						<li><a class="button" href="#phase1-legs">Legs</a></li>
						<li><a class="button" href="#phase1-chest">Chest</a></li>
						<li><a class="button" href="#phase1-back">Back</a></li>
					</ul>
				</div>
				
				<div id="phase1-shoulders" class="phase-section">
					<h3>Shoulders Day</h3>
					<div class="phase1-shoulders owl-carousel"></div>
				</div>
				<div id="phase1-arms" class="phase-section">
					<h3>Arms Day</h3>
					<div class="phase1-arms owl-carousel"></div>
				</div>
				<div id="phase1-triceps" class="phase-section">
					<h3>Triceps Day</h3>
					<div class="phase1-triceps owl-carousel"></div>
				</div>
				<div id="phase1-legs" class="phase-section">
					<h3>Leg Day</h3>
					<div class="phase1-legs owl-carousel"></div>
				</div>
				<div id="phase1-chest" class="phase-section">
					<h3>Chest Day</h3>
					<div class="phase1-chest owl-carousel"></div>
				</div>
				<div id="phase1-back" class="phase-section">
					<h3>Back Day</h3>
					<div class="phase1-back owl-carousel"></div>
				</div>
			</div>
			<div id="phase-2" class="day-movements phase2-movements text-center">
				<div class="day-title-section">
					<h1>Stage Two</h1>
					<span>Total Movements</span>
					<div class="day-intro">
						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/XerH6YedYUY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					<ul class="exercise-buttons">
						<li><a class="button" href="#phase2-shoulders">Shoulders</a></li>
						<li><a class="button" href="#phase2-arms">Arms</a></li>
						<li><a class="button" href="#phase2-legs">Legs</a></li>
						<li><a class="button" href="#phase2-chest">Chest</a></li>
						<li><a class="button" href="#phase2-back">Back</a></li>
					</ul>
				</div>
				
				<div id="phase2-shoulders" class="phase-section">
					<h3>Shoulders Day</h3>
					<div class="phase2-shoulders owl-carousel"></div>
				</div>
				<div id="phase2-arms" class="phase-section">
					<h3>Arms Day</h3>
					<div class="phase2-arms owl-carousel"></div>
				</div>
				<div id="phase2-legs" class="phase-section">
					<h3>Leg Day</h3>
					<div class="phase2-legs owl-carousel"></div>
				</div>
				<div id="phase2-chest" class="phase-section">
					<h3>Chest Day</h3>
					<div class="phase2-chest owl-carousel"></div>
				</div>
				<div id="phase2-back" class="phase-section">
					<h3>Back Day</h3>
					<div class="phase2-back owl-carousel"></div>
				</div>
			</div>
			<div id="phase-3" class="day-movements phase3-movements text-center">
				<div class="day-title-section">
					<h1>Stage Three</h1>
					<span>Total Movements</span>
					<div class="day-intro">
						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/s0J2PxQxElo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
					</div>
					<ul class="exercise-buttons">
						<li><a class="button" href="#phase3-shoulders">Shoulders</a></li>
						<li><a class="button" href="#phase3-arms">Arms</a></li>
						<li><a class="button" href="#phase3-legs">Legs</a></li>
						<li><a class="button" href="#phase3-chest">Chest</a></li>
						<li><a class="button" href="#phase3-back">Back</a></li>
					</ul>
				</div>
				
				<div id="phase3-shoulders" class="phase-section">
					<h3>Shoulders Day</h3>
					<div class="phase3-shoulders owl-carousel"></div>
				</div>
				<div id="phase3-arms" class="phase-section">
					<h3>Arms Day</h3>
					<div class="phase3-arms owl-carousel"></div>
				</div>
				<div id="phase3-legs" class="phase-section">
					<h3>Leg Day</h3>
					<div class="phase3-legs owl-carousel"></div>
				</div>
				<div id="phase3-chest" class="phase-section">
					<h3>Chest Day</h3>
					<div class="phase3-chest owl-carousel"></div>
				</div>
				<div id="phase3-back" class="phase-section">
					<h3>Back Day</h3>
					<div class="phase3-back owl-carousel"></div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	var phase1 = [
		{
			title: 'SEATED DB PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'bstvNLNvuIA',
			cat: 'shoulders'
		},
		{
			title: 'DB LAT RAISE',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'jdLpr2Zozog',
			cat: 'shoulders'
		},
		{
			title: 'UPRIGHT ROW',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'CG9sEmwwOvo',
			cat: 'shoulders'
		},
		{
			title: 'REAR DELT FLYES',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'HwCKS-Mb1bU',
			cat: 'shoulders'
		},
		{
			title: 'ALTERNATING DB FRONT RAISE',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'pLCcIbtAPr4',
			cat: 'shoulders'
		},
		{
			title: 'ALTERNATING DUMBELL CURL',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'ldtzsNGefbE',
			cat: 'arms'
		},
		{
			title: 'STRAIGHT BAR CURLS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'iAeb9upBMNk',
			cat: 'arms'
		},
		{
			title: 'HAMMER CURLS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'QObaLH8XRto',
			cat: 'arms'
		},
		{
			title: 'EZ BAR CURLS',
			desc: '4 Sets of 12-15 Reps',
			youtube: '3wI4zviquFA',
			cat: 'arms'
		},
		{
			title: 'CONCENTRATION CURLS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'rpmzB7VvXaE',
			cat: 'arms'
		},
		{
			title: 'SKULLCRUSHERS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'igQoOmE0uow',
			cat: 'triceps'
		},
		{
			title: 'DB KICKBACK',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'HL9hHJYJ22Y',
			cat: 'triceps'
		},
		{
			title: 'DB OVERHEAD EXTENSION',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'jWSre9UPNJU',
			cat: 'triceps'
		},
		{
			title: 'DIPS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'XWbGjKIlLGc',
			cat: 'triceps'
		},
		{
			title: 'TRICEP PUSHDOWNS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'a0rPhx2IFpM',
			cat: 'triceps'
		},
		{
			title: 'BARBELL SQUATS',
			desc: '4 Sets of 12-15 Reps',
			youtube: '6zE3ZMaFbeA',
			cat: 'leg'
		},
		{
			title: 'LEG EXTENSIONS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'vP0XJDLgWb8',
			cat: 'leg'
		},
		{
			title: 'HAMSTRING CURLS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'vl4XEGiLSuc',
			cat: 'leg'
		},
		{
			title: 'LEG PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: '0l9_1gCrFjg',
			cat: 'leg'
		},
		{
			title: 'WALKING LUNGES',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'kVfSxC1hnpI',
			cat: 'leg'
		},
		{
			title: 'CALF RAISE',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'xvnNvlDze8E',
			cat: 'leg'
		},
		{
			title: 'FLAT DB PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'dedM1kQ1HUQ',
			cat: 'chest'
		},
		{
			title: 'INCLINE DB PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'envoBGk6LcA',
			cat: 'chest'
		},
		{
			title: 'CABLE FLYES',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'LrYNOPEU9r4',
			cat: 'chest'
		},
		{
			title: 'DB FLYES',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'U2Z-QmJwQY8',
			cat: 'chest'
		},
		{
			title: 'PUSH UPS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'z4n75cKtaVI',
			cat: 'chest'
		},
		{
			title: 'BARBELL BENCH PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'Ctj8r_jW5To',
			cat: 'chest'
		},
		{
			title: 'INSIDE INCLINE DB PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'ZRnR3ymP68U',
			cat: 'chest'
		},
		{
			title: 'BENT OVER BARBELL ROW',
			desc: '4 Sets of 12-15 Reps',
			youtube: '1bqX9QD5668',
			cat: 'back'
		},
		{
			title: 'DB ROWS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'FhkhyKCHwdM',
			cat: 'back'
		},
		{
			title: 'LAT PULL DOWN',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'I6_XuNieCE8',
			cat: 'back'
		},
		{
			title: 'PULL UPS',
			desc: '4 Sets of 12-15 Reps',
			youtube: '78pWDs5fZIA',
			cat: 'back'
		},
		{
			title: 'SEATED ROW',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'vUgirvWNlaE',
			cat: 'back'
		},
		{
			title: 'CLOSE GRIP PULLDOWN',
			desc: '4 Sets of 12-15 Reps',
			youtube: '9fHFZX0QmZ8',
			cat: 'back'
		}
	],
	phase2 = [
		{
			title: 'SEATED DB PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'bstvNLNvuIA',
			cat: 'shoulders'
		},
		{
			title: 'DB LAT RAISE',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'jdLpr2Zozog',
			cat: 'shoulders',
			superset: {
				title: '',
				desc: 'Superset with Single Alternating Lat Raises'
			}
		},
		{
			title: 'ALTERNATING DB FRONT RAISE',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'pLCcIbtAPr4',
			cat: 'shoulders',
			superset: {
				title: 'REAR DELT FLYES',
				youtube: 'HwCKS-Mb1bU'
			}
		},
		{
			title: 'DB LAT RAISE',
			desc: 'Dropset 4x10 Double Side lat (20,15,10,5)',
			youtube: 'jdLpr2Zozog',
			cat: 'shoulders',
			dropset: true
		},
		{
			title: 'EZ BAR CURL',
			desc: '4 Sets of 12-15 Reps',
			youtube: '3wI4zviquFA',
			cat: 'arms',
			superset: {
				desc: 'Superset with Wide Grip Barbell Curls'
			}
		},
		{
			title: 'CONCENTRATION CURLS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'rpmzB7VvXaE',
			cat: 'arms',
			superset: {
				title: 'ALTERNATING DUMBELL CURL',
				youtube: 'ldtzsNGefbE'
			}
		},
		{
			title: 'STRAIGHT BAR CURLS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'iAeb9upBMNk',
			cat: 'arms',
			superset: {
				title: 'HAMMER CURLS',
				youtube: 'QObaLH8XRto'
			}
		},
		{
			title: 'ALTERNATING DUMBELL CURL',
			dropset: 'Dropset 4x10 Db Curls together (both arms) (20,15,10,5)',
			youtube: 'ldtzsNGefbE',
			cat: 'arms',
			dropset: true
		},
		{
			title: 'SKULLCRUSHERS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'igQoOmE0uow',
			cat: 'arms',
			superset: {
				title: 'DB OVERHEAD EXTENSION',
				youtube: 'jWSre9UPNJU'
			}
		},
		{
			title: 'TRICEP PUSHDOWNS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'a0rPhx2IFpM',
			cat: 'arms',
			superset: {
				title: 'DB KICKBACK',
				youtube: 'HL9hHJYJ22Y'
			}
		},
		{
			title: 'DIPS',
			desc: '4 Sets of 12-15 Reps',
			youtube: '',
			cat: 'arms',
			superset: {
				desc: 'Alternate with 1 arm cable pull downs.'
			}
		},
		{
			title: 'TRICEP PUSHDOWNS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'a0rPhx2IFpM',
			cat: 'arms',
			dropset: {
				desc: 'Drop set 2 hand cable'
			}
		},
		{
			title: 'BARBELL SQUATS',
			desc: '4 Sets of 12-15 Reps',
			youtube: '6zE3ZMaFbeA',
			cat: 'leg',
			superset: {
				title: 'WALKING LUNGES',
				youtube: 'kVfSxC1hnpI'
			}
		},
		{
			title: 'LEG EXTENSIONS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'vP0XJDLgWb8',
			cat: 'leg',
			superset: {
				title: 'HAMSTRING CURLS',
				youtube: 'vl4XEGiLSuc'
			}
		},
		{
			title: 'LEG PRESS',
			desc: 'Leg Press drop set 4 sets',
			youtube: '0l9_1gCrFjg',
			cat: 'leg',
			dropset: true
		},
		{
			title: 'CALF RAISE',
			desc: 'Calf raises drop set 4 set x 15-20',
			youtube: 'xvnNvlDze8E',
			cat: 'leg',
			dropset: true
		},
		{
			title: 'BARBELL BENCH PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'Ctj8r_jW5To',
			cat: 'chest',
			superset: {
				title: 'FLAT DB PRESS',
				youtube: 'dedM1kQ1HUQ'
			}
		},
		{
			title: 'INCLINE DB PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'envoBGk6LcA',
			cat: 'chest',
			superset: {
				title: 'INSIDE INCLINE DB PRESS',
				youtube: 'ZRnR3ymP68U'
			}
		},
		{
			title: 'CABLE FLYES',
			desc: 'Cable Flyes drop set 4 sets.',
			youtube: 'LrYNOPEU9r4',
			cat: 'chest',
			dropset: true
		},
		{
			title: 'PUSH UPS',
			desc: 'Push up burn out - 4 sets to failure - 1 minute break between sets',
			youtube: 'z4n75cKtaVI',
			cat: 'chest',
			dropset: true
		},
		{
			title: 'BENT OVER BARBELL ROW',
			desc: '4 Sets of 12-15 Reps',
			youtube: '1bqX9QD5668',
			cat: 'back',
			superset: {
				desc: 'Superset with Single DB Rows.'
			}
		},
		{
			title: 'LAT PULL DOWN',
			desc: 'Wide grip Lat pull down drop set 4 sets 10-12 reps.',
			youtube: 'I6_XuNieCE8',
			cat: 'back',
			dropset: true
		},
		{
			title: 'SEATED ROW',
			desc: 'Seated cable row drop set.',
			youtube: 'vUgirvWNlaE',
			cat: 'back',
			dropset: true
		},
		{
			title: 'CLOSE GRIP PULLDOWN',
			desc: 'Close Grip Lat Pull Down drop set.',
			youtube: '9fHFZX0QmZ8',
			cat: 'back',
			dropset: true
		}
	],
	phase3 = [
		{
			title: 'SEATED DB PRESS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'bstvNLNvuIA',
			cat: 'shoulders'
		},
		{
			title: 'DB LAT RAISE',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'jdLpr2Zozog',
			cat: 'shoulders' 
		},
		{
			title: 'ALTERNATING DB FRONT RAISE',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'pLCcIbtAPr4',
			cat: 'shoulders'
		},
		{
			title: 'DB LAT RAISE',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'jdLpr2Zozog',
			cat: 'shoulders'
		},
		{
			title: 'EZ BAR CURL',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: '3wI4zviquFA',
			cat: 'arms'
		},
		{
			title: 'CONCENTRATION CURLS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'rpmzB7VvXaE',
			cat: 'arms'
		},
		{
			title: 'STRAIGHT BAR CURLS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'iAeb9upBMNk',
			cat: 'arms'
		},
		{
			title: 'ALTERNATING DUMBELL CURL',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'ldtzsNGefbE',
			cat: 'arms'
		},
		{
			title: 'SKULLCRUSHERS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'igQoOmE0uow',
			cat: 'arms'
		},
		{
			title: 'TRICEP PUSHDOWNS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'a0rPhx2IFpM',
			cat: 'arms'
		},
		{
			title: 'DIPS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: '',
			cat: 'arms'
		},
		{
			title: 'TRICEP PUSHDOWNS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'a0rPhx2IFpM',
			cat: 'arms'
		},
		{
			title: 'BARBELL SQUATS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: '6zE3ZMaFbeA',
			cat: 'leg'
		},
		{
			title: 'LEG EXTENSIONS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'vP0XJDLgWb8',
			cat: 'leg'
		},
		{
			title: 'LEG PRESS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: '0l9_1gCrFjg',
			cat: 'leg'
		},
		{
			title: 'CALF RAISE',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'xvnNvlDze8E',
			cat: 'leg'
		},
		{
			title: 'BARBELL BENCH PRESS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'Ctj8r_jW5To',
			cat: 'chest'
		},
		{
			title: 'INCLINE DB PRESS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'envoBGk6LcA',
			cat: 'chest'
		},
		{
			title: 'CABLE FLYES',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'LrYNOPEU9r4',
			cat: 'chest'
		},
		{
			title: 'PUSH UPS',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'z4n75cKtaVI',
			cat: 'chest'
		},
		{
			title: 'BENT OVER BARBELL ROW',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: '1bqX9QD5668',
			cat: 'back'
		},
		{
			title: 'LAT PULL DOWN',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'I6_XuNieCE8',
			cat: 'back'
		},
		{
			title: 'SEATED ROW',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: 'vUgirvWNlaE',
			cat: 'back'
		},
		{
			title: 'CLOSE GRIP PULLDOWN',
			desc: '4 Sets of 12-15 Rep with Tempo - 3 Down 1 Up',
			youtube: '9fHFZX0QmZ8',
			cat: 'back'
		}
	];

	count = 0;
	var pointers1 = '';
	for (i = 0; i < phase1.length; i++) {
		count++;
		if(phase1[i].title) {
			var phase1moves = '<div class="cf-movement" data-hash="phase1-'+count+'"><span class="movement-cat">'+phase1[i].cat+' Exercise</span><span class="movement-counter">Movement '+count+'</span><a class="play-movement" data-izimodal-open="#modal-phase1--'+phase1[i].youtube+'"><img src="https://img.youtube.com/vi/'+phase1[i].youtube+'/maxresdefault.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a><div class="movement-meta"><h3>'+phase1[i].title+'</h3><span>'+phase1[i].desc+'</span></div><div id="modal-phase1--'+phase1[i].youtube+'" class="modal-videos modal-videos--1" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+phase1[i].youtube+'?autoplay=1&rel=0"></div>';

			if(phase1[i].tips) { // only add if there is a tip to add
				phase1moves += '<a data-izimodal-open="#phase1-tip-'+count+'" class="move-tips">TIPS</a>';
				pointers1 = '<div id="phase1-tip-'+count+'" class="move-tip"><h3>Points of Performance</h3><span>Tips for '+phase1[i].title+'</span>'+phase1[i].tips+'</div>';
				document.querySelector('.movement-tips').innerHTML += pointers1;
			}
			if(phase1[i].superset) {
				phase1moves += '<div class="superset-wrap"><div class="superset-label">Superset With</div><a data-izimodal-open="#modal-phase1-superset--'+phase1[i].superset.youtube+'"><h5><i class="fa fa-play-circle" aria-hidden="true"></i>'+phase1[i].superset.title+'</h5></a><span>'+phase1[i].superset.desc+'</span></div><div id="modal-phase1-superset--'+phase1[i].superset.youtube+'" class="modal-videos modal-videos--1" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+phase1[i].superset.youtube+'?autoplay=1&rel=0"></div>';
			}

			phase1moves += '</div>'; // Closing div for .cf-movement
			if(phase1[i].cat == 'shoulders') {
				document.querySelector('.phase1-shoulders').innerHTML += phase1moves;

			}
			if(phase1[i].cat == 'arms') {
				document.querySelector('.phase1-arms').innerHTML += phase1moves;
			}
			if(phase1[i].cat == 'triceps') {
				document.querySelector('.phase1-triceps').innerHTML += phase1moves;
			}
			if(phase1[i].cat == 'leg') {
				document.querySelector('.phase1-legs').innerHTML += phase1moves;
			}
			if(phase1[i].cat == 'chest') {
				document.querySelector('.phase1-chest').innerHTML += phase1moves;
			}
			if(phase1[i].cat == 'back') {
				document.querySelector('.phase1-back').innerHTML += phase1moves;
			}
		}
	}

	count = 0;

	for (i = 0; i < phase2.length; i++) {
		count++;
		if(phase2[i].title) {
			var phase2moves = '<div class="cf-movement" data-hash="phase2-'+count+'"><span class="movement-cat">'+phase2[i].cat+' Exercise</span><span class="movement-counter">Movement '+count+'</span><a class="play-movement" data-izimodal-open="#modal-phase2--'+phase2[i].youtube+'"><img src="https://img.youtube.com/vi/'+phase2[i].youtube+'/maxresdefault.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a><div class="movement-meta"><h3>'+phase2[i].title+'</h3>';
			if(phase2[i].dropset == true) {
				phase2moves += '<div class="dropset-label">Dropset With</div>';
			}

			phase2moves += '<span>'+phase2[i].desc+'</span></div><div id="modal-phase2--'+phase2[i].youtube+'" class="modal-videos modal-videos--2" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+phase2[i].youtube+'?autoplay=1&rel=0"></div>';

			if(phase2[i].superset) {
				phase2moves += '<div class="superset-wrap"><div class="superset-label">Superset With</div>';

				if(phase2[i].superset.title) {
					phase2moves += '<a data-izimodal-open="#modal-phase2-superset--'+phase2[i].superset.youtube+'"><h5><i class="fa fa-play-circle" aria-hidden="true"></i>'+phase2[i].superset.title+'</h5></a>';
				}
				
				if(phase2[i].superset.desc) {
					phase2moves += '<span>'+phase2[i].superset.desc+'</span>';
				}
				phase2moves += '</div><div id="modal-phase2-superset--'+phase2[i].superset.youtube+'" class="modal-videos modal-videos--2" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+phase2[i].superset.youtube+'?autoplay=1&rel=0"></div>';
			}

			phase2moves += '</div>'; // Closing div for .cf-movement
			if(phase2[i].cat == 'shoulders') {
				document.querySelector('.phase2-shoulders').innerHTML += phase2moves;

			}
			if(phase2[i].cat == 'arms') {
				document.querySelector('.phase2-arms').innerHTML += phase2moves;
			}
			if(phase2[i].cat == 'triceps') {
				document.querySelector('.phase2-triceps').innerHTML += phase2moves;
			}
			if(phase2[i].cat == 'leg') {
				document.querySelector('.phase2-legs').innerHTML += phase2moves;
			}
			if(phase2[i].cat == 'chest') {
				document.querySelector('.phase2-chest').innerHTML += phase2moves;
			}
			if(phase2[i].cat == 'back') {
				document.querySelector('.phase2-back').innerHTML += phase2moves;
			}
		}
	}

	count = 0;

	for (i = 0; i < phase3.length; i++) {
		count++;
		if(phase3[i].title) {
			var phase3moves = '<div class="cf-movement" data-hash="phase3-'+count+'"><span class="movement-cat">'+phase3[i].cat+' Exercise</span><span class="movement-counter">Movement '+count+'</span><a class="play-movement" data-izimodal-open="#modal-phase3--'+phase3[i].youtube+'"><img src="https://img.youtube.com/vi/'+phase3[i].youtube+'/maxresdefault.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a><div class="movement-meta"><h3>'+phase3[i].title+'</h3>';
			if(phase3[i].dropset == true) {
				phase3moves += '<div class="dropset-label">Dropset With</div>';
			}

			phase3moves += '<span>'+phase3[i].desc+'</span></div><div id="modal-phase3--'+phase3[i].youtube+'" class="modal-videos modal-videos--2" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+phase3[i].youtube+'?autoplay=1&rel=0"></div>';

			if(phase3[i].superset) {
				phase3moves += '<div class="superset-wrap"><div class="superset-label">Superset With</div>';

				if(phase3[i].superset.title) {
					phase3moves += '<a data-izimodal-open="#modal-phase3-superset--'+phase3[i].superset.youtube+'"><h5><i class="fa fa-play-circle" aria-hidden="true"></i>'+phase3[i].superset.title+'</h5></a>';
				}
				
				if(phase3[i].superset.desc) {
					phase3moves += '<span>'+phase3[i].superset.desc+'</span>';
				}
				phase3moves += '</div><div id="modal-phase3-superset--'+phase3[i].superset.youtube+'" class="modal-videos modal-videos--2" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+phase3[i].superset.youtube+'?autoplay=1&rel=0"></div>';
			}

			phase3moves += '</div>'; // Closing div for .cf-movement
			if(phase3[i].cat == 'shoulders') {
				document.querySelector('.phase3-shoulders').innerHTML += phase3moves;

			}
			if(phase3[i].cat == 'arms') {
				document.querySelector('.phase3-arms').innerHTML += phase3moves;
			}
			if(phase3[i].cat == 'triceps') {
				document.querySelector('.phase3-triceps').innerHTML += phase3moves;
			}
			if(phase3[i].cat == 'leg') {
				document.querySelector('.phase3-legs').innerHTML += phase3moves;
			}
			if(phase3[i].cat == 'chest') {
				document.querySelector('.phase3-chest').innerHTML += phase3moves;
			}
			if(phase3[i].cat == 'back') {
				document.querySelector('.phase3-back').innerHTML += phase3moves;
			}
		}
	}

	document.querySelector('.phase1-movements .day-title-section span').innerHTML =  phase1.length + " Total Movements";
	document.querySelector('.phase2-movements .day-title-section span').innerHTML =  phase2.length + " Total Movements";
	document.querySelector('.phase3-movements .day-title-section span').innerHTML =  phase3.length + " Total Movements";

</script>

{% comment %}{{ 'owl.carousel.min.css' | asset_url | stylesheet_tag }}
{{ 'owl.carousel.min.js' | asset_url | script_tag }}{% endcomment %}
{{ 'iziModal.min.css' | asset_url | stylesheet_tag }}
{{ 'iziModal.min.js' | asset_url | script_tag }}

<script type="text/javascript">
  jQuery(document).ready(function($) {

  	$('.program-section-buttons li a, .exercise-buttons li a').on('click', function(e) {
		e.preventDefault();
		var scroller = $(this).attr('href');
		$("html, body").animate({scrollTop: $(scroller).offset().top -100 }, 500);
	});
	// $('.exercise-buttons li a').on('click', function(e) {
	// 	e.preventDefault();
	// }); 

    $(".owl-carousel").owlCarousel({
		responsive:{
			0:{
				items:1
			},
			600:{
				items:2
			},
			800:{
				items:3
			}
		},
		nav: true,
		//center:true,
		dots: true,
		navText: [''],
		navElement: 'div',
		autoHeight:true,
		margin: 10,
		URLhashListener:true
    });


    $(".modal-videos--1").iziModal({
	    iframe : true,
	    width: 700,
	    height: 500,
	    fullscreen: true,
	    overlayColor: 'rgba(0, 0, 0, 0.9)',
	    group: 'group1'
	});
	$(".modal-videos--2").iziModal({
	    iframe : true,
	    width: 700,
	    height: 500,
	    fullscreen: true,
	    overlayColor: 'rgba(0, 0, 0, 0.9)',
	    group: 'group2'
	});

	

  });
</script>