<div class="program-overview">
	<h1>SEPTEMBER IS COMING.</h1>
	<p>It doesn't matter the time of year, as elk hunters, we're ALWAYS counting down the day until that magical time of year - September. With hunting season just around the corner, the time to prepare is now. Start our 90 Day Elk-Fit Program today, to help you prepare for success this fall.</p>
	<ul class="program-section-buttons">
		<li><a class="button" href="#phase-1">Phase 1</a></li>
		<li><a class="button" href="#phase-2">Phase 2</a></li>
		<li><a class="button" href="#phase-3">Phase 3</a></li>
	</ul>
</div>

<div class="movement-tips"></div>

<div class="row">
	<div class="col-xs-12">
		<div class="day-movements-wrap">
			<div id="phase-1" class="day-movements movements-movements text-center">
				<div class="day-title-section">
					<h1>Phase 1</h1>
					<span>Total Movements</span>
					<div class="day-intro">
						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/Vz_Ch6jubbY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						Whether it's your first time out west or you're a veteran elk hunter, phase 1 will challenge your body, increase your stamina and sky-rocket your confidence as you get ready to pack in this fall. Time is ticking - Start getting Elk Fit Today. ** For beginners, use body weight and resistance bands to complete exercises. For experts, add 25-45 lbs in your pack with either a sandbag or weight plate.
					</div>
				</div>
				<ul class="exercise-buttons">
					<li><a class="button" href="#phase1-day1">Day 1</a></li>
					<li><a class="button" href="#phase1-day2">Day 2</a></li>
					<li><a class="button" href="#phase1-day3">Day 3</a></li>
				</ul>

				<div id="phase1-day1" class="phase-section day1-section">
					<h3>DAY 1 - LOWER BODY</h3>
					<h4>START DAY 1 OFF WITH 20 MINUTES FOR DISTANCE. GO AS FAR AS YOU CAN!</h4>
					<div class="phase1-day1 owl-carousel"></div>
				</div>
				<div id="phase1-day2" class="phase-section day2-section">
					<h3>DAY 2 - UPPER BODY</h3>
					<h4>START DAY 2 OFF WITH 20 MINUTES FOR ELEVATION. GET AS HIGH AS YOU CAN!</h4>
					<div class="phase1-day2 owl-carousel"></div>
				</div>
				<div id="phase1-day3" class="phase-section day3-section">
					<h3>DAY 3 - CORE</h3>
					<h4>START DAY 3 OFF WITH 20 MINUTES HIIT FOR DISTANCE OR ELEVATION (1 MINUTE NORMAL, 1 MINUTE HIGH INTENSITY).</h4>
					<div class="phase1-day3 owl-carousel"></div>
				</div>

			</div>
			<div id="phase-2" class="day-movements day2-movements text-center">
				<div class="day-title-section">
					<h1>Phase 2</h1>
					<span>Total Movements</span>
					<div class="day-intro">
						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/QIcTjXxap6A" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						Taking the same 45 minute, 3 days a week approach, you'll now be implementing "rest-pause" sets. A rest-pause set requires you to push to failure for 3 sets with a short period of time in-between, usually 30-60 seconds. You'll decrease in reps per set but the stamina gains and lean muscle growth will be worth the effort. Remember, each day still starts with 20 minutes of cardio focusing one day on distance, the next on elevation elevation, and of course, HIIT cardio regimen. Remember to keep pushing, challenge yourself and never EVER quit. ** For beginners, use body weight and resistance bands to complete exercises. For experts, add 25-45 lbs in your pack with either a sandbag or weight plate.
					</div>

				</div>
				
				<ul class="exercise-buttons">
					<li><a class="button" href="#phase2-day1">Day 1</a></li>
					<li><a class="button" href="#phase2-day2">Day 2</a></li>
					<li><a class="button" href="#phase2-day3">Day 3</a></li>
				</ul>

				<div id="phase2-day1" class="phase-section day1-section">
					<h3>DAY 1 - LOWER BODY</h3>
					<h4>START DAY 1 OFF WITH 20 MINUTES FOR DISTANCE. GO AS FAR AS YOU CAN!</h4>
					<div class="phase2-day1 owl-carousel"></div>
				</div>
				<div id="phase2-day2" class="phase-section day2-section">
					<h3>DAY 2 - UPPER BODY</h3>
					<h4>START DAY 2 OFF WITH 20 MINUTES FOR ELEVATION. GET AS HIGH AS YOU CAN!</h4>
					<div class="phase2-day2 owl-carousel"></div>
				</div>
				<div id="phase2-day3" class="phase-section day3-section">
					<h3>DAY 3 - CORE</h3>
					<h4>START DAY 3 OFF WITH 20 MINUTES HIIT FOR DISTANCE OR ELEVATION (1 MINUTE NORMAL, 1 MINUTE HIGH INTENSITY).</h4>
					<div class="phase2-day3 owl-carousel"></div>
				</div>

			</div>
			<div id="phase-3" class="day-movements day3-movements text-center">
				<div class="day-title-section">
					<h1>Phase 3</h1>
					<span>Total Movements</span>
					<div class="day-intro">
						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/Y_HvTbd--A0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						We saved the best for last - Phase 3 is the final and the most challenging stage to the Elk-Fit Program. Keeping the same staple exercises we've used in the first 2 phases, we'll now be incorporating another form of HIIT training known as Tabata. Tabata is a high-interval training that will require both your strength and endurance. Each exercise will be broken down into 8 sets. Each set is performed for max reps in 20 seconds with 10 seconds of rest in-between. As soon as the rest period is over, you're right back into the next set. Let's finish strong. September is calling. ** For beginners, use body weight and resistance bands to complete exercises. For experts, add 25-45lbs in your pack with either a sandbag or weight plate.
					</div>
				</div>

				<ul class="exercise-buttons">
					<li><a class="button" href="#phase3-day1">Day 1</a></li>
					<li><a class="button" href="#phase3-day2">Day 2</a></li>
					<li><a class="button" href="#phase3-day3">Day 3</a></li>
				</ul>

				<div id="phase3-day1" class="phase-section day1-section">
					<h3>DAY 1 - LOWER BODY</h3>
					<h4>START DAY 1 OFF WITH 20 MINUTES FOR DISTANCE. GO AS FAR AS YOU CAN!</h4>
					<div class="phase3-day1 owl-carousel"></div>
				</div>
				<div id="phase3-day2" class="phase-section day2-section">
					<h3>DAY 2 - UPPER BODY</h3>
					<h4>START DAY 2 OFF WITH 20 MINUTES FOR ELEVATION. GET AS HIGH AS YOU CAN!</h4>
					<div class="phase3-day2 owl-carousel"></div>
				</div>
				<div id="phase3-day3" class="phase-section day3-section">
					<h3>DAY 3 - CORE</h3>
					<h4>START DAY 3 OFF WITH 20 MINUTES HIIT FOR DISTANCE OR ELEVATION (1 MINUTE NORMAL, 1 MINUTE HIGH INTENSITY).</h4>
					<div class="phase3-day3 owl-carousel"></div>
				</div>

			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	var phase1 = [
		{
			title: 'SQUATS',
			desc: '4 Sets of 20 Reps',
			youtube: 'e9aW3x3GDeo',
			day: 1
		},
		{
			title: 'STEP UPS',
			desc: '4 Sets of 20 Reps (10 each leg)',
			youtube: 'FttHGQWKEek',
			day: 1
		},
		{
			title: 'BULGARIAN SPLIT SQUAT',
			desc: '4 Sets of 20 Reps (10 each leg)',
			youtube: 'Z7Xx8BAOxKQ',
			day: 1
		},
		{
			title: 'LUNGES',
			desc: '4 Sets of 20 Reps (10 each leg)',
			youtube: 'OMJn7zI2_oA',
			day: 1
		},
		{
			title: 'CALF RAISES',
			desc: '4 Sets of 30 Reps each leg',
			youtube: 'p5EfNCfHEdg',
			day: 1
		},
		{
			title: 'TIC-TAC TOES (ABS)',
			desc: '4 Sets of 20 Reps (10 each side)',
			youtube: 'Mq6NgB8GgpM',
			day: 1
		},
		{
			title: 'BENT OVER ROW',
			desc: '4 Sets of 20 Reps',
			youtube: 'haUxPS1LsUo',
			day: 2
		},
		{
			title: 'PUSH UPS',
			desc: '4 Sets of 20 Reps',
			youtube: 'Wt5dJXnJS-A',
			day: 2
		},
		{
			title: 'SHOULDER PRESS',
			desc: '4 Sets of 20 Reps',
			youtube: 'nS8U3S7gWiM',
			day: 2
		},
		{
			title: 'TRICEP DIPS',
			desc: '4 Sets of 20 Reps',
			youtube: 'xJ3_yFlTWtA',
			day: 2
		},
		{
			title: 'GOOD MORNINGS',
			desc: '4 Sets of 20 Reps',
			youtube: 'ed4XKe7XzDQ',
			day: 2
		},
		{
			title: 'WEIGHTED SIT-UPS',
			desc: '4 Sets of 30 Reps',
			youtube: 'HDkkguXgT2Y',
			day: 2
		},
		{
			title: 'PLANKS FRONT',
			desc: '4 Sets of 30 Second holds. Keep your back as flat as possible and belly tight.',
			youtube: '717mxQfXDxg',
			day: 3
		},
		{
			title: 'SIDE PLANKS (LEFT & RIGHT)',
			desc: '4 Sets of 30 Second holds on each side. Focus on keeping your form and keep your core from sagging.',
			youtube: '8OnVAhjejq4',
			day: 3
		},
		{
			title: 'LEG LIFT HOLDS',
			desc: '4 Sets of 30 Seconds. Keep legs 6" above the ground. Tighten up that core.',
			youtube: '1SX8o9xkSv4',
			day: 3
		},
		{
			title: 'HILL CLIMBERS',
			desc: '4 Sets of 30 Seconds. Drive those legs forward and keep from dragging those toes.',
			youtube: 'agaBWGupsBQ',
			day: 3
		}
	], phase2 = [
		{
			title: 'SQUATS',
			desc: '4 Sets of 20 Reps',
			youtube: 'e9aW3x3GDeo',
			day: 1
		},
		{
			title: 'STEP UPS',
			desc: '4 Sets of 20 Reps (10 each leg)',
			youtube: 'FttHGQWKEek',
			day: 1
		},
		{
			title: 'BULGARIAN SPLIT SQUAT',
			desc: '4 Sets of 20 Reps (10 each leg)',
			youtube: 'Z7Xx8BAOxKQ',
			day: 1
		},
		{
			title: 'LUNGES',
			desc: '4 Sets of 20 Reps (10 each leg)',
			youtube: 'OMJn7zI2_oA',
			day: 1
		},
		{
			title: 'CALF RAISES',
			desc: '4 Sets of 30 Reps each leg',
			youtube: 'p5EfNCfHEdg',
			day: 1
		},
		{
			title: 'TIC-TAC TOES (ABS)',
			desc: '4 Sets of 20 Reps (10 each side)',
			youtube: 'Mq6NgB8GgpM',
			day: 1
		},
		{
			title: 'BENT OVER ROW',
			desc: '4 Sets of 20 Reps',
			youtube: 'haUxPS1LsUo',
			day: 2
		},
		{
			title: 'PUSH UPS',
			desc: '4 Sets of 20 Reps',
			youtube: 'Wt5dJXnJS-A',
			day: 2
		},
		{
			title: 'SHOULDER PRESS',
			desc: '4 Sets of 20 Reps',
			youtube: 'nS8U3S7gWiM',
			day: 2
		},
		{
			title: 'TRICEP DIPS',
			desc: '4 Sets of 20 Reps',
			youtube: 'xJ3_yFlTWtA',
			day: 2
		},
		{
			title: 'GOOD MORNINGS',
			desc: '4 Sets of 20 Reps',
			youtube: 'ed4XKe7XzDQ',
			day: 2
		},
		{
			title: 'WEIGHTED SIT-UPS',
			desc: '4 Sets of 30 Reps',
			youtube: 'HDkkguXgT2Y',
			day: 2
		},
		{
			title: 'PLANKS FRONT',
			desc: '4 Sets of 30 Second holds. Keep your back as flat as possible and belly tight.',
			youtube: '717mxQfXDxg',
			day: 3
		},
		{
			title: 'SIDE PLANKS (LEFT & RIGHT)',
			desc: '4 Sets of 30 Second holds on each side. Focus on keeping your form and keep your core from sagging.',
			youtube: '8OnVAhjejq4',
			day: 3
		},
		{
			title: 'LEG LIFT HOLDS',
			desc: '4 Sets of 30 Seconds. Keep legs 6" above the ground. Tighten up that core.',
			youtube: '1SX8o9xkSv4',
			day: 3
		},
		{
			title: 'HILL CLIMBERS',
			desc: '4 Sets of 30 Seconds. Drive those legs forward and keep from dragging those toes.',
			youtube: 'agaBWGupsBQ',
			day: 3
		}
	], phase3 = [
		{
			title: 'SQUATS',
			desc: '4 Sets of 20 Reps',
			youtube: 'e9aW3x3GDeo',
			day: 1
		},
		{
			title: 'STEP UPS',
			desc: '4 Sets of 20 Reps (10 each leg)',
			youtube: 'FttHGQWKEek',
			day: 1
		},
		{
			title: 'BULGARIAN SPLIT SQUAT',
			desc: '4 Sets of 20 Reps (10 each leg)',
			youtube: 'Z7Xx8BAOxKQ',
			day: 1
		},
		{
			title: 'LUNGES',
			desc: '4 Sets of 20 Reps (10 each leg)',
			youtube: 'OMJn7zI2_oA',
			day: 1
		},
		{
			title: 'CALF RAISES',
			desc: '4 Sets of 30 Reps each leg',
			youtube: 'p5EfNCfHEdg',
			day: 1
		},
		{
			title: 'TIC-TAC TOES (ABS)',
			desc: '4 Sets of 20 Reps (10 each side)',
			youtube: 'Mq6NgB8GgpM',
			day: 1
		},
		{
			title: 'BENT OVER ROW',
			desc: '4 Sets of 20 Reps',
			youtube: 'haUxPS1LsUo',
			day: 2
		},
		{
			title: 'PUSH UPS',
			desc: '4 Sets of 20 Reps',
			youtube: 'Wt5dJXnJS-A',
			day: 2
		},
		{
			title: 'SHOULDER PRESS',
			desc: '4 Sets of 20 Reps',
			youtube: 'nS8U3S7gWiM',
			day: 2
		},
		{
			title: 'TRICEP DIPS',
			desc: '4 Sets of 20 Reps',
			youtube: 'xJ3_yFlTWtA',
			day: 2
		},
		{
			title: 'GOOD MORNINGS',
			desc: '4 Sets of 20 Reps',
			youtube: 'ed4XKe7XzDQ',
			day: 2
		},
		{
			title: 'WEIGHTED SIT-UPS',
			desc: '4 Sets of 30 Reps',
			youtube: 'HDkkguXgT2Y',
			day: 2
		},
		{
			title: 'PLANKS FRONT',
			desc: '4 Sets of 30 Second holds. Keep your back as flat as possible and belly tight.',
			youtube: '717mxQfXDxg',
			day: 3
		},
		{
			title: 'SIDE PLANKS (LEFT & RIGHT)',
			desc: '4 Sets of 30 Second holds on each side. Focus on keeping your form and keep your core from sagging.',
			youtube: '8OnVAhjejq4',
			day: 3
		},
		{
			title: 'LEG LIFT HOLDS',
			desc: '4 Sets of 30 Seconds. Keep legs 6" above the ground. Tighten up that core.',
			youtube: '1SX8o9xkSv4',
			day: 3
		},
		{
			title: 'HILL CLIMBERS',
			desc: '4 Sets of 30 Seconds. Drive those legs forward and keep from dragging those toes.',
			youtube: 'agaBWGupsBQ',
			day: 3
		}
	];


	count = 0;
	for (i = 0; i < phase1.length; i++) {
		count++;
		if(phase1[i].title) {
			var movement = '<div class="cf-movement" data-hash="movements-'+count+'"><span class="movement-counter">Movement '+count+'</span><a class="play-movement" data-izimodal-open="#modal-movements--'+phase1[i].youtube+'"><img src="https://img.youtube.com/vi/'+phase1[i].youtube+'/maxresdefault.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a><div class="movement-meta"><h3>'+phase1[i].title+'</h3><span>'+phase1[i].desc+'</span></div><div id="modal-movements--'+phase1[i].youtube+'" class="modal-videos modal-videos--1" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+phase1[i].youtube+'?autoplay=1&rel=0"></div>';

			movement += '</div>'; // Closing div for .cf-movement
			
			if(phase1[i].day == 1) {
				document.querySelector('.phase1-day1').innerHTML += movement;
			}
			if(phase1[i].day == 2) {
				document.querySelector('.phase1-day2').innerHTML += movement;
			}
			if(phase1[i].day == 3) {
				document.querySelector('.phase1-day3').innerHTML += movement;
			}
		}
	}
	count = 0;
	for (i = 0; i < phase1.length; i++) {
		count++;
		if(phase2[i].title) {
			var desc = '3 Sets to failure (rest 30-60 seconds in between sets)';
			var movement = '<div class="cf-movement" data-hash="movements-'+count+'"><span class="movement-counter">Movement '+count+'</span><a class="play-movement" data-izimodal-open="#modal-movements--'+phase2[i].youtube+'"><img src="https://img.youtube.com/vi/'+phase2[i].youtube+'/maxresdefault.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a><div class="movement-meta"><h3>'+phase2[i].title+'</h3><span>'+desc+'</span></div><div id="modal-movements--'+phase2[i].youtube+'" class="modal-videos modal-videos--2" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+phase2[i].youtube+'?autoplay=1&rel=0"></div>';

			movement += '</div>'; // Closing div for .cf-movement
			
			if(phase2[i].day == 1) {
				document.querySelector('.phase2-day1').innerHTML += movement;
			}
			if(phase2[i].day == 2) {
				document.querySelector('.phase2-day2').innerHTML += movement;
			}
			if(phase2[i].day == 3) {
				document.querySelector('.phase2-day3').innerHTML += movement;
			}
		}
	}
	count = 0;
	for (i = 0; i < phase1.length; i++) {
		count++;
		if(phase3[i].title) {
			var desc = '8 Sets, 20 seconds on with 10 seconds of rest in-between each set.';
			var movement = '<div class="cf-movement" data-hash="movements-'+count+'"><span class="movement-counter">Movement '+count+'</span><a class="play-movement" data-izimodal-open="#modal-movements--'+phase3[i].youtube+'"><img src="https://img.youtube.com/vi/'+phase3[i].youtube+'/maxresdefault.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a><div class="movement-meta"><h3>'+phase3[i].title+'</h3><span>'+desc+'</span></div><div id="modal-movements--'+phase3[i].youtube+'" class="modal-videos modal-videos--3" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+phase3[i].youtube+'?autoplay=1&rel=0"></div>';

			movement += '</div>'; // Closing div for .cf-movement
			
			if(phase3[i].day == 1) {
				document.querySelector('.phase3-day1').innerHTML += movement;
			}
			if(phase3[i].day == 2) {
				document.querySelector('.phase3-day2').innerHTML += movement;
			}
			if(phase3[i].day == 3) {
				document.querySelector('.phase3-day3').innerHTML += movement;
			}
		}
	}
	count =0;

	//console.log(day1Moves.length);
	// var day1P = document.querySelectorAll('.movements-day1');
	// for (i = 0; i < day1P.length; ++i) {
	// 	day1P[i].innerHTML += day1Moves.join('');
	// }
	// var day2P = document.querySelectorAll('.movements-day2');
	// for (i = 0; i < day2P.length; ++i) {
	// 	day2P[i].innerHTML += day2Moves.join('');
	// }
	// var day3P = document.querySelectorAll('.movements-day3');
	// for (i = 0; i < day3P.length; ++i) {
	// 	day3P[i].innerHTML += day3Moves.join('');
	// }

	// var day1Intros = document.querySelectorAll('.day1-section');
	// for (i = 0; i < day1Intros.length; ++i) {
	//   day1Intros[i].insertAdjacentHTML('beforebegin', program[0].day1);
	// }
	// var day2Intros = document.querySelectorAll('.day2-section');
	// for (i = 0; i < day2Intros.length; ++i) {
	//   day2Intros[i].insertAdjacentHTML('beforebegin', program[0].day2);
	// }
	// var day3Intros = document.querySelectorAll('.day3-section');
	// for (i = 0; i < day3Intros.length; ++i) {
	//   day3Intros[i].insertAdjacentHTML('beforebegin', program[0].day3);
	// }

	document.querySelector('#phase-1 span').innerHTML =  phase1.length + " Total Movements";
	document.querySelector('#phase-2 span').innerHTML =  phase2.length + " Total Movements";
	document.querySelector('#phase-3 span').innerHTML =  phase3.length + " Total Movements";

</script>

{{ 'iziModal.min.css' | asset_url | stylesheet_tag }}
{{ 'iziModal.min.js' | asset_url | script_tag }}

<script type="text/javascript">
  jQuery(document).ready(function($) {

  	$('.program-section-buttons li a, .exercise-buttons li a').on('click', function(e) {
		e.preventDefault();
		var scroller = $(this).attr('href');
		$("html, body").animate({scrollTop: $(scroller).offset().top -100}, 500);
	});
	// $('.exercise-buttons li a').on('click', function(e) {
	// 	e.preventDefault();
	// }); 

    $(".owl-carousel").owlCarousel({
		responsive:{
			0:{
				items:1
			},
			600:{
				items:2
			},
			800:{
				items:3
			}
		},
		nav: true,
		//center:true,
		dots: true,
		navText: [''],
		navElement: 'div',
		autoHeight:true,
		margin: 10,
		URLhashListener:true
    });


    $(".modal-videos--1").iziModal({
	    iframe : true,
	    width: 700,
	    height: 500,
	    fullscreen: true,
	    overlayColor: 'rgba(0, 0, 0, 0.9)',
	    group: 'group1'
	});
	$(".modal-videos--2").iziModal({
	    iframe : true,
	    width: 700,
	    height: 500,
	    fullscreen: true,
	    overlayColor: 'rgba(0, 0, 0, 0.9)',
	    group: 'group2'
	});
	$(".modal-videos--3").iziModal({
	    iframe : true,
	    width: 700,
	    height: 500,
	    fullscreen: true,
	    overlayColor: 'rgba(0, 0, 0, 0.9)',
	    group: 'group3'
	});	

  });
</script>