<div class="program-overview">
	<h1>PROGRAM OVERVIEW</h1>
	<p>If you’re looking to tighten up your midsection, put on a few inches of lean muscle and  increase your body’s overall strength and conquer your next backcountry pack out, you’re in the right place. The Conquer Strength program was developed specifically for those looking to move some iron, build lean muscle and increase your body’s performance both inside the gym and outside on the mountain.</p>

	<p>This 6 week program includes a 5 day step-by-step daily routine, taking only 45 – 60 minutes per workout. The Conquer Strength program will focus on both your upper and lower body, helping you build a stronger physical foundation that you’ll come to appreciate next hunting season.</p>

	<p>If you’re ready to Train Inside and Conquer Outside, let’s get started.</p>
	
	<p>***Typical nutrition advice on protein intake is 0.8-1 g/lb of protein daily – calculating for a 180 lb person, the protein requirement would be 144-180 grams of protein “Advanced” recommendation 1.1-1.5g/lean body mass (only muscle mass) – calculating for a 180 lb person, sitting at around 10% bodyfat, the requirement would be 162 grams of protein***</p>
</div>

<div class="movement-tips"></div>

<div class="row">
	<div class="col-xs-12">
		<div class="day-movements-wrap">
			<div id="day-1" class="day-movements day1-movements text-center">
				<div class="day-title-section">
					<h1>Day 1 - Upper Body</h1>
					<span>Total Movements</span>
				</div>
				<div class="day1 owl-carousel"></div>
			</div>
			<div id="day-2" class="day-movements day2-movements text-center">
				<div class="day-title-section">
					<h1>Day 2 - Lower Body</h1>
					<span>Total Movements</span>
				</div>
				<div class="day2 owl-carousel"></div>
			</div>
			<div id="day-3" class="day-movements day3-movements text-center">
				<div class="day-title-section">
					<h1>Day 3 - Total Body</h1>
					<span>Total Movements</span>
				</div>
				<div class="day3 owl-carousel"></div>
			</div>
			<div id="day-4" class="day-movements day4-movements text-center">
				<div class="day-title-section">
					<h1>Day 4 - Upper Body</h1>
					<span>Total Movements</span>
				</div>
				<div class="day4 owl-carousel"></div>
			</div>
			<div id="day-5" class="day-movements day5-movements text-center">
				<div class="day-title-section">
					<h1>Day 5 - Total Body</h1>
					<span>Total Movements</span>
				</div>
				<div class="day5 owl-carousel"></div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	var movements = [
		{
			title: 'BARBELL BENCH PRESS',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest<br>Total reps = 60',
			youtube: 'PNSmiTBXqOQ',
			tips: '<p>Laying flat on your back, using a medium width grip (a grip that creates a 90-degree angle in the middle of the movement between the forearms and the upper arms), lift the bar from the rack and hold it straight over your chest, with your arms locked. This will be your starting position.</p><p>From the starting position, breathe in and begin coming down slowly until the bar touches your middle chest.</p><p>After a brief pause, push the bar back to the starting position as you breathe out. Focus on pushing the bar using your chest muscles. Lock your arms and squeeze your chest in the contracted position at the top of the motion, hold for a second and then start coming down slowly again. Repeat the movement for the prescribed amount of repetitions and finish by placing the bar back in the rack.</p><p>Tip: Ideally, lowering the weight should take about twice as long as raising it.</p><p>Important: If you are new at this exercise, it is advised that you use a spotter. If no spotter is available, then be conservative with the amount of weight used. Also, beware of letting the bar drift too far forward. You want the bar to touch your middle chest and nowhere else. Don’t bounce the weight off your chest. You should be in full control of the barbell at all times.<p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Barbell_Bench_Press.mp4?v=1608761799',
			day: 1
		},
		{
			title: 'BARBELL INCLINE BENCH PRESS',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest<br>Total reps = 60',
			youtube: 'Yy-LJBf2KVs',
			tips: '<p>Load the bar to an appropriate weight for your training and lay on the bench with your feet flat on the ground, driving through to your hips. Your back should be arched, and your shoulder blades retracted.</p><p>Take a medium, pronated grip covering the rings on the bar. Remove the bar from the rack, holding the weight above your chest with your arms extended. This will be your starting position.</p><p>Lower the bar to the sternum by flexing the elbows. Maintain control and do not bounce the bar off of your chest. Your lats should stay tight and elbows slightly drawn in. After touching your torso with the bar, extend the elbows to return the bar to the starting position.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Barbell_Incline_Bench_Press.mp4?v=1608761799',
			day: 1
		},
		{
			title: 'DUMBBELL FLYES',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest<br>Total reps = 60',
			youtube: 'C8RJp5dSCPQ',
			tips: '<p>Lay down on a flat bench with a dumbbell on each hand resting on top of your thighs. The palms of your hand will be facing each other.</p><p>Then using your thighs to help raise the dumbbells, lift the dumbbells one at a time so you can hold them in front of you at shoulder width with the palms of your hands facing each other. Raise the dumbbells up like you’re pressing them, but stop and hold just before you lock out. This will be your starting position.</p><p>With a slight bend on your elbows in order to prevent stress at the biceps tendon, lower your arms out at both sides in a wide arc until you feel a stretch on your chest. Breathe in as you perform this portion of the movement. Return your arms back to the starting position as you squeeze your chest muscles and breathe out.</p><p>Hold for a second at the contracted position and repeat the movement for the prescribed amount of repetitions. When finishing each set, lower the dumbbells back down to your chest and sit up, moving the dumbbells back to your thighs where you can safely return them to the dumbbell rack or to the ground.</p><p><b>Tip:</b> Keep in mind that throughout the movement, the arms should remain stationary; the movement should only occur at the shoulder joint. Make sure to use the same arc of motion used to lower the weights.</p><p>Variations: You may want to use palms facing forward version for different stimulation.</p>',
			superset: {
				title: 'PUSH-UPS',
				desc: '4 sets of 15 reps, 45 seconds rest (total reps = 60)',
				youtube: 'fbYJsSiAsGs'
			},
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/DB_Flys.mp4?v=1608761798',
			day: 1
		},
		{
			title: 'PULL-UPS',
			desc: '4 sets to failure, 45 seconds rest',
			youtube: 'LaI343tOFwM',
			tips: '<p>Grip the pull-up bar with the palms facing forward, using the prescribed grip, shoulder width apart.</p><p>As you have both arms extended in front of you holding the bar at the chosen grip width, bring your torso back around 30 degrees or so while creating a curvature on your lower back and sticking your chest out. This is your starting position.</p><p>Next, pull your torso up until the bar touches your upper chest by drawing the shoulders and the upper arms down and back. Exhale as you perform this portion of the movement.</p><p>After a second on the contracted position, start to inhale and slowly lower your torso back to the starting position when your arms are fully extended and the lats are fully stretched. Repeat this motion for the prescribed amount of repetitions.</p><p><b>Tip:</b> Concentrate on squeezing the back muscles once you reach the full contracted position. The upper torso should remain stationary as it moves through space and only the arms should move. The forearms should do no other work other than hold the bar.</p><p>Note on grips: Different grip styles target different muscles in your back. For a wide grip, your hands need to be spaced out at a distance wider than your shoulder width. For a medium grip, your hands need to be spaced out at a distance equal to your shoulder width and for a close grip at a distance smaller than your shoulder width.<p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Pull_Ups.mp4?v=1608761799',
			day: 1
		},
		{
			title: 'BENT OVER BARBELL ROW',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest<br>Total reps = 60',
			youtube: 'akjuWf8GS6Q',
			tips: '<p>Caution: This exercise is not recommended for people with back problems. A Low Pulley Row is a better choice for people with back issues. Also, just like with the bent knee dead-lift, if you have a healthy back, ensure perfect form and never slouch the back forward as this can cause back injury.</p><p>Be cautious as well with the weight used; in case of doubt, use less weight rather than more.</p><p>To start, hold a barbell with a pronated grip (palms facing down), bend your knees slightly and bring your torso forward, by bending at the waist, while keeping the back straight until it is almost parallel to the floor. Make sure that you keep the head up. The barbell should hang directly in front of you as your arms hang perpendicular to the floor and your torso. This is your starting position.</p><p>Now, while keeping the torso stationary, breathe out and lift the barbell to you. Keep the elbows close to the body and only use the forearms to hold the weight. At the top contracted position, squeeze the back muscles and hold for a brief pause. Next, inhale and slowly lower the barbell back to the starting position.</p><p>Repeat for the recommended amount of repetitions.</p><p><b>Variations:</b> You can perform the same exercise using a supinated (palms facing you) grip.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Bent_Over_Barbell_Row.mp4?v=1608761799',
			day: 1
		},
		{
			title: 'SEATED CABLE ROW',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest<br>Total reps = 60',
			youtube: 'f_aOF_xg4PQ',
			tips: '<p>For this exercise, you will need access to a low pulley row machine with a V-bar (Shown in video). The V-bar will enable you to have a neutral grip where the palms of your hands face each other. To get into the starting position, first sit down on the machine and place your feet on the front platform or crossbar provided making sure that your knees are slightly bent and not locked.</p><p>To start, Lean over as you keep the natural alignment of your back and grab the V-bar handles. With your arms extended pull back until your torso is at a 90-degree angle from your legs. Your back should be slightly arched and your chest should be sticking out. You should be feeling a nice stretch on your lats as you hold the bar in front of you. This is the starting position of the exercise.</p><p>Keeping the torso stationary, pull the handles back towards your torso while keeping the arms close to it until you touch the abdominals. Breathe out as you perform that movement. At that point, you should be squeezing your back muscles hard. Hold that contraction for a second and slowly go back to the original position while breathing in.</p><p>Repeat for the recommended amount of repetitions.</p><p>Caution: Avoid swinging your torso back and forth as you can cause lower back injury by doing so.</p><p><b>Variations:</b> You can use a straight bar instead of a V-Bar and perform with a pronated grip (palms facing down-forward) or a supinated grip (palms facing up-reverse grip).</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Seated_Cable_Rows.mp4?v=1608761799',
			day: 1
		},
		{
			title: 'HANGING LEG RAISE',
			desc: '5 sets of 25 reps, 45 seconds rest',
			youtube: 'mWKN71UBadM',
			tips: '<p>Caution: Perform this exercise slowly and deliberately as it takes some getting used to. Also, do not be hasty and try to use weights on the first time; you’ll have enough in your hands by holding your weight and also learning how to balance yourself so that you avoid swinging your torso. As you get more advanced you can hold a dumbbell in between your feet. However, you have to be very careful when adding weight to this exercise as if you add too much too quickly you could get a hernia.</p><p>Hang from a chin-up bar with both arms extended at arm’s length in top of you using either a wide grip or a medium grip. The legs should be straight down with the pelvis rolled slightly backwards. This will be your starting position.</p><p>Raise your legs until the torso makes a 90-degree angle with the legs. Exhale as you perform this movement and hold the contraction for a second or so.</p><p>Slowly lower legs to the starting position as you breathe in.</p><p>Repeat for the recommended amount of repetitions.</p><p>Variations: This exercise can also be performed using a vertical bench that makes the exercise easier by supporting your upper back in place and by allowing you to hold yourself by placing your elbows and arms on the side pads.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Hanging_Leg_Raises.mp4?v=1608761799',
			day: 1
		},
		{
			title: 'BARBELL SQUAT',
			desc: '5 sets of 8-12 reps, 45 seconds rest',
			youtube: 'Wr02R-h_hkE',
			tips: '<p>Caution: Start with learning the motion before adding weight. Everyone’s flexibility is different and it’s important to master the movement before adding any weight. Use a weightlifting belt if needed to accommodate</p><p>Begin with the barbell supported on top of the traps. The chest should be up and the head facing forward. Adopt a hip-width stance with the feet turned out as needed.</p><p>Descend by flexing the knees and lowering your butt to the ground, refraining from moving the hips back as much as possible. This requires that the knees travel forward. Ensure that they stay align with the feet. The goal is to keep the torso as upright as possible.</p><p>Continue all the way down until your bum is parallel to or below your knees, keeping the weight on the front of the heel. Upon reaching the bottom of the movement, keep your mid-section up and drive from your heels, returning to the starting, standing position.</p><p>Tip: Keep your mid-section, specifically your lower back, engaged and your chest up. As your knees travel forward during the movement, keep your chest over your toes.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Barbell_Squats.mp4?v=1608761799',
			day: 2
		},
		{
			title: 'BARBELL DEADLIFT',
			desc: '5 sets of 8-12 reps, 45 seconds rest',
			youtube: 'kqSQ3ru1Bds',
			tips: '<p>Stand over the bar so that it is centered over your feet. Your feet should be about hip-width apart. Bend at the hip to grip the bar at shoulder-width allowing your shoulder blades to protract. Typically, you would use an alternating grip, meaning one palm will face away and the other will face towards you.</p><p>With your feet and your grip set, take a big breath and then lower your hips and flex the knees until your shins contact the bar. Look forward with your head. Keep your chest up, shoulders back and your back arched and tight. Begin driving through the heels to pull the weight upward and stand up. As the bar passes the knees aggressively pull the bar back, pulling your shoulder blades together as you drive your hips forward into the bar.</p><p>Finish the movement by lowering the bar by bending at the hips and guiding it to the floor.</p><p>Repeat for the recommended amount of repetitions.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Barbell_Deadlift.mp4?v=1608761799',
			day: 2
		},
		{
			title: 'BARBELL LUNGE',
			desc: '5 sets of 8-12 reps, 45 seconds rest',
			youtube: 'mGMfR1RrdN0',
			tips: '<p>Caution: This is a movement that requires a great deal of balance so if you suffer from balance problems you may wish to either avoid it or just use your own bodyweight while holding on to a fixed object. Definitely never perform with a barbell on your back if you suffer from balance issues.</p><p>This exercise is best performed inside a squat rack for safety purposes. To begin, first set the bar on a rack just below shoulder level. Once the correct height is chosen and the bar is loaded, step under the bar and place the back of your shoulders (slightly below the neck) across it.</p><p>Hold on to the bar using both arms at each side and lift it off the rack by first pushing with your legs and at the same time straightening your torso.</p><p>Step away from the rack, far enough to avoid hitting the bar and weights on the rack, and step forward with one leg (left or right) and squat down through your hips, while keeping the torso upright and maintaining balance. Inhale as you go down. Do not allow your knee to go forward beyond your toes as you come down, as this will put undue stress on the knee joint.</p><p>Next, using mainly the heel of your foot, push up and go back to the starting position as you exhale.</p><p>Repeat the movement for the recommended amount of repetitions and then perform with the next leg.</p><p>Variations: There are several ways to perform the exercise.</p><ul><li>One way is to alternate each leg. For instance, do one repetition with the right, then the left, then the right and so on.</li><li>The other way is to do what I call a static lunge where your starting position is with one of your feet already forward. In this case, you just go up and down from that starting position until you are done with the recommended amount of repetitions. Then you switch legs repeat the exercise.</li><li>A more challenging version is the walking lunges where you walk across the room but in a lunging fashion. For walking lunges the leg being left back has to be brought forward after the lunging action has happened in order to continue moving ahead. This version is reserved for the most advanced athletes.</li></p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Barbell_Lunge.mp4?v=1608761799',
			day: 2
		},
		{
			title: 'LEG EXTENSIONS',
			desc: '5 sets of 8-12 reps, 45 seconds rest',
			youtube: 'IFmdt8kfNWQ',
			tips: '<p>For this exercise, you will need to use a leg extension machine. First choose your weight and sit on the machine with your legs under the pad (feet pointed forward) and the hands holding the side bars. This will be your starting position. You will need to adjust the pad so that it falls on top of your lower leg (just above your feet). Also, make sure that your legs form a 90-degree angle between the lower and upper leg. If the angle is less than 90-degrees then that means the knee is over the toes which in turn creates undue stress at the knee joint. If the machine is designed that way, either look for another machine or just make sure that when you start executing the exercise you stop going down once you hit the 90-degree angle.</p><p>Using your quadriceps, extend your legs to the maximum as you exhale. Ensure that the rest of the body remains stationary on the seat. Pause a second on the contracted position.</p><p>Slowly lower the weight back to the original position as you inhale, ensuring that you do not go past the 90-degree angle limit.</p><p>Repeat for the recommended amount of times.</p><p>Variations: As mentioned at in the foot positioning section, you can use various foot positions in order to maximize stimulation of certain thigh areas. Also, you can perform the movement unilaterally (one leg at a time).</p>',
			superset: {
				title: 'LEG CURL',
				desc: '5 sets of 8-12 reps, 45 seconds rest',
				youtube: 'rQ-C3fxki4Q',
				video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Leg_Curls.mp4?v=1608761799'
			},
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Leg_Extensions.mp4?v=1608761799',
			day: 2
		},
		{
			title: 'STANDING CALF RAISE',
			desc: '5 sets of 8-12 reps, 45 seconds rest',
			youtube: 'b4VhSS3KEgY',
			tips: '<p>Caution: If you suffer from lower back problems, a better exercise is the calf press as during a standing calf raise the back has to support the weight being lifted. Also, maintain your back straight and stationary at all times. Rounding of the back can cause lower back injury.</p><p>Place your shoulders under the bar, in the same starting position as if you were beginning a back-squat or lunge) and position your toes facing forward (or using any of the two other positions described at the beginning of the chapter). Lift the bar from the rack and stand tall in the starting position. The knees should be kept with a slight bend; never locked.</p><p>Raise your heels as you breathe out by extending your ankles as high as possible and flexing your calf. Ensure that the knee is kept stationary at all times. There should be no bending at any time. Hold the contracted position by a second before you start to go back down. Return slowly to the starting position as you breathe in by lowering your heels as you bend the ankles until calves are stretched.</p><p>Repeat for the recommended amount of repetitions.</p>',
			superset: {
				title: 'SEATED CALF RAISE',
				desc: '5 sets of 8-12 reps, 45 seconds rest',
				youtube: 'Y3iva7cHa5o',
				video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Seated_Calf_Raises.mp4?v=1608761798'
			},
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Standing_Calf_Raise.mp4?v=1608761799',
			day: 2
		},
		{
			title: 'V-UP CRUNCHES',
			desc: '5 sets of 8-12 reps, 45 seconds rest',
			youtube: 'Y_lSS91AfdQ',
			tips: '<p>Kneel below a high pulley using the two-handed rope attachment or a straight bar. Either will work.</p><p>Grip the cable rope, or bar, attachment and lower the rope until your hands are placed next to your face. Place hands behind head if using a bar.</p><p>Flex your hips slightly and allow the weight to hyperextend the lower back. This will be your starting position. Next. with the hips stationary, flex the waist as you contract the abs so that the elbows travel towards the middle of the thighs. Exhale as you perform this portion of the movement and hold the contraction for a second. Slowly return to the starting position as you inhale.</p><p>Repeat for the recommended amount of repetitions.</p><p>Tip: Make sure that you keep constant tension on the abs throughout the movement. Also, do not choose a weight so heavy that the lower back handles the majority of the work.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/V_ups_replacing_Cable_crunch.mp4?v=1608761799',
			day: 2
		},
		{
			title: 'LUNGES',
			desc: '3 sets of 12 reps, 45 seconds rest',
			youtube: 'Rjb169rfaCI',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Lunges.mp4?v=1608741478',
			day: 3
		},
		{
			title: 'DIPS',
			desc: '3 sets of 12 reps, 45 seconds rest',
			youtube: 'OFqfJdLXTTw',
			tips: '<p>To get into the starting position, hold your body at arm’s length with your arms nearly locked above the bars.</p><p>Now, inhale and slowly lower yourself downward. Your torso should remain upright and your elbows should stay close to your body. This helps to better focus on tricep involvement. Lower yourself until there is a 90-degree angle formed between the upper arm and forearm. Then, exhale and push your torso back up using your triceps to bring your body back to the starting position.</p><p>Repeat the movement for the prescribed amount of repetitions.</p><p>Variations: If you are new at this exercise and do not have the strength to perform it, use a dip assist machine if available. These machines use weight to help you push your body weight.</p><p>Otherwise, a spotter holding your legs can help.</p><p>More advanced lifters can add weight to the exercise by using a weight belt that allows the addition of weighted plates.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Dips_fab41cd7-670f-48d9-adad-e33f4ef2914a.mp4?v=1608761798',
			day: 3
		},
		{
			title: 'CHIN-UPS',
			desc: '3 sets of 12 reps, 45 seconds rest',
			youtube: '2B8r6jVE54U',
			tips: '<p>Grip the pull-up bar with the palms facing your torso and a grip closer than the shoulder width.</p><p>As you have both arms extended in front of you holding the bar at the chosen grip width, keep your torso as straight as possible while creating a curvature on your lower back and sticking your chest out. Keeping the torso as straight as possible maximizes biceps stimulation while minimizing back involvement. This is your starting position.</p><p>Next, As you breathe out, pull your torso up until your head is around the level of the pull-up bar. Concentrate on using the biceps muscles in order to perform the movement. Keep the elbows close to your body. The upper torso should remain stationary as it moves through space and only the arms should move. The forearms should do no other work other than hold the bar.</p><p>After a second of squeezing the biceps in the contracted position, slowly lower your torso back to the starting position; when your arms are fully extended. Breathe in as you perform this portion of the movement.</p><p>Repeat this motion for the prescribed amount of repetitions.</p><p>Variations:</p><p><ul><li>If you are new at this exercise and do not have the strength to perform it, use a pull-up assist machine if available. These machines use weight to help you push your body weight. Otherwise, a spotter holding your legs can help.</li>On the other hand, more advanced lifters can add weight to the exercise by using a weight belt that allows the addition of weighted plates.</li></ul></p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Chin_Ups_78265273-1dcb-41cb-bd19-7cca8841b0bd.mp4?v=1608761798',
			day: 3
		},
		{
			title: 'PUSH JERK',
			desc: '3 sets of 12 reps, 45 seconds rest',
			youtube: 'nHSCNzR42MA',
			tips: '<p>If available, performance the push press in an open rack that will allow you sufficient room to raise the bar above your head while standing.</p><p><b>Beginning Position:</b> Approach the bar on the rack and place your hands shoulder width apart, Grip the bar and step forward so that the bar is resting on your chest. Use your legs to raise the bar off of the rack and take a step back.</p><p><b>Upward Movement Phase:</b></p><p><ul><li>Slightly flex the hips and knees, keeping torso erect.</li><li>Immediately follow with an explosive push upward by extending the knees.</li><li>Keep torso tight and erect.</li><li>At maximum hip and knee extension, shift body weight to balls of feet and extend ankle joints.</li><li>At maximum plantar flexion, push bar from the shoulders.</li><li>Push the bar with the arms to a fully extended elbow position overhead.</li></ul></p><p>Downward Movement Phase:</p><p><ul><li>Lower bar to front of chest, level with shoulders.</li><li>Flex hips and knees slightly as bar touches shoulders.</li><li>Straighten the hips and knees before the upward movement phase begins again.</li></ul><p>Breathing:</p><ul><li>Exhale through the sticking point of the upward movement phase.</li><li>Inhale during the downward movement phase.</li></ul></p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Push_Jerk.mp4?v=1608761799',
			day: 3
		},
		{
			title: 'SEATED CALF RAISE',
			desc: '3 sets of 12 reps, 45 seconds rest',
			youtube: 'Y3iva7cHa5o',
			tips: '<p>Sit on the machine and place your toes on the lower portion of the platform provided with the heels extending off. Choose the toe positioning of your choice (forward, in, or out) as per the beginning of this chapter.</p><p>Place your lower thighs under the lever pad, which will need to be adjusted according to the height of your thighs. Now place your hands on top of the lever pad in order to prevent it from slipping forward.</p><p>Lift the lever slightly by pushing your heels up and release the safety bar. This will be your starting position.</p><p>Slowly lower your heels by bending at the ankles until the calves are fully stretched. Inhale as you perform this movement. Raise the heels by extending the ankles as high as possible as you contract the calves and breathe out. Hold the top contraction for a second and return slowly to the start position to finish the movement.</p><p>Repeat for the recommended amount of repetitions.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Seated_Calf_Raises.mp4?v=1608761798',
			day: 3
		},
		{
			title: 'SIT-UPS',
			desc: '3 sets of 12 reps, 45 seconds rest',
			youtube: '61n3ATDQXko',
			tips: '<p>Lie down on the floor and secure your feet. Your legs should be bent at the knees. Place your hands behind or to the side of your head. You will begin with your back on the ground. This will be your starting position.</p><p>Next, flex your hips and spine to raise your torso toward your knees. At the top of the contraction your torso should be perpendicular to the ground. Reverse the motion, going only 3/4 of the way down, keeping your shoulders off the ground.</p><p>Repeat for the recommended amount of repetitions.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Sit_Ups.mp4?v=1608761799',
			day: 3
		},
		// {
		// 	title: 'CLEAN AND PRESS',
		// 	desc: '4 sets of 30, 12, 10, 8, 45 seconds rest<br>Total reps = 60',
		// 	youtube: 'kkZsa_wK7VE',
		// 	tips: '<p>Approach with shoulder-width stance, with knees inside the arms. Now while keeping the back flat, bend at the knees and hips so that you can grab the bar with the arms fully extended and a pronated grip that is slightly wider than shoulder width. Point the elbows out to sides. The bar should be close to the shins. Position the shoulders over or slightly ahead of the bar. Establish a flat back posture. This will be your starting position.</p><p>Begin to pull the bar by extending the knees. Move your hips forward and raise the shoulders at the same rate while keeping the angle of the back constant; continue to lift the bar straight up while keeping it close to your body.</p><p>As the bar passes the knee, extend at the ankles, knees, and hips forcefully, similar to a jumping motion. As you do so, continue to guide the bar with your hands, shrugging your shoulders and using the momentum from your movement to pull the bar as high as possible. The bar should travel close to your body, and you should keep your elbows out.</p><p>At maximum elevation, your feet should clear the floor and you should start to pull yourself under the bar. The mechanics of this could change slightly, depending on the weight used. You should descend into a squatting position as you pull yourself under the bar.</p><p>As the bar hits terminal height, rotate your elbows around and under the bar. Rack the bar across the front of the shoulders while keeping the torso erect and flexing the hips and knees to absorb the weight of the bar.</p><p>Stand to full height, holding the bar in the clean position. Without moving your feet, press the bar overhead as you exhale. Lower the bar under control back to your chest in the resting position.</p><p>Repeat for the recommended amount of repetitions and carefully return bar to ground as to not hurt your lower back.</p>',
		// 	video: '',
		// 	day: 4
		// },
		{
			title: 'STANDING DUMBBELL PRESS',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest (total reps = 60)',
			youtube: 'qD1s4oH82nQ',
			tips: '<p>Standing with your feet shoulder width apart, take a dumbbell in each hand. Raise the dumbbells to head height, the elbows out and about 90 degrees. This will be your starting position.</p><p>Maintaining strict technique with no leg drive or leaning back, extend through the elbow to raise the weights together directly above your head. Pause at the top of the rep and slowly return the weight to the starting position.</p><p>Repeat for the recommended amount of repetitions.</p>',
			superset: {
				title: 'FRONT DUMBBELL RAISE',
				desc: '4 sets of 30, 12, 10, 8, 45 seconds rest (total reps = 60)',
				youtube: 'MRZlEGh-GFQ',
				video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/DB_Front_Raises.mp4?v=1608741478'
			},
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Standing_DB_Press.mp4?v=1608757581',
			day: 4
		},
		{
			title: 'SIDE LATERAL RAISE',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest (total reps = 60)',
			youtube: 'fa_K8zIm3mA',
			tips: '<p>Choose your desired dumbbell weight and start standing with a straight torso and the dumbbells by your side at arm’s length with the palms of the hand facing you. This will be your starting position.</p><p>While maintaining the torso in a stationary position (no swinging), lift the dumbbells to your side,like an airplane wings, with a slight bend on the elbow and the hands slightly tilted forward as if pouring water in a glass. Continue to go up until your arms are parallel to the floor. Exhale as you execute this movement and pause for a second at the top. Lower the dumbbells back down slowly to the starting position as you inhale.</p><p>Repeat for the recommended amount of repetitions.</p><p>Variation: This exercise can also be performed sitting down.</p>',
			superset: {
				title: 'UPRIGHT BARBELL ROW',
				desc: '4 sets of 30, 12, 10, 8, 45 seconds rest (total reps = 60)',
				youtube: 'X9IEPF1rQsU'
			},
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Side_Lateral_DB_Raise.mp4?v=1608761799',
			day: 4
		},
		{
			title: 'BARBELL CURL',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest (total reps = 60)',
			youtube: 'sJCC0z7-qXE',
			tips: '<p>Staring standing with your torso upright while holding a barbell at a shoulder-width grip. The palm of your hands should be facing forward/up and the elbows should be to tight to your side. This will be your starting position.</p><p>While holding the upper arms stationary, curl the weights upward while contracting the biceps as you breathe out. Only the forearms should move while your elbows stay tight at your side. Continue the movement until your biceps are fully contracted and the bar is at shoulder level. Hold the contracted position for a second and squeeze the biceps hard. Slowly begin to bring the bar back to starting position as your breathe in.</p><p>Repeat for the recommended amount of repetitions.</p><p>Variations:</p><p><ul><li>You can also perform this movement using a straight bar attachment hooked to a low pulley. This variation seems to really provide a good contraction at the top of the movement.</li><li>You may also use the closer grip for variety purposes.</li></ul></p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Barbell_Curl.mp4?v=1608761799',
			day: 4
		},
		{
			title: 'INCLINE DUMBBELL CURL',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest (total reps = 60)',
			youtube: 'r8vJm3x7z4E',
			tips: '<p>Sit back on an incline bench with a dumbbell in each hand held at arm’s length. Keep your elbows close to your torso and with your palms facing forward. This will be your starting position.</p><p>Hold your upper arm stationary and curl the weights upward while contracting the biceps as you breathe out. Only the forearms should move. Continue the movement until your biceps are fully contracted and the dumbbells are at shoulder level. Hold the contracted position for a second then slowly begin to bring the dumbbells back to starting position as you breathe in.</p><p>Repeat for the recommended amount of repetitions.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Incline_DB_Curl.mp4?v=1608761799',
			day: 4
		},
		{
			title: 'LYING TRICEP PRESS',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest',
			youtube: 'WH9TR_GajAM',
			tips: '<p>Lie on a flat bench with either an e-z bar or a straight bar placed on the floor behind your head and your feet on the floor.</p><p>Grab the bar behind you, using a medium overhand grip, and raise the bar in front of you at arm’s length. The arms should be perpendicular to the torso and the floor. The elbows should be tucked in. This is the starting position.</p><p>As you breathe in, slowly lower the weight until the bar lightly touches your forehead while keeping the upper arms and elbows stationary. Next, keeping your elbows in place, use the triceps to lower the weight back up to the starting position as you breathe out.</p><p>Repeat for the recommended amount of repetitions.</p><p>Caution: This is an exercise that you need to be very careful with when selecting the weight. Also, if you suffer from elbow problems this exercise might be too harsh on your elbows, so you may need to look for a substitute.</p><p>Variations:</p><p><ul><li>There are a few variations of this exercise. You can perform it on a decline bench as opposed to a flat bench.</li><li>You can also perform it using dumbbells in which case the palms of the hands will be facing each other as opposed to facing forward.</li><li>Also, you can try to do it using a reverse grip (palms facing you) but this variation seems to strain my wrists.</li></ul></p>',
			superset: {
				title: 'ONE-ARM TRICEP EXTENSION',
				desc: '4 sets of 30, 12, 10, 8, 45 seconds rest',
				youtube: 'nqSm2gBz138',
				video: ''
			},
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Lying_Tricep_Press.mp4?v=1608761799',
			day: 4
		},
		{
			title: 'BARBELL WRIST CURL OVER A BENCH',
			desc: '4 sets of 30, 12, 10, 8, 45 seconds rest',
			youtube: '-Qzul75_Vqc',
			tips: '<p>Start out by placing a barbell on one side of a flat bench and then kneel down on both of your knees so that your body is facing the flat bench.</p><p>Use your arms to grab the barbell with your palms facing up and bring them up so that your forearms are resting against the flat bench. Your wrists should be hanging over the edge.</p><p>Start out by curling your wrist upwards and exhaling.Slowly lower your wrists back down to the starting position while inhaling. Your forearms should be stationary as your wrist is the only movement needed to perform this exercise.</p><p>Repeat for the recommended amount of repetitions.</p><p>Variations:</p><p><ul><li>This exercise can also be performed sitting down by using your thighs as a resting position for your forearms. Your wrist can hang over your knees and the same movements as mentioned above can be performed.</li><li>You can also use a dumbbell instead of a barbell.</li></ul></p>',
			superset: {
				title: 'REVERSE CURLS',
				desc: '4 sets of 30, 12, 10, 8, 45 seconds rest',
				youtube: 'KIVE_MoqNwI',
				video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Reverse_Lunges.mp4?v=1608761823'
			},
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/DB_Wrist_Curl_over_Bench.mp4?v=1608761799',
			day: 4
		},
		{
			title: 'DECLINE SIT-UPS',
			desc: '4 sets of 25 reps, 45 seconds',
			youtube: 'KelSTxu9Wwc',
			tips: '<p>Set the decline bench to an angle of between 30 and 45 degrees (the steeper than angle, the harder the sit-ups will be).</p><p>Sit on the bench with your legs resting through the pads and then cross your arms across your chest and lean back until your back almost touches the bench.</p><p>Raise yourself back up until your upper body is vertical, then lower again.</p><p>Sit Up Tips:</p><p>Don’t go too far down or up. Your back should never touch the bench and you only need to pull up until your upper body is vertical.</p><p>You can add a twist to work your obliques harder if you like.</p><p>Hold a weight plate or dumbbell in your arms for added resistance and intensity.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Decline_Sit_Ups.mp4?v=1608761799',
			day: 4
		},
		{
			title: 'FRONT BARBELL SQUAT',
			desc: '4 sets of 8-12 reps, 45 seconds rest',
			youtube: 'DB4EGq9bK_k',
			tips: '<p>Caution: This is not an exercise to be taken lightly. If you have back issues, substitute it with the dumbbell squat variation or a leg press instead. If you have a healthy back, ensure perfect form and never slouch the back forward as this can cause back injury. Be cautious as well with the weight used; in case of doubt, use less weight rather than more. The front squat is a very safe exercise but only if performed properly. This version of the squat is better suited for advanced athletes.</p><p>This exercise is best performed inside a squat rack for safety purposes. To begin, first set the bar on a rack so that the bar, when racked, sits just below your shoulder height. Once the correct height is chosen and the bar is loaded, bring your arms up under the bar while keeping the elbows high and the upper arm slightly above parallel to the floor. Rest the bar on top of the deltoids and cross your arms while grasping the bar for total control.</p><p>If you perform this exercise correctly, the front of the knees should make an imaginary straight line with the toes that is perpendicular to the front. If your knees are past that imaginary line (if they are past your toes) then you are placing undue stress on the knee and the exercise has been performed incorrectly.</p><p>To start, lift the bar off the rack by first pushing with your legs and at the same time straightening your torso and then step away from the rack and position your legs using a shoulder width medium stance with the toes slightly pointed out. Keep your head up at all times as looking down will get you off balance and also maintain a straight back. This will be your starting position.</p><p>Begin to slowly lower the bar by bending the knees as you maintain a straight posture with the head up. Continue down until the angle between the upper leg and the calves becomes slightly less than 90-degrees. Inhale as you perform this portion of the movement. Begin to raise the bar as you exhale by pushing the floor mainly with the middle of your foot as you straighten the legs again and return to the starting position.</p><p>Repeat for the recommended amount of repetitions.</p><p>Variations: As previously mentioned, there are various stances that can be used depending on what you want to emphasize. You can also place a small block under the heels to improve balance.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Barbell_Squats.mp4?v=1608761799',
			day: 5
		},
		{
			title: 'BARBELL DEADLIFT',
			desc: '3 sets of 10, 6, 4 reps, 45 seconds rest',
			youtube: 'kqSQ3ru1Bds',
			tips: '<p>Stand over the bar so that it is centered over your feet. Your feet should be about hip-width apart. Bend at the hip to grip the bar at shoulder-width allowing your shoulder blades to protract. Typically, you would use an alternating grip, meaning one palm will face away and the other will face towards you.</p><p>With your feet and your grip set, take a big breath and then lower your hips and flex the knees until your shins contact the bar. Look forward with your head. Keep your chest up, shoulders back and your back arched and tight. Begin driving through the heels to pull the weight upward and stand up. As the bar passes the knees aggressively pull the bar back, pulling your shoulder blades together as you drive your hips forward into the bar.</p><p>Finish the movement by lowering the bar by bending at the hips and guiding it to the floor.</p><p>Repeat for the recommended amount of repetitions.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Barbell_Deadlift.mp4?v=1608761799',
			day: 5
		},
		{
			title: 'BARBELL LUNGE',
			desc: '4 sets of 8-12 reps, 45 seconds rest',
			youtube: 'mGMfR1RrdN0',
			tips: '<p>Caution: This is a movement that requires a great deal of balance so if you suffer from balance problems you may wish to either avoid it or just use your own bodyweight while holding on to a fixed object. Definitely never perform with a barbell on your back if you suffer from balance issues.</p><p>This exercise is best performed inside a squat rack for safety purposes. To begin, first set the bar on a rack just below shoulder level. Once the correct height is chosen and the bar is loaded, step under the bar and place the back of your shoulders (slightly below the neck) across it.</p><p>Hold on to the bar using both arms at each side and lift it off the rack by first pushing with your legs and at the same time straightening your torso.</p><p>Step away from the rack, far enough to avoid hitting the bar and weights on the rack, and step forward with one leg (left or right) and squat down through your hips, while keeping the torso upright and maintaining balance. Inhale as you go down. Do not allow your knee to go forward beyond your toes as you come down, as this will put undue stress on the knee joint.</p><p>Next, using mainly the heel of your foot, push up and go back to the starting position as you exhale.</p><p>Repeat the movement for the recommended amount of repetitions and then perform with the next leg.</p><p>Variations: There are several ways to perform the exercise.</p><p><ul><li>One way is to alternate each leg. For instance, do one repetition with the right, then the left, then the right and so on.</li><li>The other way is to do what I call a static lunge where your starting position is with one of your feet already forward. In this case, you just go up and down from that starting position until you are done with the recommended amount of repetitions. Then you switch legs repeat the exercise.</li><li>A more challenging version is the walking lunges where you walk across the room but in a lunging fashion. For walking lunges the leg being left back has to be brought forward after the lunging action has happened in order to continue moving ahead. This version is reserved for the most advanced athletes.</li></ul></p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Barbell_Lunge.mp4?v=1608761799',
			day: 5
		},
		{
			title: 'LEG EXTENSIONS',
			desc: '4 sets of 8-12 reps, 45 seconds rest',
			youtube: 'IFmdt8kfNWQ',
			tips: '<p>For this exercise, you will need to use a leg extension machine. First choose your weight and sit on the machine with your legs under the pad (feet pointed forward) and the hands holding the side bars. This will be your starting position. You will need to adjust the pad so that it falls on top of your lower leg (just above your feet). Also, make sure that your legs form a 90-degree angle between the lower and upper leg. If the angle is less than 90-degrees then that means the knee is over the toes which in turn creates undue stress at the knee joint. If the machine is designed that way, either look for another machine or just make sure that when you start executing the exercise you stop going down once you hit the 90-degree angle.</p><p>Using your quadriceps, extend your legs to the maximum as you exhale. Ensure that the rest of the body remains stationary on the seat. Pause a second on the contracted position.</p><p>Slowly lower the weight back to the original position as you inhale, ensuring that you do not go past the 90-degree angle limit.</p><p>Repeat for the recommended amount of times.</p><p>Variations: As mentioned at in the foot positioning section, you can use various foot positions in order to maximize stimulation of certain thigh areas. Also, you can perform the movement unilaterally (one leg at a time).</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Leg_Extensions.mp4?v=1608761799',
			day: 5
		},
		{
			title: 'LEG CURL',
			desc: '4 sets of 8-12 reps, 45 seconds rest',
			youtube: 'rQ-C3fxki4Q',
			tips: '<p>Adjust the machine lever to fit your height and sit on the machine with your back against the back-support pad. Place the back of lower leg on top of padded lever (just a few inches under the calves) and secure the lap pad against your thighs, just above the knees. Then grasp the side handles on the machine as you point your toes straight (or you can also use any of the other two stances) and ensure that the legs are fully straight right in front of you. This will be your starting position.</p><p>As you exhale, pull the machine lever as far as possible, driving your heels to the back of your thighs, by flexing at the knees. Keep your torso stationary at all times. Hold the contracted position for a second then slowly return to the starting position as you breathe in.</p><p>Repeat for the recommended amount of repetitions.</p><p>Caution: Do not ever use so much weight on the exercise that you start using swinging and jerking as you can risk both lower back injury and also a hamstring tear.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Leg_Curls.mp4?v=1608761799',
			day: 5
		},
		{
			title: 'V-UP CRUNCHES',
			desc: '5 sets of 8-12 reps, 45 seconds rest',
			youtube: 'Y_lSS91AfdQ',
			tips: '<p>Kneel below a high pulley using the two-handed rope attachment or a straight bar. Either will work.</p><p>Grip the cable rope, or bar, attachment and lower the rope until your hands are placed next to your face. Place hands behind head if using a bar.</p><p>Flex your hips slightly and allow the weight to hyperextend the lower back. This will be your starting position. Next. with the hips stationary, flex the waist as you contract the abs so that the elbows travel towards the middle of the thighs. Exhale as you perform this portion of the movement and hold the contraction for a second. Slowly return to the starting position as you inhale.</p><p>Repeat for the recommended amount of repetitions.</p><p>Tip: Make sure that you keep constant tension on the abs throughout the movement. Also, do not choose a weight so heavy that the lower back handles the majority of the work.</p>',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/V_ups_replacing_Cable_crunch.mp4?v=1608761799',
			day: 5
		}
	];


	count = 0;
	day1Counter = 0;
	day2Counter = 0;
	day3Counter = 0;
	day4Counter = 0;
	day5Counter = 0;
	for (i = 0; i < movements.length; i++) {
		count++;
		if(movements[i].title) {
			var movement = '<div class="cf-movement"><span class="movement-counter">Movement '+count+'</span><div class="video-controls"><a class="pause-control" href="#" data-video="video-'+count+'"><i class="fal fa-pause-circle"></i></a><a class="play-control" href="#" data-video="video-'+count+'"><i class="fal fa-play-circle"></i></a></div>';
			if(movements[i].video != null) {
				movement +='<video playsinline loop muted class="video-'+count+'" preload="none"><source src="'+movements[i].video+'" type="video/mp4"></video>';
			} else {
				movement += '<img src="'+movements[i].image+'">';
			}
			movement += '<div class="movement-meta"><h3>'+movements[i].title+'</h3><span>'+movements[i].desc+'</span></div>';
			if(movements[i].superset) {
				movement += '<div class="superset-wrap"><h5>Superset With '+movements[i].superset.title+'</h5></a><span>'+movements[i].superset.desc+'</span></div>';
			}
			movement += '</div>'; // Closing div for .cf-movement
			
			if(movements[i].day == 1) {
				document.querySelector('.day1').innerHTML += movement;
				day1Counter++;
			} else if(movements[i].day == 2) {
				document.querySelector('.day2').innerHTML += movement;
				day2Counter++;
			} else if(movements[i].day == 3) {
				document.querySelector('.day3').innerHTML += movement;
				day2Counter++;
			} else if(movements[i].day == 4) {
				document.querySelector('.day4').innerHTML += movement;
				day4Counter++;
			} else if(movements[i].day == 5) {
				document.querySelector('.day5').innerHTML += movement;
				day5Counter++;
			}
		}
	}
	count = 0;

	document.querySelector('.day1-movements .day-title-section span').innerHTML = day1Counter + " Total Movements";
	document.querySelector('.day2-movements .day-title-section span').innerHTML = day2Counter + " Total Movements";
	document.querySelector('.day3-movements .day-title-section span').innerHTML = day3Counter + " Total Movements";
	document.querySelector('.day4-movements .day-title-section span').innerHTML = day4Counter + " Total Movements";
	document.querySelector('.day5-movements .day-title-section span').innerHTML = day5Counter + " Total Movements";

</script>

{{ 'iziModal.min.css' | asset_url | stylesheet_tag }}
{{ 'iziModal.min.js' | asset_url | script_tag }}

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".owl-carousel").owlCarousel({
			responsive:{
				0:{
					items:2
				},
				700:{
					items:3
				},
				1000:{
					items:4
				}
			},
			nav: false,
			//center:true,
			dots: true,
			navText: [''],
			navElement: 'div',
			margin: 10
	  });

	  $( window ).on('load', function() {
    	loadVideos($('.day-movements'));
		});

		function loadVideos(elem) {
			elem.addClass('loaded');
			elem.find('video').each(function(){
				$(this)[0].play();
		  });
		}

  //   function isOnScreen(elem) {
		// 	if( elem.length == 0 ) {
		// 		return;
		// 	}
		// 	$window = $(window),
		// 	top_of_screen = $window.scrollTop(),
		// 	screen_height = $window.innerHeight(),
		// 	bottom_of_screen = top_of_screen + screen_height,
		// 	$elem = $(elem),
		// 	top_of_element = $elem.offset().top,
		// 	height = $elem.height(),
		// 	bottom_of_element = top_of_element + height;

		// 	if(bottom_of_screen > top_of_element) {
		// 		scrollCheck = true;
		// 		console.log($elem);
		// 		loadVideos($elem);
		// 	}
		// }
		
		// $(window).scroll(function(e) {
		// 	$('.day-movements').each(function(e) {
		// 		if(!$(this).hasClass("loaded") && $(this).has('video').length) {
		// 			isOnScreen('#'+$(this).attr('id'));	
		// 		}
		// 	});
			
		// 	//if(scrollCheck == false) {
				
		// 	//}
		// });

		// function loadVideos(elem) {
		// 	elem.addClass('loaded');
		// 	elem.find('video').each(function(){
		// 		$(this)[0].play();
		//   });
		// }

	 //    $(".move-tip").iziModal({
	 //    	padding: 20,
	 //    	transitionIn: 'comingIn',
	 //    	transitionOut: 'comingOut',
	 //    	overlayColor: 'rgba(0, 0, 0, 0.9)',
	 //    	radius: 0
	 //    });

	 //    $(".modal-videos--1").iziModal({
		//     iframe : true,
		//     width: 700,
		//     height: 500,
		//     fullscreen: true,
		//     overlayColor: 'rgba(0, 0, 0, 0.9)',
		//     group: 'group1'
		// });
		// $(".modal-videos--2").iziModal({
		//     iframe : true,
		//     width: 700,
		//     height: 500,
		//     fullscreen: true,
		//     overlayColor: 'rgba(0, 0, 0, 0.9)',
		//     group: 'group2'
		// });
		// $(".modal-videos--3").iziModal({
		//     iframe : true,
		//     width: 700,
		//     height: 500,
		//     fullscreen: true,
		//     overlayColor: 'rgba(0, 0, 0, 0.9)',
		//     group: 'group3'
		// });
		// $(".modal-videos--4").iziModal({
		//     iframe : true,
		//     width: 700,
		//     height: 500,
		//     fullscreen: true,
		//     overlayColor: 'rgba(0, 0, 0, 0.9)',
		//     group: 'group4'
		// });
		// $(".modal-videos--5").iziModal({
		//     iframe : true,
		//     width: 700,
		//     height: 500,
		//     fullscreen: true,
		//     overlayColor: 'rgba(0, 0, 0, 0.9)',
		//     group: 'group5'
		// });
  });
</script>