
<div class="program-overview">
	<h1>PROGRAM OVERVIEW</h1>
	<p>It doesn’t matter what level of fitness you’re at in your life, guy or gal, beginner or expert. Everyone has the goal to be in the best shape possible and that all starts right here with the MTN OPS Conquer Weight-Loss Program.</p>

	<p>The Conquer Weight-Loss program was been created to be as user friendly and straightforward as possible. It doesn’t matter if you’re at home, the gym or on the road traveling. This 30 day – 3 or 5 day a week circuit program, will help you burn fat, tone up and see results, fast.</p>

	<p>If you’re committed to tackling your health goals, let’s get started today and help you to conquer your weight-loss goals.</p>

	<p>***Typical nutrition advice on protein intake is 0.8-1 g/lb of protein daily – calculating for a 180 lb person, the protein requirement would be 144-180 grams of protein “Advanced” recommendation 1.1-1.5g/lean body mass (only muscle mass) – calculating for a 180 lb person, sitting at around 10% bodyfat, the requirement would be 162 grams of protein***</p>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="day-movements-wrap">
			<div id="day-1" class="day-movements day1-movements text-center">
				<div class="day-title-section">
					<h1>Monday, Wednesday, Friday</h1>
					<span>Total Movements</span>
				</div>
				<div class="day1 owl-carousel"></div>
			</div>
			<div id="day-2" class="day-movements day2-movements text-center">
				<div class="day-title-section">
					<h1>Tuesday & Thursday</h1>
					<span>Total Movements</span>
				</div>
				<div class="day2 owl-carousel"></div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	var movements = [
		{
			title: 'Air Squats',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Air_Squats.mp4?v=1608761823',
			youtube: 'EQALMrVKiFE',
			day: 1
		},
		{
			title: 'Sumo Squats',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Sumo_Squats.mp4?v=1608761823',
			youtube: '2Y0PjU-5Txo',
			day: 1
		},
		{
			title: 'WIDE-HAND PUSH-UPS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Wide-Hand_Push_Ups.mp4?v=1608761823',
			youtube: 'gdXxb-tLEqs',
			day: 1
		},
		{
			title: 'RENEGADE ROWS WITH PUSH-UPS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Renegade_Rows_With_Push_Ups.mp4?v=1608761823',
			youtube: 'WqACZeYqGjY',
			day: 1
		},
		{
			title: 'SIDE PLANK ROTATIONS WITH REACH',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Side_Plank_rotation_with_reach.mp4?v=1608761822',
			youtube: 'dUT158jeDQs',
			day: 1
		},
		{
			title: 'REVERSE LUNGES',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Reverse_Lunges.mp4?v=1608761823',
			youtube: 'hg1SxmaL0rg',
			day: 1
		},
		{
			title: 'JUMP ROPE',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Jump_Rope.mp4?v=1608761822',
			youtube: 'vDUAtkQP7Ls',
			day: 1
		},
		{
			title: 'WIDE-STANCE BAND CURLS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Wide_Stance_Band_Curls.mp4?v=1608761823',
			youtube: '5ZdRwADtiDs',
			day: 1
		},
		{
			title: 'WINDSHIELD WIPERS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Windshield_Wipers.mp4?v=1608761823',
			youtube: '9dZ4QsSLQ1M',
			day: 1
		},
		{
			title: 'SPEED SQUATS',
			desc: '1 set for 30 seconds.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Speed_Squats.mp4?v=1608761823',
			youtube: 'ticjG0NdUVk',
			day: 1
		},
		{
			title: 'QUICK FEET',
			desc: '1 set for 30 seconds.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Quick_Feet.mp4?v=1608761822',
			youtube: '20cRcgmaWtI',
			day: 1
		},
		{
			title: 'SKATER JUMPS',
			desc: '1 set for 30 seconds.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Skater_Jumps.mp4?v=1608761823',
			youtube: '52AIog83ckI',
			day: 1
		},
		{
			title: 'SPEED JUMPING JACKS',
			desc: '1 set for 30 seconds.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Speed_Jumping_Jacks.mp4?v=1608761822',
			youtube: 'XDpsZM83-vk',
			day: 1
		},
		{
			title: 'HIGH-KNEE STATIONARY SPRINT',
			desc: '1 set for 30 seconds.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/High-Knee_Stationary_Sprint.mp4?v=1608761822',
			youtube: 'qi8nwg2F28Q',
			day: 1
		},
		{
			title: 'BURPEES',
			desc: '1 set for 30 seconds.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Burpees_d4fcd0cf-c5a3-4335-840a-2b51a20e31bb.mp4?v=1608761822',
			youtube: 'a7H83Dh9eS0',
			day: 1
		},

		{
			title: 'Speed Squats',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Speed_Squats.mp4?v=1608761823',
			youtube: 'ticjG0NdUVk',
			day: 2
		},
		{
			title: 'ISOMETRIC SQUAT HOLD',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Isometric_Squat_Hold.mp4?v=1608761822',
			youtube: 'PCiVc8tcXW0',
			day: 2
		},
		{
			title: 'LUNGES',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Lunges_bf461589-1db1-4b3e-b27e-8a7d10c4ee51.mp4?v=1608761823',
			youtube: 'Rjb169rfaCI',
			day: 2
		},
		{
			title: 'SQUAT JUMPS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Squat_Jumps.mp4?v=1608761822',
			youtube: 'omYUCMB6r4c',
			day: 2
		},
		{
			title: 'RESISTANCE BAND BENT OVER ROWS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Resistance_Bands_Bent_Over_Rows.mp4?v=1608761823',
			youtube: '_EjZGA_2_X0',
			day: 2
		},
		{
			title: 'RESISTANCE BAND CHEST PRESS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Resistance_Bands_Chest_Press.mp4?v=1608761823',
			youtube: 'aW7fpCML9Rs',
			day: 2
		},
		{
			title: 'WIDE-STANCE BAND CURLS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Wide_Stance_Band_Curls.mp4?v=1608761823',
			youtube: '5ZdRwADtiDs',
			day: 2
		},
		{
			title: 'SEATED DIPS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Seated_Dips.mp4?v=1608761823',
			youtube: 'rEOmFNvW0s0',
			day: 2
		},
		{
			title: 'SKATER JUMPS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Skater_Jumps.mp4?v=1608761823',
			youtube: '52AIog83ckI',
			day: 2
		},
		{
			title: 'FROG JUMPS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Frog_Jumps.mp4?v=1608761822',
			youtube: 'oCxX76MmmbA',
			day: 2
		},
		{
			title: 'BICYCLE CRUNCHES',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Bicycle_Kicks.mp4?v=1608761821',
			youtube: '1L1tA-oo1zg',
			day: 2
		},
		{
			title: 'SUPERMANS',
			desc: '2–3 sets for 30 seconds with 20 second rest in between sets.',
			video: 'https://cdn.shopify.com/s/files/1/2786/4584/files/Supermans.mp4?v=1608741477',
			youtube: 'AOL5b9iiHTA',
			day: 2
		}
	];

	// count = 0;
	
	// for (i = 0; i < day1.length; i++) {
	// 	count++;
	// 	if(day1[i].title) {
	// 		var movement1 = '<div class="cf-movement"><span class="movement-counter">Movement '+count+'</span><a class="play-movement" data-izimodal-open="#modal-day1--'+day1[i].youtube+'"><img src="https://img.youtube.com/vi/'+day1[i].youtube+'/maxresdefault.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a><div class="movement-meta"><h3>'+day1[i].title+'</h3><span>'+day1[i].desc+'</span></div><div id="modal-day1--'+day1[i].youtube+'" class="modal-videos modal-videos--1" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+day1[i].youtube+'?autoplay=1&rel=0"></div></div>';
	// 		document.querySelector('.day1-moves').innerHTML += movement1;
	// 	}
	// }
	// count = 0;
	
	// for (i = 0; i < day2.length; i++) {
	// 	count++;
	// 	if(day2[i].title) {
	// 		var movement2 = '<div class="cf-movement"><span class="movement-counter">Movement '+count+'</span><a class="play-movement" data-izimodal-open="#modal-day2--'+day2[i].youtube+'"><img src="https://img.youtube.com/vi/'+day2[i].youtube+'/maxresdefault.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a><div class="movement-meta"><h3>'+day2[i].title+'</h3><span>'+day2[i].desc+'</span></div><div id="modal-day2--'+day2[i].youtube+'" class="modal-videos modal-videos--2" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+day2[i].youtube+'?autoplay=1&rel=0"></div></div>';
	// 		document.querySelector('.day2-moves').innerHTML += movement2;
	// 	}
	// }


	count = 0;
	day1Counter = 0;
	day2Counter = 0;
	for (i = 0; i < movements.length; i++) {
		count++;
		if(movements[i].title) {
			var movement = '<div class="cf-movement"><span class="movement-counter">Movement '+count+'</span><div class="video-controls"><a class="pause-control" href="#" data-video="video-'+count+'"><i class="fal fa-pause-circle"></i></a><a class="play-control" href="#" data-video="video-'+count+'"><i class="fal fa-play-circle"></i></a></div>';
			if(movements[i].video != null) {
				movement +='<video playsinline loop muted class="video-'+count+'" preload="none"><source src="'+movements[i].video+'" type="video/mp4"></video>';
			} else {
				movement += '<img src="'+movements[i].image+'">';
			}
			movement += '<div class="movement-meta"><h3>'+movements[i].title+'</h3><span>'+movements[i].desc+'</span></div>';
			movement += '</div>'; // Closing div for .cf-movement
			
			if(movements[i].day == 1) {
				document.querySelector('.day1').innerHTML += movement;
				day1Counter++;
			} else if(movements[i].day == 2) {
				document.querySelector('.day2').innerHTML += movement;
				day2Counter++;
			}
		}
	}
	count = 0;

	document.querySelector('.day1-movements .day-title-section span').innerHTML = day1Counter + " Total Movements";
	document.querySelector('.day2-movements .day-title-section span').innerHTML = day2Counter + " Total Movements";
	// $('ul.day-tabs li').click(function() {
	// 	var tab_id = $(this).attr('data-tab');

	// 	$('ul.day-tabs li').removeClass('current');
	// 	$('.tab-content').removeClass('current');

	// 	$(this).addClass('current');
	// 	$("#"+tab_id).addClass('current');
	// });
// 	$('.pointer-link').on('click', function(evt) {
// 		evt.preventDefault();
// 		var tip = $(this).data('tip');
// //			$(this).toggleClass('tip-active');
// 		$(this).parent().toggleClass('tip-active');
// 		$(tip).slideToggle();
// 	});
	

</script>

{{ 'iziModal.min.css' | asset_url | stylesheet_tag }}
{{ 'iziModal.min.js' | asset_url | script_tag }}

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $(".owl-carousel").owlCarousel({
			responsive:{
				0:{
					items:2
				},
				700:{
					items:3
				},
				1000:{
					items:4
				}
			},
			nav: false,
			//center:true,
			dots: true,
			navText: [''],
			navElement: 'div',
			//autoHeight: true,
			margin: 5
    });

    $( window ).on('load', function() {
    	loadVideos($('.day-movements'));
		});

		function loadVideos(elem) {
			elem.addClass('loaded');
			elem.find('video').each(function(){
				$(this)[0].play();
		  });
		}

  //   function isOnScreen(elem) {
		// 	if( elem.length == 0 ) {
		// 		return;
		// 	}
		// 	$window = $(window),
		// 	top_of_screen = $window.scrollTop(),
		// 	screen_height = $window.innerHeight(),
		// 	bottom_of_screen = top_of_screen + screen_height,
		// 	$elem = $(elem),
		// 	top_of_element = $elem.offset().top,
		// 	height = $elem.height(),
		// 	bottom_of_element = top_of_element + height;

		// 	if(bottom_of_screen > top_of_element) {
		// 		scrollCheck = true;
		// 		console.log($elem);
		// 		loadVideos($elem);
		// 	}
		// }
		
		// $(window).scroll(function(e) {
		// 	$('.day-movements').each(function(e) {
		// 		if(!$(this).hasClass("loaded") && $(this).has('video').length) {
		// 			isOnScreen('#'+$(this).attr('id'));	
		// 		}
		// 	});
			
		// 	//if(scrollCheck == false) {
				
		// 	//}
		// });

		// function loadVideos(elem) {
		// 	elem.addClass('loaded');
		// 	elem.find('video').each(function(){
		// 		$(this)[0].play();
		//   });
		// }

  //   $(".modal-videos--1").iziModal({
	 //    iframe : true,
	 //    width: 700,
	 //    height: 500,
	 //    fullscreen: true,
	 //    overlayColor: 'rgba(0, 0, 0, 0.9)',
	 //    group: 'group1'
		// });
		// $(".modal-videos--2").iziModal({
		//     iframe : true,
		//     width: 700,
		//     height: 500,
		//     fullscreen: true,
		//     overlayColor: 'rgba(0, 0, 0, 0.9)',
		//     group: 'group2'
		// });

  });
</script>