<div class="program-overview">
	<h1>PROGRAM OVERVIEW</h1>
	<p>Ready or not, hunting season will be here before you know it. Tap into Zac Griffith’s fitness expertise and kick-start your training with a 30-Day comprehensive Push/Pull Program that will leave you exhausted and hungry for more.</p>

	<p>This 30-Day Program focuses on the most basic movements that will help you build a strong, lean core that will allow you to excel on the mountain. If your goal is to Conquer 2018 hunting season, this program is for you.</p>
	<ul class="program-section-buttons">
		<li><a class="button" href="#day-1">Push Day</a></li>
		<li><a class="button" href="#day-2">Pull Day</a></li>
		<li><a class="button" href="#day-3">Rest Day</a></li>
		<li><a class="button" href="#day-4">Stretching</a></li>
	</ul>
</div>

<div class="movement-tips"></div>

<div class="row">
	<div class="col-xs-12">
		<div class="day-movements-wrap">
			<div id="day-1" class="day-movements day1-movements text-center">
				<div class="day-title-section">
					<h1>Push Day</h1>
					<span>Total Movements</span>
					<div class="day-intro">
						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/33gOgLDcODA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						Push Day consists of 6 movements that move the weight away from your body - 2 exercises each for your shoulders, chest and legs. Each movement will require 4 sets with reps from 12-15. Choose from any of the exercises listed below and make sure to mix it up each week. Variation will help keep you progressing to reach your fitness goals.
					</div>
				</div>
				<ul class="exercise-buttons">
					<li><a class="button" href="#day1-1">Chest</a></li>
					<li><a class="button" href="#day1-4">Shoulders</a></li>
					<li><a class="button" href="#day1-9">Legs</a></li>
				</ul>
				<div class="day1-moves owl-carousel"></div>
			</div>
			<div id="day-2" class="day-movements day2-movements text-center">
				<div class="day-title-section">
					<h1>Pull Day</h1>
					<span>Total Movements</span>
					<div class="day-intro">
						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/Bc51XlslyBA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						Pull Day consists of 6 movements that move the weight toward your body - 2 exercises each for your back, legs and arms. Each movement will require 4 sets with reps from 12-15. Choose from any of the exercises listed below and make sure to mix it up each week to keep things fun, exciting and help keep you on track for the full 30 days.
					</div>

				</div>
				<ul class="exercise-buttons">
					<li><a class="button" href="#day2-1">Back</a></li>
					<li><a class="button" href="#day2-6">Legs</a></li>
					<li><a class="button" href="#day2-10">Arms & Abs</a></li>
				</ul>
				<div class="day2-moves owl-carousel"></div>
			</div>
			<div id="day-3" class="day-movements day3-movements text-center">
				<div class="day-title-section">
					<h1>Rest Day</h1>
					<div class="day-intro">
						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/hOfA3dh1ExA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						Ample rest is just as important as exersicing. Take this day to re-coup, meal prep, hit the hot tub or go for a walk with the wife and kids. Make sure to let your body recover so you can the push/pull rotation hard again.
					</div>
				</div>
			</div>
			<div id="day-4" class="day-movements day4-movements text-center">
				<div class="day-title-section">
					<h1>Stretching</h1>
					<div class="day-intro">
						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/RjrujmgnNTw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
						</div>
						Stretching is one of the most overlooked aspects of fitness. Take the time to stretch and warm up each day and you'll be amazed at how much better you'll feel both during and after you exercise. 4-5 Minutes is all it will take to keep you healthly and injury free.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
	var day1 = [
		{
			title: 'PUSH UPS',
			desc: '4 Sets of 12-15 Reps',
			youtube: '2VRyUlOSzas',
			cat: 'Chest'
		},
		{
			title: 'DB BENCH PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: '17Dxqw3gRWc',
			cat: 'Chest'
		},
		{
			title: 'BARBELL INCLINE BENCH PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'Yy-LJBf2KVs',
			cat: 'Chest'
		},
		{
			title: 'TRICEP PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'w-TNZyzN3VY',
			cat: 'Shoulder'
		},
		{
			title: 'TRI DIPS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'zUHvFnZ3ntg',
			cat: 'Shoulder'
		},
		{
			title: 'TRICEP EXTENSION',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'WOaK-LZK8MM',
			cat: 'Shoulder'
		},
		{
			title: 'SHOULDER PRESS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'mGyE2tNUPAM',
			cat: 'Shoulder'
		},
		{
			title: 'SHOULDER RAISE',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'crVt5bFTk_E',
			cat: 'Shoulder'
		},
		{
			title: 'BACK SQUAT',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'AxMLHJfSUXY',
			cat: 'Leg'
		},
		{
			title: 'FRONT SQUAT',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'PifQQdFbDIM',
			cat: 'Leg'
		},
		{
			title: 'LUNGES',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'snWBD2KDqF0',
			cat: 'Leg'
		},
		{
			title: 'STEP UPS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'v5eygKzHoMQ',
			cat: 'Leg'
		},
		{
			title: 'STANDING CALF RAISE',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'b4VhSS3KEgY',
			cat: 'Leg'
		},
		{
			title: 'LEG EXTENSIONS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'IFmdt8kfNWQ',
			cat: 'Leg'
		},
		{
			title: 'AB ROLLOUT',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'J_orNDIFuZE',
			cat: 'Abs'
		}
	],
	day2 = [
		{
			title: 'PULL-UPS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'GSb1I0wolJw',
			cat: 'Back'
		},
		{
			title: 'CHIN UPS',
			desc: '4 Sets of 12-15 Reps',
			youtube: '1q3hi5rwcLc',
			cat: 'Back'
		},
		{
			title: 'LAT PULL',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'k6MjBo3YpK4',
			cat: 'Back'
		},
		{
			title: 'ROWS',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'wcJtSGbrVAE',
			cat: 'Back'
		},
		{
			title: 'SEATED CABLE ROW',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'f_aOF_xg4PQ',
			cat: 'Back',
		},
		{
			title: 'DEADLIFT',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'KzE1q6J72PM',
			cat: 'Leg'
		},
		{
			title: 'ROMANIAN DEADLIFT',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'hDidCNEqkLE',
			cat: 'Leg'
		},
		{
			title: 'SUMO DEADLIFT',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'xhfNzI4tQVs',
			cat: 'Leg'
		},
		{
			title: 'LEG CURL',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'rQ-C3fxki4Q',
			cat: 'Leg'
		},
		{
			title: 'INCLINE DUMBBELL CURL',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'r8vJm3x7z4E',
			cat: 'Arms'
		},
		{
			title: 'UPRIGHT BARBELL ROW',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'X9IEPF1rQsU',
			cat: 'Arms'
		},
		{
			title: 'CABLE CRUNCH',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'Y_lSS91AfdQ',
			cat: 'Abs'
		},
		{
			title: 'HANGING LEG RAISE',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'mWKN71UBadM',
			cat: 'Abs'
		},
		{
			title: 'AB ROLLOUT',
			desc: '4 Sets of 12-15 Reps',
			youtube: 'J_orNDIFuZE',
			cat: 'Abs'
		}
	];

	count = 0;
	var pointers1 = '';
	for (i = 0; i < day1.length; i++) {
		count++;
		if(day1[i].title) {
			var movement1 = '<div class="cf-movement" data-hash="day1-'+count+'"><span class="movement-cat">'+day1[i].cat+' Exercise</span><span class="movement-counter">Movement '+count+'</span><a class="play-movement" data-izimodal-open="#modal-day1--'+day1[i].youtube+'"><img src="https://img.youtube.com/vi/'+day1[i].youtube+'/maxresdefault.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a><div class="movement-meta"><h3>'+day1[i].title+'</h3><span>'+day1[i].desc+'</span></div><div id="modal-day1--'+day1[i].youtube+'" class="modal-videos modal-videos--1" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+day1[i].youtube+'?autoplay=1&rel=0"></div>';

			if(day1[i].tips) { // only add if there is a tip to add
				movement1 += '<a data-izimodal-open="#day1-tip-'+count+'" class="move-tips">TIPS</a>';
				pointers1 = '<div id="day1-tip-'+count+'" class="move-tip"><h3>Points of Performance</h3><span>Tips for '+day1[i].title+'</span>'+day1[i].tips+'</div>';
				document.querySelector('.movement-tips').innerHTML += pointers1;
			}
			if(day1[i].superset) {
				movement1 += '<div class="superset-wrap"><div class="superset-label">Superset With</div><a data-izimodal-open="#modal-day1-superset--'+day1[i].superset.youtube+'"><h5><i class="fa fa-play-circle" aria-hidden="true"></i>'+day1[i].superset.title+'</h5></a><span>'+day1[i].superset.desc+'</span></div><div id="modal-day1-superset--'+day1[i].superset.youtube+'" class="modal-videos modal-videos--1" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+day1[i].superset.youtube+'?autoplay=1&rel=0"></div>';
			}

			movement1 += '</div>'; // Closing div for .cf-movement
			document.querySelector('.day1-moves').innerHTML += movement1;
		}
	}

	count = 0;
	var pointers2 = '';
	for (i = 0; i < day2.length; i++) {
		count++;
		if(day2[i].title) {
			var movement2 = '<div class="cf-movement" data-hash="day2-'+count+'"><span class="movement-cat">'+day2[i].cat+' Exercise</span><span class="movement-counter">Movement '+count+'</span><a class="play-movement" data-izimodal-open="#modal-day2--'+day2[i].youtube+'"><img src="https://img.youtube.com/vi/'+day2[i].youtube+'/maxresdefault.jpg"><i class="fa fa-play-circle" aria-hidden="true"></i></a><div class="movement-meta"><h3>'+day2[i].title+'</h3><span>'+day2[i].desc+'</span></div><div id="modal-day2--'+day2[i].youtube+'" class="modal-videos modal-videos--2" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+day2[i].youtube+'?autoplay=1&rel=0"></div>';

			if(day1[i].tips) { // only add if there is a tip to add
				movement2 += '<a data-izimodal-open="#day2-tip-'+count+'" class="move-tips">TIPS</a>';
				pointers2 = '<div id="day2-tip-'+count+'" class="move-tip"><h3>Points of Performance</h3><span>Tips for '+day2[i].title+'</span>'+day2[i].tips+'</div>';
				document.querySelector('.movement-tips').innerHTML += pointers2;
			}
			if(day2[i].superset) {
				movement2 += '<div class="superset-wrap"><div class="superset-label">Superset With</div><a data-izimodal-open="#modal-day2-superset--'+day2[i].superset.youtube+'"><h5><i class="fa fa-play-circle" aria-hidden="true"></i>'+day2[i].superset.title+'</h5></a><span>'+day2[i].superset.desc+'</span></div><div id="modal-day2-superset--'+day2[i].superset.youtube+'" class="modal-videos modal-videos--2" data-izimodal-transitionin="fadeInDown" data-izimodal-iframeURL="https://www.youtube.com/embed/'+day2[i].superset.youtube+'?autoplay=1&rel=0"></div>';
			}

			movement2 += '</div>'; // Closing div for .cf-movement
			document.querySelector('.day2-moves').innerHTML += movement2;
		}
	}

	document.querySelector('.day1-movements .day-title-section span').innerHTML =  day1.length + " Total Movements";
	document.querySelector('.day2-movements .day-title-section span').innerHTML =  day2.length + " Total Movements";

</script>

{{ 'iziModal.min.css' | asset_url | stylesheet_tag }}
{{ 'iziModal.min.js' | asset_url | script_tag }}

<script type="text/javascript">
  jQuery(document).ready(function($) {

  	$('.program-section-buttons li a').on('click', function(e) {
		e.preventDefault();
		var scroller = $(this).attr('href');
		$("html, body").animate({scrollTop: $(scroller).offset().top -100}, 500);
	});
	// $('.exercise-buttons li a').on('click', function(e) {
	// 	e.preventDefault();
	// }); 

    $(".owl-carousel").owlCarousel({
		responsive:{
			0:{
				items:1
			},
			600:{
				items:2
			},
			800:{
				items:3
			}
		},
		nav: true,
		//center:true,
		dots: true,
		navText: [''],
		navElement: 'div',
		autoHeight:true,
		margin: 10,
		URLhashListener:true
    });


    $(".modal-videos--1").iziModal({
	    iframe : true,
	    width: 700,
	    height: 500,
	    fullscreen: true,
	    overlayColor: 'rgba(0, 0, 0, 0.9)',
	    group: 'group1'
	});
	$(".modal-videos--2").iziModal({
	    iframe : true,
	    width: 700,
	    height: 500,
	    fullscreen: true,
	    overlayColor: 'rgba(0, 0, 0, 0.9)',
	    group: 'group2'
	});

	

  });
</script>