
<section class="mtnops-section dark-section section-lg-padding">
	<div class="container">
	  <div class="row">
	    <div class="col-sm-12">

	    	<div class="review-content-wrap">
	    		<div class="quote-icon quote-left"><i class="far fa-quote-left"></i></div>
			    <div class="quote-icon quote-right"><i class="far fa-quote-right"></i></div>

					<div class="owl-carousel reviews-carousel" id="reviews-carousel">
				    <div class="review-item">
			    		<h3>HAPPY WIFE!</h3>
			    		<p>I order the <b>Weight Loss System</b> for my wife. She is the type of person that has tried every fad weight loss diet on the market and usually quits them within a day or two. She has been using this system now for 30 days and is <b>down 10 pounds and 2-3 inches on her waist</b>. She loves the system and the taste of the AMMO and ENDURO. I will say from a husband's point of view, she is more energized and in an all around better mood.</p>
			    		<div class="reviewer-meta">
				    		<div class="reviewer">Garret W.</div>
				    		<div>
				    			<i class="fas fa-shield-check"></i> Verified Buyer
				    		</div>
				    		<div class="review-date">Mar 01, 2020</div>
				    	</div>
						</div>
						<div class="review-item">
			    		<h3>EVERYTHING I NEED!</h3>
			    		<p>The <b>Weight Loss Kit</b> was everything I needed to kick start my lazy butt to get back into shape. My new job position kind of keeps me in an office sitting all day and it was getting tougher to be motivated after work. The Weight Loss Kit was my first introduction to MTN OPS and <b>I feel so much better after starting</b> this program. I will be buying many more products from them.</p>
			    		<div class="reviewer-meta">
				    		<div class="reviewer">James R.</div>
				    		<div>
				    			<i class="fas fa-shield-check"></i> Verified Buyer
				    		</div>
				    		<div class="review-date">Aug 28, 2020</div>
				    	</div>
						</div>

				  </div>
				</div>

	    </div>
	  </div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function () {
		$("#reviews-carousel").owlCarousel({
	    loop: true,
	    nav: false,
	    navText: ['<i class="far fa-arrow-square-left"></i>','<i class="far fa-arrow-square-right"></i>'],
	    dots: false,
	    autoplay: true,
	    autoplayTimeout: 10000,
	    autoplayHoverPause: true,
	    items: 1
	  });
	});
</script>