<section class="mtnops-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="flex-split-half">
					<div class="cta-wrap">
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/WLSampleLandingPage-FreeConsultationTitle.svg?v=1608151807">
						<img style="margin: 10px 0;" src="https://cdn.shopify.com/s/files/1/2786/4584/files/WLSampleLandingPage-FreeConsultationCallouts.svg?v=1608151808">
						<p>The <b>Conquer Weight Loss System</b> utilizes our most proven products to aid in your weight loss journey. Fueled by our premier Meal Replacement, Non-Caffeinated and Non-Stimulated energy drink, Fat Burner and Appetite suppressant and a gentle cleanse to get your body performing like it should again.</p>
	    			<p>For a limited time, when you purchase a Conquer Weight Loss System you are eligible to receive a <b>FREE One on One Health Consultation</b> with our certified in-house fitness specialists [A $69.95 value]. These specialists will help you build a health plan to follow so you will be even more ready to acheive your health goals!</p>
	    			<span class="price">{{fullSystem.price | money }}</span>
	    			<a href="#" class="button mtnops-btn add-product-to-cart" data-variant-id="{{ fullSystem.variants[0].id }}">PURCHASE SYSTEM</a>
	    		</div>
					<div>
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/ConquerWeightLossCombo-Box-Web.png?v=1608151808">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>