{% if product.id == 3943687094314 %} {% comment %}Weight Loss System{% endcomment %}
<div class="table-responsive">
  <table class="table system-option-table">
    <thead>
      <tr>
        <th scope="col">FLAVOR OPTIONS<br></th>
        <th scope="col">AMMO™<br>MEAL REPLACEMENT</th>
        <th scope="col">ENDURO™<br>CARDIO BOOSTER</th>
      </tr>
    </thead>
    <tbody>
      <tr class="combo-1">
        <th scope="row">SYSTEM #1</th>
        <td><span class="ball-choco"></span>Chocolate</td>
        <td><span class="ball-pinklem"></span>Pink Lemonade</td>
      </tr>
      <tr class="combo-2">
        <th scope="row">SYSTEM #2</th>
        <td><span class="ball-nilla"></span>Vanilla</td>
        <td><span class="ball-citbli"></span>Citrus Bliss</td>
      </tr>
      <tr class="combo-3">
        <th scope="row">SYSTEM #3</th>
        <td><span class="ball-strawcrea"></span>Strawberries & Cream</td>
        <td><span class="ball-raspber"></span>Raspberry</td>
      </tr>
    </tbody>
  </table>
</div>
{% endif %}