<section class="community-section cf-part-section dark-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<header>
					<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-community-logo.svg?v=1619821594">
					<p>We have an incredible community full of support, product knowledge and motivation. Join our Conquer More Community Facebook Group to engage with highly motivated and inspiring people that will help you succeed in your goals and continue to #CONQUERMORE!</p>
					<a class="mtnops-btn" href="https://www.facebook.com/groups/162390341188702" target="_blank">JOIN WITH US</a>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<ul class="community-highlight">
					<li>
						<div>
							<img src=https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-5.jpg?v=1619824113>
						</div>
					</li>
					<li>
						<div>
							<img src=https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-6.jpg?v=1619824113>
						</div>
					</li>
					<li>
						<div>
							<img src=https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-7.jpg?v=1619824113>
						</div>
					</li>
					<li>
						<div>
							<img src=https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-8.jpg?v=1619824113>
						</div>
					</li>
					<li>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/community-photo-6.jpg?v=1576798216">
						</div>
					</li>
					<li>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/community-photo-1.jpg?v=1576798216">
						</div>
					</li>
					<li>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-1.jpg?v=1619824113">
						</div>
					</li>
					<li>
						<div>
							<img src=https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-9.jpg?v=1619824113>
						</div>
					</li>
					<li>
						<div>
							<img src=https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-10.jpg?v=1619824113>
						</div>
					</li>
					<li>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-2.jpg?v=1619824113">
						</div>
					</li>
					<li>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/community-photo-5.jpg?v=1576798216">
						</div>
					</li>
					<li>
						<div>
							<img src=https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-11.jpg?v=1619824113>
						</div>
					</li>
					<li>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/community-photo-4.jpg?v=1576798216">
						</div>
					</li>
					<li>
						<div>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-3.jpg?v=1619824113">
						</div>
					</li>
					<li>
						<div>
							<img src=https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-4.jpg?v=1619824113>
						</div>
					</li>
					<li>
						<div>
							<img src=https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-12.jpg?v=1619824513>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>