<div class="col-md-6">
  <div class="product-grid-item product ad basel-hover-base">
    <div class="product-element-top">
      <a href="{{ ad_url }}">
        <img src="{{ ad_image}}" />
      </a>
    </div>
  </div>
</div>