<section id="consultation" class="consultation-section cf-part-section">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<header>
				<h2>Talk with an Expert</h2>
				<h3>Schedule a 1-on-1 Health Consultation</h3>
					<p>MTN OPS Health & Fitness Specialists are certified individuals trained to help personalize your health journey. From Macro breakdowns, meal plans and training programs, you'll be blown away with the value and education you receive.</p>
					<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/consult-icons-combined.png?v=1578595165">
					<div class="consult-pricing">
						<span class="slashed">$69.95</span>
						<span class="sale-price">$34.95</span>
						<p>SAVE 50% FOR A LIMITED TIME</p>
					</div>
					<a href="https://mtnops-coaching.youcanbook.me/" class="mtnops-btn" target="_blank">SCHEDULE CONSULTATION</a>
				</header>
					
			</div>
		</div>
	</div>
</section>