jQuery(document).ready(function($) {


  $('.bg_color_bugle-berry.bg_bugle-berry').remove();


  var $returnTo = $('<input type="hidden" name="return_to" value="/account" />');

  if ($('#create_customer').length > 0){ //if registration form
    $returnTo.insertBefore($('#create_customer input[type="submit"]')); // add return_to input
    console.log('will return to account page');
  // } else if ($('#register_side').length){
  //   $returnTo.insertBefore($('#register_side input[type="submit"]'));
  //   console.log('will return to account page');
  } else if ($('#g-recaptcha').length){ //if captcha form
    console.log('this will work on g-recaptcha page.');
     $returnTo.insertBefore($('.shopify-challenge__container input[type="submit"]'));
  }


	$('#shipping-notice').iziModal({
		padding: 30,
		overlayColor: 'rgba(0, 0, 0, 0.9)',
		width: 650,
		closeButton: false,
		autoOpen: false
	});

	$(document).on('click', '.free-ship-link', function (event) {
	    event.preventDefault();
	    $('#shipping-notice').iziModal('open');
	});
	$('#topbar-notice').iziModal({
		padding: 30,
		overlayColor: 'rgba(0, 0, 0, 0.9)',
		width: 500,
		closeButton: false,
		autoOpen: false
	});

	$(document).on('click', '.topbar-notice-trigger', function (event) {
	    event.preventDefault();
	    $('#topbar-notice').iziModal('open');
	});

	// remove quantity from mini cart throughout website for order insert card.
	function miniCartInsert() {
		$('.item-30547046301738 a, .item-31872669188138 a').removeAttr('href');
		$('.item-30547046301738 .remove, .item-31872669188138 .remove').remove();
		$('.item-30547046301738 .quantity, .item-31872669188138 .quantity').empty().append('<span class="shopify-Price-amount amount">FREE</span>');

    $('#30547046301738, #31872669188138, #31981378666538, #31974144344106, #31974144376874, #31974144409642, #31974144442410, #31974144475178, #32010178625578, #32010179215402, #32010179772458, #32010180034602, #32010183311402').remove();


    // IGNITE MAYAN MANGO INSERT AND SAMPLE
    $('.item-30547046301738, .item-31981378666538').hide();

		// Black Friday Promo Items Remove in mini cart
		// $('.item-14592919207978 a, .item-31087018147882 a, .item-14592918749226 a').removeAttr('href');
		// $('.item-14592919207978 .quantity, .item-31087018147882 .quantity, .item-14592918749226 .quantity').remove();
	}
	miniCartInsert();

	$( document ).ajaxComplete(function( event, request, settings ) {
		miniCartInsert();
	});

	// home page hero slider

	$("#banner-slider").owlCarousel({
    loop: true,
    nav: true,
    navText: ["",""],
    dots: true,
    autoplay: true,
    autoplayTimeout: 7000,
    autoplayHoverPause: true,
    responsive: {
      0: {
        items: 1
      }
    }
  });

	// home page product carousel
  $("#owl-carousel-product").owlCarousel({
    loop: true,
    nav: false,
    dots: false,
    autoplay: true,
    autoplayTimeout: 5000,
    responsive: {
      0: {
        items: 2
      },
      600: {
        items: 3
      },
      800: {
        items: 4
      },
      1000: {
        items: 5
      },
      1200: {
        items: 6
      }
    }
  });

  // $(window).one('scroll', function() {
  //   mtnopsMenus();
  // });

  // MTN OPS CUSTOM MENUS By Jake

  setTimeout(function() {
  	mtnopsMenus();
  }, 500);
  
  function mtnopsMenus() {
	  //Supps Menu
	  $(".menu-item-1582223127978").hover(
	  	function() {
				var header = $(this).closest('.main-header, .header-clone');
		  	$('.mtnops-supps-menu-wrap',header).addClass( "active" );
		  }, function() {
				var header = $(this).closest('.main-header, .header-clone');
		  	$('.mtnops-supps-menu-wrap',header).removeClass( "active" );
		  }
	  );
    //Gear Menu
    $(".menu-item-1582223009261").hover(
      function() {
        var header = $(this).closest('.main-header, .header-clone');
        $('.mtnops-gear-menu-wrap',header).addClass( "active" );
      }, function() {
        var header = $(this).closest('.main-header, .header-clone');
        $('.mtnops-gear-menu-wrap',header).removeClass( "active" );
      }
    );
    //Samplers Menu
    $(".menu-item-1582667259339").hover(
      function() {
        var header = $(this).closest('.main-header, .header-clone');
        $('.sampler-menu-wrap',header).addClass( "active" );
      }, function() {
        var header = $(this).closest('.main-header, .header-clone');
        $('.sampler-menu-wrap',header).removeClass( "active" );
      }
    );
    //More Menu
    $(".menu-item-1582666906040").hover(
      function() {
        var header = $(this).closest('.main-header, .header-clone');
        $('.mtnops-more-menu-wrap',header).addClass( "active" );
      }, function() {
        var header = $(this).closest('.main-header, .header-clone');
        $('.mtnops-more-menu-wrap',header).removeClass( "active" );
      }
    );

    $('.menu-item-1582223127978 > a, .menu-item-1582223009261 > a, .menu-item-1582667259339 > a, .menu-item-1582666906040 > a, .menu-item-1501751953132 > a').removeAttr("href");

    
	  $('.mtnops-custom-menu').hover(
		  function() {
		    $( this ).addClass( "active" );
		  }, function() {
		    $( this ).removeClass( "active" );
		  }
		);
  }

  var mobileHover = function () {
    $('*').on('mouseenter touchstart', function () {
        $(this).trigger('hover');
    }).on('mouseleave touchend', function () {
        $(this).trigger('hover');
    });
  };

  mobileHover();

  
	 // var $gal = $(".mtnops-samplers-list"),
  //     galW = $gal.outerWidth(true),
  //     galSW = $gal[0].scrollWidth,
  //     wDiff = (galSW / galW) - 1, // widths difference ratio
  //     mPadd = 60, // mousemove Padding
  //     damp = 20, // Mmusemove response softness
  //     mX = 0, // real mouse position
  //     mX2 = 0, // modified mouse position
  //     posX = 0,
  //     mmAA = galW - (mPadd * 2), // the mousemove available area
  //     mmAAr = (galW / mmAA); // get available mousemove didderence ratio
  //   $gal.mousemove(function(e) {
  //     mX = e.pageX - $(this).parent().offset().left - this.offsetLeft;
  //     mX2 = Math.min(Math.max(0, mX - mPadd), mmAA) * mmAAr;
  //   });
  //   setInterval(function() {
  //     posX += (mX2 - posX) / damp; // zeno's paradox equation "catching delay"	
  //     $gal.scrollLeft(posX * wDiff);
  //   }, 10);


    
});

