<div class="main-page-wrapper">
		<div class="page-hero has-page-image" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/core-values-bg.jpg?v=1583871320');">
			<div class="page-hero-text">
				<h1>MTN OPS Core Values</h1>
				<span class="h1-subtitle">OUR MISSION</span>
				<p>In everything we do, we improve the lives of individuals and families by inspiring them to achieve their ultimate level of performance through the highest quality energy and nutritional products, backed by science and a community created to unite and educate to train inside and conquer outside.</p>
			</div>
		</div>
		<div class="container">
		  <div class="row">
		     <div class="site-content col-sm-12" role="main">

		        <ul class="mtnops-core-values">
						  <li>
						    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/recognize-god.svg?v=1583862475">
						    <h3>Recognizing God</h3>
						    <p>We believe in involving God, even in the workplace, and acknowledge His hand in all things.</p>
						  </li>
						  <li>
						    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/interdependence.svg?v=1583862475">
						    <h3>Interdependence</h3>
						    <p>We work with a team to accomplish great things collectively that we could not do independently.</p>
						  </li>
						  <li>
						    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/opportunity.svg?v=1583862475">
						    <h3>Opportunity</h3>
						    <p>We foster an atmosphere that gives others the opportunity to rise to his or her full potential.</p>
						  </li>
						  <li>
						    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/service.svg?v=1583862476">
						    <h3>Service</h3>
						    <p>We believe in making a positive contribution of our time, talents and leadership to our respective communities.</p>
						  </li>
						  <li>
						    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/gratitude.svg?v=1583862475">
						    <h3>Gratitude</h3>
						    <p>Gratitude for both our successes and our challenges helps us have joy in our current circumstances while facilitating our growth and progress toward an even brighter future.</p>
						  </li>
						  <li>
						    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/trust.svg?v=1583862475">
						    <h3>Trust</h3>
						    <p>We believe in being worthy of others’ trust, both in person and online. We are reliable, respectful, and honest with the information we provide to people along with the information they provide to us.</p>
						  </li>
						  <li>
						    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/community.svg?v=1583862475">
						    <h3>Community</h3>
						    <p>Because we believe family is the fundamental unit of community, we desire the type of environment that promotes healthy families. We work hard and honestly so that we may enjoy a secure life with the ones we love.</p>
						  </li>
						  <li>
						    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/desire.svg?v=1583862475">
						    <h3>Desire</h3>
						    <p>We value highly ambitious people – driven by a desire to succeed, but with an attitude of temperance and kindness both online and in person.</p>
						  </li>
						  <li>
						    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/conservation.svg?v=1583862475">
						    <h3>Conservation</h3>
						    <p>We believe in the protection, preservation, and management of our public lands, waters, and wildlife. We are committed to actively participating and serving with our conservation partners to fulfill this belief.</p>
						  </li>
						  <li>
						    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/golden-rule.svg?v=1583862475">
						    <h3>Business Partners - The Golden Rule</h3>
						    <p>We believe in treating our partners and also our online customers or readers exactly how we would like to be treated in regard to honesty, responsiveness, follow-through, and in going the extra mile to ensure that their needs and desires are met.</p>
						  </li>
						</ul>

						<div class="video-container">
							<iframe width="560" height="315" src="https://www.youtube.com/embed/ABIHWUzctk4?rel=0" frameborder="0"></iframe>
						</div>
		     </div>
		  </div>
		</div>
</div>

