{% if customer.email == 'jake.shaw@me.com'%}

<div class="main-page-wrapper">
   <!-- MAIN CONTENT AREA -->
   {% comment %}{%- include 'page_heading', page_title:page.title -%}{% endcomment %}
   <div class="landing-hero" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/dialed-product-levimorgan.jpg?v=1565733272');">
      <div class="hero-overlay">
         
         <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/your-voice-matters.png?v=1588806076">
         {% comment %}<ul class="dialed-benefits">
            <li><img src="https://cdn.shopify.com/s/files/1/2786/4584/files/dialed-benefits-1.png?14266" /></li>
            <li><img src="https://cdn.shopify.com/s/files/1/2786/4584/files/dialed-benefits-2.png?14266" /></li>
            <li><img src="https://cdn.shopify.com/s/files/1/2786/4584/files/dialed-benefits-3.png?14266" /></li>
            <li><img src="https://cdn.shopify.com/s/files/1/2786/4584/files/dialed-benefits-4.png?14266" /></li>
            <li><img src="https://cdn.shopify.com/s/files/1/2786/4584/files/dialed-benefits-5.png?14266" /></li>
         </ul>{% endcomment %}
      </div>
   </div>
   {% comment %}<div class="image-overlap">
                  <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/dialed-splash-lg.png?v=1565730938">
               </div>{% endcomment %}

   {% comment %}<div class="dialed-content-wrap">
      <div class="container">
         <div class="row">
            <div class="site-content col-sm-12" role="main">

               
               <div class="main-content">
             
                  <h2>TARGET FOCUSED DRINK</h2>
                  <h3>FOR MENTAL FOCUS & SUPPRESSED ANXIETY</h3>
                  <p>We live in a fast-paced world where it's easy to be overwhelmed with our work, family, sports, hobbies, etc.</p>

                  <p>Our solution to help solve this very common struggle is DIALED - a daily dietary supplement designed to safely optimize cognitive function, sharpen focus and reduce brain fog, all while calming your nerves and high levels of anxiety. Through science backed ingredients including Choline Bitartrate, Agmatine Sulfate and Alpha GPC, DIALED Delivers a calming experience to aid in reducing stress and anxiety, resulting in improved focus and daily performance.</p>

                  <p>DOES NOT CONTAIN BANNED SUBSTANCES.</p>
               </div>
            </div>
         </div>
      </div>
   </div>
   {% endcomment %}

   <div class="k1k1-wrap">
      <div class="container">
         <div class="row">
            <div class="col-xs-12">
               <div class="k1k1">
                  <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/dialed-k1k1.png?v=1588806658">
               </div>
            </div>
         </div>
      </div>
   </div>

      <div class="container">
         <div class="row">
            <div class="col-xs-6">
               <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/DIALED-TrailPackSplash-NoLevi-RW.png?v=1588721045">
            </div>
            <div class="col-xs-6">
               <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/DIALED-TrailPackSplash-NoLevi-CL.png?v=1588721044">
            </div>
         </div>
         <div class="row">
            <div class="col-xs-12">
               <div style="margin:0 auto;" class="pxFormGenerator" id="XfbUr62yZAZMyfjZu9YUCQ"></div>
            </div>
         </div>
      </div>
            

      {% comment %}

      <div id="supp-facts" class="iziModal supp-modal" data-izimodal-transitionin="fadeInDown">
     
         <div class="item">
            <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/dialed-supp-facts-cherry-limeade.jpg?16230" />
         </div>
         <div class="item">
            <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/dialed-supp-facts-rasp-watermelon.jpg?16230" />
         </div>

      </div>

      <div class="buy-now-wrap">
        <button class="dialed-buy-now">BUY NOW</button>
        <a href="#" class="supp-facts-link" data-izimodal-open="#supp-facts" data-izimodal-transitionin="fadeInDown">Supp Facts</a>
      </div>
      <div class="container">
      <div id="purchase-dialed">
        <h3>PICK YOUR FLAVOR</h3>
        <div class="row">
          <div class="col-sm-6">
            <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/DIALED-Splash-CherryLimeade-1200.png?14294">
            
            <h3>CHERRY LIMEADE</h3>
            <h4>2O SINGLE SERVINGS</h4>
            <a class="addToCartBtn" data-product="30228695777322">ADD TO CART</a>
          </div>
          <div class="col-sm-6">
            <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/DIALED-Splash-RaspberryWatermelon-1200.png?15637">
            <h3>RASPBERRY WATERMELON</h3>
            <h4>2O SINGLE SERVINGS</h4>
            <a class="addToCartBtn" data-product="30228697219114">ADD TO CART</a>
          </div>
        </div>
        <div class="message"></div>
      </div>
      </div>

      {% endcomment %}
            
           
         



{% comment %}<div class="buy-now-wrap">
  <button class="dialed-buy-now">BUY NOW</button>
  <div><small>Available in Cherry Limeade and Raspberry Watermelon</small></div>
</div>{% endcomment %}


{% comment %}<script>
   $(".supp-modal").iziModal({
      padding: 10,
      zindex: 3000,
      nav: true,
      radius: 0,
      width: 550,
      fullscreen: true,
      overlayColor: 'rgba(0, 0, 0, 0.9)'
   });

   $('.dialed-buy-now').on('click', function(e) {
     e.preventDefault();
     $('#purchase-dialed').slideDown();
     scrollToAnchor();
   });
   $('.addToCartBtn').on("click", function(e) {
     e.preventDefault();
     var id = $(this).data('product');
     var it = $(this);
     addItemToCart(it, id, 1);
   });
   function addItemToCart(element, variant_id, quantity) {
     data = {
       "quantity": quantity,
       "id": variant_id
     }
     jQuery.ajax({
       type: 'POST',
       url: '/cart/add.js',
       data: data,
       dataType: 'json',
       success: function() { 
         window.location.href = '/cart';
         element.after("<p>Dialed has been added to your cart!</p>");
       },
       error: function (request, status, error) {
         console.log(request.responseText);
         var code = request.responseJSON.status;
         //if (code == 422 ) {
           //$('.message').text();
         //}
         element.after("<p>" + request.responseJSON.description + "</p>");
       }
     });
   }

   function scrollToAnchor() {
     var anchor = $("#purchase-dialed");
     $('html,body').animate({scrollTop: anchor.offset().top - 50},'slow');
   }

</script>{% endcomment %}


{% else %}
<h1>page is under construction</h1>
{% endif %}



