
<div class="main-page-wrapper giveaway-page">

	<div class="mtnops-slim-page-title"><h1>YOU COULD WIN A CHRISTENSEN ARMS RIFLE!</h1></div>

  <section class="page-hero has-page-image no-overlay no-margin" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/4-23-21-ChristensenArmsMESAGiveaway-LandingPage-BG1.jpg?v=1619039117');">
    <div class="hero-overlay">
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/4-23-21-ChristensenArmsMESAGiveaway-LandingPage-Title.svg?v=1619039117">
      <div>
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/ChristensenArmsMESARifle.png?v=1619104636">
      </div>
    </div>
  </section>
	    
  <section class="giveaway-intro-wrap giveaway-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
          <div class="giveaway-section-title">
            <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/4-23-21-ChristensenArmsMESAGiveaway-LandingPage-EveryOrder.svg?v=1619039117">
          </div>
          <div class="giveaway-intro max-1000">
            <p>What better way to kick off the weekend than with a GUN GIVEAWAY! <b>We’ve partnered up with Christensen Arms to give away a FREE MESA Long Range Rifle</b> (caliber of choice) to one lucky customer this weekend. It is simple to get entered. Place an order now through Midnight April 25th to automatically be entered to win! You can also score 10 extra entries by signing up for MTN OPS SMS text messages. Scroll down and pick those entries up!</p>

            <a class="mtnops-btn" href="#sms-signup">SEND ME TEXTS</a>
            
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="lifestyle-section">
    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/4-23-21-ChristensenArmsMESAGiveaway-LandingPage-BG2.jpg?v=1619039117">
  </section>

  
  <section id="sms-signup" class="sms-signup-wrap giveaway-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img class="sms-signup-title" src="https://cdn.shopify.com/s/files/1/2786/4584/files/carms-sms-10-entries-title.svg?v=1619049921">
          <div style="width: 100%; max-width: 1200px; padding: 12px 15px; margin: 0 auto;"><div><script type="text/javascript" src="https://dhv2ziothpgrr.cloudfront.net/214837/form_40228.js?ver=1619038096"></script></div></div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div><!-- .main-page-wrapper -->

