
<div class="main-page-wrapper">
   <!-- MAIN CONTENT AREA -->
   <div class="container">
      <div class="row">
         <div class="site-content col-sm-12 text-center" role="main" style="margin: 50px 0;">
            {{ page.content }}
         </div>
      </div>
   </div>
</div>

