
<div class="main-page-wrapper">
   <!-- MAIN CONTENT AREA -->
   {% comment %}{%- include 'page_heading', page_title:page.title -%}{% endcomment %}
  <div class="mtnops-intro full-width">
		<h1>OUTDOOR ENERGY AND PERFORMANCE NUTRITION</h1>
	</div>

   <div class="hero-pushes full-width ueh-push">
	  <a class="hero-main-push" href="/pages/hunt">
			<img class="hero-main-push-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk101-ueh-bg.jpg?v=1621794990">
			<div class="main-push-message wide-max650">
				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/UltimateElkHuntLogo-White.svg?v=1621814865">
				<button class="mtnops-btn">LEARN MORE</button>
			</div>
		</a>
	  <div class="secondary-pushes">
	  	<a class="push-item" href="/products/bugle-berry">
				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/bberry-push.jpg?v=1621868446">
				<h2>BUGLE BERRY IS BACK!</h2>
				<span>RECEIVE 20 ENTRIES TOWARDS ELK HUNT</span>
				<button class="ghost-btn">SHOP NOW</button>
			</a>	
	  	<a class="push-item" href="/products/performance-bars">
				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/protein-bars.jpg?v=1609955784">
				<h2>ON-THE-GO PROTEIN</h2>
				<span>SUPER TASTY PERFORMANCE BARS</span>
				<button class="ghost-btn">SHOP NOW</button>
			</a>	
	  	<a class="push-item" href="/pages/keep-hammering-truck">
				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/keep-hammering-truck-push.jpg?v=1619582644">
				<h2>WIN CAM HANES' TRUCK</h2>
				<span>THIS TRUCK COULD BE YOURS</span>
				<button class="ghost-btn">LEARN MORE</button>
			</a>
		</div>
	</div>

	{% comment %}

	<div class="container">
		<div class="row">
		   <div class="site-content col-sm-12" role="main">
		      {{ page.content }}
		   </div>
		</div>
	</div>

	{% endcomment %}
</div>



