
<div class="main-page-wrapper">
   <!-- MAIN CONTENT AREA -->
   <div class="mtnops-slim-page-title"><h1>BECOME A MTN OPS PRO</h1></div>

  <div class="page-hero has-page-image" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/ProProgram-FirefighterCleaned-BG.jpg?v=1624417210');">
    <div class="hero-overlay">
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/pro-logo.svg?v=1624987787">
    </div>
  </div>
   <div class="container">
      <div class="row">
         <div class="site-content col-sm-12" role="main">

         	<div class="section-intro text-center">
	         	<h2>SIGN UP TO BECOME A MTN OPS PRO</h2>
	         	<p>The MTN OPS Pro Program is a membership program for qualified first responders, outdoor industry professionals, industry partners, to receive special pricing ranging from 20-40% off MSRP. Membership is by application, is not guaranteed and can be revoked at any time. If you are interested in applying, please sign in with an existing account to start the application or create a new account below.</p>
         	</div>


         	<div class="pro-selector-wrap">     
            <h3>What discount are you applying for?</h3>
            <ul class="pro-dropdown">
            	<li data-form="1" data-value="military"><a href="/pages/military-discount">Military</a></li>
              <li data-form="1" data-value="first"><a href="/pages/first-responders-discount">First Responders<small style="display: block;">(Law Enforcement, Firefighters, EMTs)</small></a></li>
              <li data-form="1" data-value="medical"><a href="/pages/medical-discount">Medical Professional</a></li>
              <li data-form="1" data-value="teacher"><a href="/pages/teacher-discount">Teacher</a></li>
              <li data-form="1" data-value="student"><a href="/pages/student-discount">Student</a></li>
              <li data-form="1" data-value="government"><a>Government Employee</a></li>
              <li data-form="1" data-value="industry"><a>Industry Employee</a></li>
              <li data-form="1" data-value="guide"><a>Guide/Outfitter</a></li>
              <li data-form="1" data-value="athlete"><a>Athlete</a></li>
              <li data-form="1" data-value="influencer"><a>Ambassador/Influencer</a></li>
              <li data-form="1" data-value="influencer"><a>Trucking/Distribution</a></li>
            </ul>
          </div>

          <div class="pro-forms">
            <div id="form-wrap-1" class="pro-form-wrapper">
              <div style="margin:0 auto;" class="pxFormGenerator" id="iVbFaA7oKiZToa38FoTesA"></div>
            </div>
            <!--<div id="form-wrap-2" class="pro-form-wrapper">-->
            <!--  <div style="margin:0 auto;" class="pxFormGenerator" id="5BTTRp9kJY7eGQnNlhfsjQ"></div>-->
            <!--</div>-->
          </div>
          

            {% comment %}
            

						{% endcomment %}
	          
	          <div class="faq-section-wrap">

	          	<div class="section-intro text-center">
	          		<h2>FAQ's</h2>
	          		<p>If you have trouble logging in to your MTN OPS Pro account, please review the following questions before contacting us. If you still have trouble, a MTN OPS Pro staff can be reached at <a href="mailto:support@mtnops.com">support@mtnops.com</a> or via phone at 888-760-3393.</p>
	          	</div>

	          	<div class="faq">
	          		<div class="question">
	          			<h3>How do I become a PRO?</h3>
	          		</div>
	          		<div class="response">
									<p>The MTN OPS Pro Program is a membership program for qualified pros and influencers specific to our brand and industry. Membership is by application only and all members need to reapply/requalify annually to continue membership and access. Membership is not guaranteed and can be revoked at any time.</p>
	          		</div>
	          	</div>

	          	<div class="faq">
	          		<div class="question">
	          			<h3>What should I expect next, now that I have applied?</h3>
	          		</div>
	          		<div class="response">
									<p>You will receive an email notification as soon as possible from our Pro Staff, informing you whether you’ve been approved or not. If you’ve been approved, you will receive your login credentials which will enable you to activate your discount immediately.</p>
	          		</div>
	          	</div>

	          	<div class="faq">
	          		<div class="question">
	          			<h3>How do I log in to the pro website?</h3>
	          		</div>
	          		<div class="response">
									<p>After your application is approved and you have received our “welcome letter”, log in to www.MTNOPS.com/Pro  with your e-mail address and your personalized password. If you currently have a customer # you may change this into a personalized password by visiting the “account update” section after you are logged into the pro website.</p>
	          		</div>
	          	</div>

	          	<div class="faq">
	          		<div class="question">
	          			<h3>Where can I find my login details?</h3>
	          		</div>
	          		<div class="response">
									<p>Please utilize the “Lost Your Password?” function during Log in website. If you do not have success retrieving your details, please contact us at <a href="mailto:prosales@mtnops.com">prosales@mtnops.com</a></p>
	          		</div>
	          	</div>

	          	<div class="faq">
	          		<div class="question">
	          			<h3>How come I can't log into my account?</h3>
	          		</div>
	          		<div class="response">
									<p>The most common reasons why you may not be able to log in:</p>

									<p>Email: Make sure to use the original e-mail address you registered with us for your Pro Account. If you changed/updated your e-mail address after registering, you will need to use the more current e-mail address. Check for extra spaces before or after the e-mail address when it is entered, or copy/pasted.</p>

									<p>Renewal: Your pro account must be annually renewed. If it has been some time since you’ve used your account, your account may have been expired and it’s time to renew. Begin by submitting a new application using your work e-mail address and following the instructions listed in your category.</p>

									<p>IMPORTANT: E-mails from MTNOPS.com can be blocked by SPAM filters. Please make sure to add all MTNOPS.com emails to your “safe” list to receive account information, new MTN OPS product details and Pro promotions.</p>
								</div>
	          	</div>

	          	<div class="faq">
	          		<div class="question">
	          			<h3>Can I purchase a gift for someone with my account?</h3>
	          		</div>
	          		<div class="response">
									<p>Straight up, no. Your account is for your use only. Any purchasing of gifts will result in the immediate cancellation of your account. You will be notified if there are any promotions that would be an exception to this rule.</p>
	          		</div>
	          	</div>

	          	<div class="faq">
	          		<div class="question">
	          			<h3>What is the MTN OPS product guarantee?</h3>
	          		</div>
	          		<div class="response">
									<p>All MTN OPS product has a 30-day money back satisfaction guarantee. If you are unhappy with you product for whatever reason, please contact ProSales@MtnOps.com and let us resolve your concern.</p>

									<p>DO NOT return Pro purchases to MTN OPS Retail Stores or MTN OPS Dealers. This is considered abuse of the Pro Purchase Program and will result in termination of Pro privileges.</p>
	          		</div>
	          	</div>

	          	<div class="faq">
	          		<div class="question">
	          			<h3>I have comments to make about your product. Where may I send them?</h3>
	          		</div>
	          		<div class="response">
									<p>We love to hear your feedback, good or bad. Submit reviews, pictures and/or video via our “reviews section” found on every product page. Also, feel free to contact our Pro program team with new product suggestions at <a href="mailto:prosales@mtnops.com">prosales@mtnops.com</a></p>
	          		</div>
	          	</div>

	          	<div class="faq">
	          		<div class="question">
	          			<h3>How do I know when to reapply?</h3>
	          		</div>
	          		<div class="response">
									<p>When your account expires, we will send you an email to invite you to reapply.</p>
	          		</div>
	          	</div>

	          	<div class="faq">
	          		<div class="question">
	          			<h3>Do you have a PRO warranty?</h3>
	          		</div>
	          		<div class="response">
									<p>Please review our pro program guidelines and warranty. Your account may be terminated if any of them are violated:</p>

									<p>Your pro account is for you and meant for you. Please do not purchase gifts or buy gear for others. You must make all purchases; your spouse (or anyone else) cannot place orders for you. Exceptions may apply if approved by the pro team. You cannot shop for, return or exchange products in a retail store as a pro. Please identify yourself as pro when in these locations to be courteous to store employees. Membership in this program should be considered a privilege and never a right or entitlement; this is a partnership of mutual respect.</p>
	          		</div>
	          	</div>

	          </div>
         </div>
      </div>
   </div>
</div>

<script type="text/javascript">
  jQuery(document).ready(function($) {
    $('.pro-dropdown li a').on('click', function(e){

    	if($(this).attr('href') == undefined) {
    		e.preventDefault();
	      var formWrap = $('.pro-form-wrapper');
	      var form = $(this).parent().data('form');
	      var value = $(this).text();
	      formWrap.removeClass('active');
	      $('#form-wrap-'+form).addClass('active');
	      $('.pro-forms').prepend('<header class="pro-form-header"><h1>Applying as '+value+'</h1><h2>Please fill out the information below.</h2></header>');
	      $('.pro-selector-wrap').hide();
    	}
    });
  });
</script>

