<div class="main-page-wrapper">
   <!-- MAIN CONTENT AREA -->
   {% comment %}{%- include 'page_heading', page_title:page.title -%}{% endcomment %}
   <div class="container">
      <div class="row">
         <div class="site-content col-sm-8 col-sm-offset-2" role="main">
         		<div class="challenge-finalist-header">
	         		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/2020ChallengeWinnersLandingPage-Banner.jpg?v=1614717254">
	         		<p>Our <b>Conquer Fitness Challenge</b> means much more than just losing weight, it’s about improving your life in all aspects of your life - i.e. mentally, physically, spiritually, etc. Below you’ll be able to read some incredible stories from our top 4 finalist of our 2020 Fitness Challenge, while also being able to see their transformation that they’ve each made during 2020.</p>
							<p>We’d love to get your help voting for who YOU THINK deserves an all expenses paid cruise for two!</p>
							<p><b>Read each of the inspiring stories below and cast your vote at the bottom of the page.</b></p>
	         	</div>
         		
         		<div class="challenge-finalist">
         			
	         		<img class="finalist-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/2020ChallengeWinnersLandingPage-Transformation-AprilM.png?v=1614717254">
	         		<img class="finalist-title" src="https://cdn.shopify.com/s/files/1/2786/4584/files/2020ChallengeWinnersLandingPage-Title-AprilM.svg?v=1614717254">

	         		<p>When I started my journey I was terrified of being a failure. I didn't care about the challenges because honestly I thought they were rigged. Boy was I was wrong. I am not a failure and the challenges aren't rigged.</p>
							<p>I've learned some valuable lessons this year. One being nutrition is most the battle. You can "think healthy" all you want but if you fuel your body with junk rather than fuel it will run like garbage. It's like trying to put gasoline in a diesel engine; total garbage. Our bodies are the same way. Food is fuel for our bodies, nothing more. Do NOT top off the tank! Topping of the tank will damage your vehicle. I damaged mine that way and that's how I ended up with all the extra sediment in my tank known as "chubby".</p>
							<p>I count my blessings every day for the opportunity to share my story with others. I have struggled with my weight since elementary school. Kids can be cruel. Things they say, those things stay with you in the depths of your soul forever. If I could say anything to them today, right here right now it's, "ya'all I highly recommend the performance bar in the carmel crunch".</p>
	         	</div>

	         	<div class="challenge-finalist">
	         		
	         		<img class="finalist-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/2020ChallengeWinnersLandingPage-Transformation-MJW.png?v=1614717254">
	         		<img class="finalist-title" src="https://cdn.shopify.com/s/files/1/2786/4584/files/2020ChallengeWinnersLandingPage-Title-MJW.svg?v=1614717254">

	         		<p>I don’t find my “story” to be particularly outstanding in the grand scheme of things. It’s likely colored with the same hues as any other transformation that you have witnessed. I used to use the phrase “struggle with my weight” but that little string of words was just a passive excuse for the raw truth: I didn’t struggle with my weight. I was over-weight. There hasn’t been a single moment in my conscious life that I had an “average” BMI. I wasn’t struggling. I was living an unhealthy life. And it was a struggle: lugging around eighty pounds of extra weight isn’t easy. But I did it. Every day. For thirty-one years. I could continue to make excuses the rest of my life or I could do something. I could actually learn what it means to struggle. I could fight. I could fight for my health, for my daughter, my family...I could go to war with every bad habit that owned me.</p>

							<p>And I could win.</p>

							<p>In February of 2020, I signed up for my first Mtn Ops Conquer Fitness Challenge. I needed something to motivate me, to propel me towards my goal and keep me honest with myself. Wars are not won without the support of a team: I found all of that, and more, in my Mtn Ops family. Mtn Ops may appear to be just be a supplement company from the outside looking in; however, the warriors beneath the surface are unlike any other force. They will empower you. They will push you. Motivate you, inspire you, nourish you, and drive you to be the absolute strongest, most accomplished version of yourself.</p>

							<p>A version of myself that I never knew existed.</p>

							<p>Armoring myself with quality tools and knowledge, I stepped on to that battlefield. I spent so many years being uncomfortable in my skin, it was time to learn a new level of “uncomfortable”. This time, the discomfort meant progress. Transforming isn’t for the faint of heart. Some days were hard. Brutal. They were worth it. They’re still hard but today, I embrace the suck.</p>

							<p>I stay stocked with IGNITE, ENDURO, and SLUMBER. Those three products, along with several others, have been invaluable throughout this journey. Could I have done it without them? Maybe. I could drive a nail with a teaspoon too but I’d much rather use a hammer. These products aren’t a magic pill. They won’t do the work, you have to. But I will promise you one thing:</p>

							<p>It is worth it.</p>

							<p>I weighed 256 pounds at the end of 2019. A number I am ashamed of. But the pride I feel today, is so strikingly bright, that shame has been cast to the shadows. Today, I weigh 184 pounds. My once snug size 22 jeans are long gone, traded in for a now slightly baggy size 14. My journey isn’t over. The war still rages but, man, the battles I have won have been glorious.</p>

							<p>This is my fight for life and I don’t have one drop of quit in me.</p>
	         	</div>

	         	<div class="challenge-finalist">
	         		
	         		<img class="finalist-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/2020ChallengeWinnersLandingPage-Transformation-JacobP.png?v=1614717254">
	         		<img class="finalist-title" src="https://cdn.shopify.com/s/files/1/2786/4584/files/2020ChallengeWinnersLandingPage-Title-JacobP.svg?v=1614717254">

	         		<p>I will never be what I once was.” “Why even try?” “I’m tired. I’m sore. It’s cold. It’s hot” “WHATS THE POINT?” These have been my thoughts over the past ten years since leaving the world of competitive sports. This type of thinking is what led me down the road of weight gain, fatigue, and general unhappiness with myself. After years of dwelling in that negativity, I had a choice to make: either I change my mindset or I continue to steal joy from my family as I sulk in bitterness. I have said continually that I embarked on this journey with one ultimate goal of being an example of discipline and perseverance to my wife and children. And I cannot think of a better way to keep me accountable than knowing my children could potentially witness their dad give up.</p>

							<p>Going into 2020, no one had a clue what was in store. Many of us had big plans and even bigger dreams, but it all came to a screeching halt once March rolled around. That’s when I discovered and joined the MTNOPS Challenge. From that point, I told myself that I would not take ‘no’ for an answer. If there was anything that would challenge me mentally, spiritually, or physically, I was determined to attack it and overcome. I made goals: read the Bible everyday, exercise everyday, work on a skill everyday (mostly archery...ok, only archery). I changed my thought process. I chose to push harder today than I did yesterday. I often found myself thinking, “Its going to be hard to top today, tomorrow,” but I committed to it and determined that quitting was not an option! With the vast selection of amazing MTNOPS supplements (I’ve used most all of them) and their commitment to improving lives; I was able to utilize their knowledge to improve my energy, mental clarity, and overall health. Guess what - <b>YOU CAN DO IT TOO!</b></p>

							<p>Above all else, growing closer to my family has been the best part of this challenge. We spent more time together outdoors, simply enjoying God’s creation. We welcomed another beautiful child into this wild world (Patek: party of 6). And I fell deeper in love with my wonderful, selfless bride (which is always a plus). My wife, by the way, laughed at my before picture. She said, “That was you? It’s hard to remember you looking like that!”</p>

							<p>Thank you to all at MTNOPS and everyone within the conquer fit group. We all have a hand in inspiring each other to #conquermore today than we did yesterday. God bless!</p>
	         	</div>

	         	<div class="challenge-finalist">
	         		<img class="finalist-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/2020ChallengeWinnersLandingPage-Transformation-BrianF.png?v=1614717254">
	         		<img class="finalist-title" src="https://cdn.shopify.com/s/files/1/2786/4584/files/2020ChallengeWinnersLandingPage-Title-BrianF.svg?v=1614717254">

	         		<p>My name is Brian Fritz. After losing 91 pounds using the Mtn Ops Weight Loss System along with their weight loss workouts I switched it up and started using Magnum, Yeti and BCAA's for a little muscle gain and recovery.</p>
	         		<p>This experience has brought on so many emotions and challenges. I have learned a lot about myself and what I am capable of. I have found that if you believe and commit to yourself, your goals will surely follow. You are stronger than you realize and if I can do it, you can do it.</p>
	         		<p><b>BELIEVE IN YOURSELF!</b></p>
	         	</div>
            
            <a class="challenge-vote-now" href="https://www.surveymonkey.com/r/XN2VXNL" target="_blank">
            	<img class="finalist-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/Pickthe2020ChallengeWinner-Stacked.svg?v=1614727394">
            	<p>Who do you believe deserves to win the 2020 Conquer Challenge Transformation Cruise Getaway?</p>
	            <button>VOTE NOW</button>
	          </a>
         </div>
      </div>
   </div>
</div>

