
<div class="main-page-wrapper">
	<div class="autoship-wrap">
		<div class="mtnops-slim-page-title"><h1>MTN OPS AUTOSHIP SUBSCRIPTION PROGRAM</h1></div>

		<header class="page-hero has-page-image" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/Weight_Loss_System-Lifestyle-Trevor--3.jpg?v=1609178542');">
	    
	    <div class="page-hero-text">
	    	<img class="hero-logo" src="https://cdn.shopify.com/s/files/1/2786/4584/files/autoship-program.svg?v=1609181147">
	    </div>

	  </header>

	  <section class="mtnops-section">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="section-content-wrap">
							<img class="section-title" src="https://cdn.shopify.com/s/files/1/2786/4584/files/why-subscribe.svg?v=1609184726">
							<p>It's a hands-off, super convenient way to ensure you never experience "Last Scoop" syndrome again while also scoring a discount on orders you schedule out. The AutoShip program is completely flexible and fully managed by you. You can skip a scheduled delivery, change a product flavor, update your shipping address, change your next charge date, change your delivery schedule, or cancel your AutoShip all together at any time.</p>
							<p><i><b>NOTICE:</b> The AutoShip Subscription program is only for orders shipping within the United States. 10% Off + Free shipping ONLY applies to AutoShip Subscription Orders.</i></p>
							<ul class="subscription-benefit-icons">
								<li>
									<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/benefit-savings.svg?v=1609184726">
								</li>
								<li>
									<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/benefit-setup.svg?v=1609184726">
								</li>
								<li>
									<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/benefit-anytime.svg?v=1609184726">
								</li>
								<li>
									<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/benefit-cost.svg?v=1609184726">
								</li>
							</ul>
		    		</div>
					</div>
				</div>
			</div>
		</section>

		<section class="mtnops-section section-lg-padding">
			<div class="container">
			  <div class="row">
			    <div class="col-sm-12">

			    	<div class="review-content-wrap">
			    		<div class="quote-icon quote-left"><i class="far fa-quote-left"></i></div>
					    <div class="quote-icon quote-right"><i class="far fa-quote-right"></i></div>

							<div class="owl-carousel reviews-carousel" id="reviews-carousel">
						    <div class="review-item">
					    		<h3>Game Changer!</h3>
					    		<p>I've been a MTN OPS customer for years and finally being able to have my monthly stack delivered right to my door monthly, with some sweet savings, has been a game changer. If you love MTN OPS product, there's no reason not to become an Insider.</p>
					    		<div class="reviewer-meta">
						    		<div class="reviewer">Tyler M.</div>
						    		<div>
						    			<i class="fas fa-shield-check"></i> Verified Buyer
						    		</div>
						    		{% comment %}<div class="review-date">Mar 01, 2020</div>{% endcomment %}
						    	</div>
								</div>
								<div class="review-item">
					    		<h3>Money in my pocket!</h3>
					    		<p>I used to wait for little promos or opportunities to get free shipping on my order. Now I'm saving 10% and getting free shipping. No more 'hoping' I'll get a hookup now and then, it's a guarantee. That's money in my pocket every order.</p>
					    		<div class="reviewer-meta">
						    		<div class="reviewer">Sadie L.</div>
						    		<div>
						    			<i class="fas fa-shield-check"></i> Verified Buyer
						    		</div>
						    		{% comment %}<div class="review-date">Aug 28, 2020</div>{% endcomment %}
						    	</div>
								</div>

						  </div>
						</div>

			    </div>
			  </div>
			</div>
		</section>

		<section class="mtnops-section dark-section section-lg-padding">
			<div class="container">
			  <div class="row">
			    <div class="col-sm-12">
			    	<div class="section-content-wrap how-to-start-wrap">
			    		<img class="section-title" src="https://cdn.shopify.com/s/files/1/2786/4584/files/how-to-start.svg?v=1609184726">
			    		<ul class="steps-list">
			    			<li>
			    				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/step-1.svg?v=1609186060">
			    				<p>LOG IN OR CREATE AN ACCOUNT</p>
			    			</li>
			    			<li>
			    				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/step-2.svg?v=1609186060">
			    				<p>VISIT ANY PRODUCT PAGE AND SELECT “SUBSCRIBE & SAVE”</p>
			    			</li>
			    			<li>
			    				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/step-3.svg?v=1609186060">
			    				<p>CHOOSE HOW FREQUENT YOU WOULD LIKE SHIPMENTS</p>
			    			</li>
			    			<li>
			    				<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/step-4.svg?v=1609186060">
			    				<p>ADD TO CART & HEAD TO CHECKOUT AS USUAL</p>
			    			</li>
			    		</ul>
			    		<p>Already subscribed? You can manage your <a href="https://mtnops.com/account" target="_blank"><b>account here</b></a>.</p>
						</div>
			    </div>
			  </div>
			</div>
		</section>

		<section class="mtnops-section">
			<div class="container">
			  <div class="row">
			    <div class="col-sm-12">
			    	<div class="section-content-wrap">
			    		<h2>AUTOSHIP FAQs</h2>
			    		<span class="h2-subtitle">A QUICK GUIDE FOR SUBSCRIPTION QUESTIONS</span>
				    	<ul class="faqs-list">
				    		<li>
				    			<a>Create an Autoship Account</a>
					    		<div>
										<p>To subscribe to AutoShip, simply visit any of our product pages and:</p>
										<ol>
											<li>Choose “AUTOSHIP & SAVE 10% + FREE SHIPPING”</li>
											<li>Choose the frequency you want to receive your delivery (Delivery every 30, 45, 60, or 90 days)</li>
											<li>Select the Flavor and the quantity you want to add to your AutoShip subscription by clicking on the + and – buttons next to the Add to Cart button.</li>
											<li>Click Add To Cart</li>
										</ol>
										<p>This will add the product to your cart as an AutoShip subscription. Once you have added all your desired AutoShip products to your cart, proceed through checkout and your subscription order is complete and your AutoShip subscriptions are ready to rock!</p>
									</div>
				    		</li>
				    		<li>
				    			<a>Create an Account</a>
					    		<div>
										<p>To manage your AutoShip subscriptions, you need to have a MTN OPS account.</p>

										<p>You will be asked to create an account when completing the checkout if you are creating an AutoShip subscription. Please use a valid email and create a password.</p>

										<p>You can also follow the instructions below to create your MTN OPS account.</p>

										<ol>
											<li>Go to our account page. You can also access the account page from the top navigation (Login/Register or My Account links).</li>
											<li>Click on the black "Register" button on the right side of the page.</li>
											<li>Fill out your account information and click "Register"</li>
										</ol>
										<p>You will now be taken to your personal account area, where you can manage every aspect of your AutoShip subscription.</p>

										<p>You can change shipping dates, payment information, products you want to receive and much more.</p>
									</div>
				    		</li>
				    		<li>
				    			<a>Your Account Overview Page</a>
					    		<div>
										<p>Welcome to your MTN OPS account page!</p>

										<p>Here you will be able to perform all actions related to your account, as well as view order history.</p>

										<p>To manage your AutoShip Subscriptions, click on "Manage Subscriptions" below your Name in the center of the page.</p>

										<p>If you have not created an AutoShip subscription, the page will say, "Sorry, there is no subscription account associated to this Shopify customer ID"</p>

										<p>Once you have created an AutoShip subscription you will see all the details related to your Subscriptions.</p>
									</div>
				    		</li>
				    		<li>
				    			<a>Manage your upcoming delivery</a>
				    			<div>
				    				<p>You can manage all aspects related to your upcoming delivery in the "Auto Shipments" link from the menu on the left hand side of the screen.</p>

										<p>You can access AutoShip Subscriptions by clicking on "AutoShip Subscriptions" in the left-hand side menu on desktop or top-menu on mobile.</p>

										<p>Here you will see your AutoShip Subscriptions and all available actions.</p>

										<p>You can click on "Edit" if you want to modify the flavors and quantities of your AutoShip products, delivery schedule, charge date, payment method and shipping address.</p>

										<p>Then click "Update" to save your changes.</p>

										<p><b>SKIP A DELIVERY</b></p>

										<p>If you have enough MTN OPS from your last order, or you simply want to take a break, navigate to Delivery schedule from the menu options and click on "Skip"  on the products from your upcoming order. By doing this we will not send you your next delivery and skip to the following scheduled order.</p>

										<p><b>CANCEL AN AUTOSHIP SUBSCRIPTION</b></p>

										<p>If you no longer want to receive this product, click on "Edit" and then "Cancel Subscription" at the bottom of the product subscription details page.</p>

										<p><b>NOTE:</b> if you are subscribed to multiple MTN OPS products you will have to perform these actions for each of the products. This gives you flexibility in case you want to continue receiving certain products on a schedule.</p>
				    			</div>
				    		</li>
				    		<li>
				    			<a>Add a new product to your Autoship Subscription</a>
				    			<div>
				    				<p>If you want to add a new product to your next delivery:</p>
										<ol>
											<li>Open the delivery you want to add the product to by clicking on "Add Product" at the bottom of the page under the "AutoShip Subscriptions" from the link in the left menu.</li>
											<li>Search and/or select the product you want to add by clicking on the product.</li>
											<li>The page will refresh and you will then see your updated AutoShip subscription item details. Make any changes you need to your order and click the "Add Product" button.</li>
										</ol>

										<p>Thank you for signing up for MTN OPS AutoShip program!</p>
				    			</div>
				    		</li>
				    	</ul>

						</div>
			    </div>
			  </div>
			</div>
		</section>

		{% comment %}<section class="lifestyle-section">
			<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/Weight_Loss_System-Lifestyle-Trevor--8.jpg?v=1608236665">
		</section>

		{% include 'mtnops-free-consultation-wls-section' %}{% endcomment %}

	</div>

</div>


<script src="https://kit.fontawesome.com/87fe852ab0.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$("#reviews-carousel").owlCarousel({
	    loop: true,
	    nav: false,
	    //navText: ['<i class="far fa-arrow-square-left"></i>','<i class="far fa-arrow-square-right"></i>'],
	    dots: false,
	    autoplay: true,
	    autoplayTimeout: 10000,
	    autoplayHoverPause: true,
	    items: 1
	  });

	  var faqTrigger = $('.faqs-list li a');

	  faqTrigger.on('click', function(e) {
	  	var current = $(this);
	  	current.parent('li').toggleClass('active');
	  });
	});
</script>

