{% assign package = all_products['elk-summit'] %}


<div id="add-registration" class="iziModal custom-modal elk-summit-modal">
  <div data-izimodal-close="" class="icon-close"><i class="fa fa-times" aria-hidden="true"></i></div>
  <header>
  	<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-sign-up-title.svg?v=1619026307">
  	<p>We need some info from you for the event and some of the swag items you'll be rockin'.</p>
  </header>
  <div class="modal-body">
	  <div>
	  	<label for="shirt">What is your shirt size?</label>
	  	<select id="shirt-size" name="shirt">
	  		<option value="">Choose shirt size...</option>
	  			<option value="Small">Small</option>
	  			<option value="Medium">Medium</option>
	  			<option value="Large">Large</option>
	  			<option value="X-Large">X-Large</option>
	  			<option value="2X-Large">2X-Large</option>
	  			<option value="3X-Large">3X-Large</option>
	  	</select>
	  </div>
	  <div>
	  	<label for="waist">Your waist size? (number only por favor)</label>
			<input id="waist-size" type="number" name="waist" min="20" max="60" size="1">
	  </div>
	</div>
	<footer>
		{% comment %}<img class="early-bird-price" src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-early-bird-price.svg?v=1621023936">{% endcomment %}
	  {% comment %}<span>$1,750 for a spot at camp</span>{% endcomment %}
		<a class="elk-summit-sign-up mtnops-btn disabled">ADD TO CART</a>
	</footer>
</div>


<div class="main-page-wrapper elk-summit-event">

	<div class="event-page-wrap">
		<div class="mtnops-slim-page-title"><h1>ELK SUMMIT AT SNOWBASIN | JUNE 24TH - 26TH</h1></div>

		<div class="event-hero" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-bg.jpg?v=1618967885');">
      <div class="hero-overlay">
         <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/MtnOpsElkSummitLogo-White.svg?v=1618871951">
      </div>
   	</div>
	  

		<div class="event-main-wrap">

			<div class="container">
			  <div class="row">
			    <div class="col-xs-12" role="main">
			    	<div class="event-details-wrap">
			    		<div class="elk-camp-meta">
				    		<img class="event-location" src="https://cdn.shopify.com/s/files/1/2786/4584/files/event-location.svg?v=1618968687">
				    		<img class="event-dates" src="https://cdn.shopify.com/s/files/1/2786/4584/files/event-dates.svg?v=1618968687">
				    		<img class="event-cost" src="https://cdn.shopify.com/s/files/1/2786/4584/files/event-cost.svg?v=1621021981">
				    	</div>
							<p>We are excited to announce our first annual MTN OPS Elk Summit. MTN OPS is proud to partner with some of the world’s most elite and notable elk hunters and with that, we have the ability to provide our community a unique opportunity to learn and engage with the best, concerning all things elk.</p>
  
							<p>The event will be 3 memorable days focused around education with applied learning, an archery shoot and weighted pack hike, and a unique social setting accompanied with delicious fare and live music. It will also be a chance to meet like minded individuals and make everlasting friendships with other hunters.</p>

							<p>To top it off, <b>EVERY PARTICIPANT WILL GO HOME WITH OVER $1,000 OF FREE GEAR AND THE OPPORTUNITY TO WIN THOUSANDS MORE!</b></p>

							<div class="event-benefits">
								<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-memorable-title-white.svg?v=1621283952">
								<ul>
									<li>LODGING PROVIDED <span>SLEEPING IN CANVASCUTTER BEDROLLS AND DAVIS CANVAS TENTS AND COTS AT SNOWBASIN</span></li>
									<li>ALL MEALS INCLUDED <span>BE PREPARED FOR SOME BOMBER MEALS PREPARED BY BASIN</span></li>
									<li>ELK EDUCATION CLASSES <span>LISTEN AND LEARN FROM THE BEST OF THE BEST</span></li>
									<li>WEIGHTED PACK HIKE <span>A GREAT WAY TO TEST YOUR HUNT READINESS</span></li>
									<li>ARCHERY COURSE <span>ALL ELK TARGETS, ALL SHOT ANGLE SCENARIOS</span></li>
									<li>GEAR GIVEAWAYS <span>WE HAVE TEAMED UP WITH SOME AMAZING PARTNERS THAT ARE BRINGING THE GOODS</span></li>
									<li>MEET AND MINGLE <span>RUB SHOULDERS AND SWAP STORIES WITH AMAZING PEOPLE</span></li>
									<li>LIVE MUSIC <span>SNOWBASIN VIEWS... THE SOUNDS OF SWEET MUSIC... GONNA BE LIT</span></li>
									<li>BONFIRES <span>A GREAT WAY TO END EACH EVENING AROUND THE FIRE PITS</span></li>
								</ul>
							</div>
							{% comment %}<img class="early-bird" src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-early-bird-special2.svg?v=1621027780">{% endcomment %}
							
							<div class="event-signup-title">
					  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-sign-up-title.svg?v=1619026307">
					  	</div>
							<a class="ready-to-register mtnops-btn">SIGN UP TODAY!</a>

			    	</div>

					</div>

		  	</div>
			</div>
	  </div>

	  <div class="special-guests-wrap">
	  	<div class="event-section-title">
	  		<img style="margin: 0 auto;" src="https://cdn.shopify.com/s/files/1/2786/4584/files/title-special-guests.svg?v=1621023206">
	  	</div>
	  	
		  <div class="special-guests">
		  	<div class="">
		  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/guest-corey.png?v=1618872950">
		  	</div>
		  	<div class="">
		  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/guest-eric.png?v=1618872950">
		  	</div>
		  	<div class="">
		  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/guest-randy.png?v=1618872950">
		  	</div>
		  	<div class="">
		  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/guest-brian.png?v=1618872950">
		  	</div>
		  	<div class="">
		  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/guest-ryan.png?v=1618872950">
		  	</div>
		  	<div class="">
		  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/guesta-chad.png?v=1618872950">
		  	</div>
		  </div>
		</div>

		<div class="hunt-carousel-wrap">
	    <div class="owl-carousel owl-theme" id="lifestyle-gallery">
	    	
	    	<div class="item text-center">
	        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-gallery-1.jpg?v=1619024663">
	      </div>
	      <div class="item text-center">
	        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-gallery-2.jpg?v=1619024663">
	      </div>
	      <div class="item text-center">
	        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-gallery-3.jpg?v=1619024663">
	      </div>
	      <div class="item text-center">
	        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-gallery-4.jpg?v=1619024663">
	      </div>
	      <div class="item text-center">
	        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-gallery-5.jpg?v=1619024663">
	      </div>
	    </div>
	  </div>

		<div class="event-agenda-wrap">
			<div class="event-section-title">
	  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/title-event-agenda.svg?v=1621023266">
	  	</div>

		  <div class="event-agenda">
			  <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-event-agenda.svg?v=1619020872">
			</div>
		</div>

		<div class="camp-partners-wrap">

			<img class="image-section-flow" src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-win-gear.svg?v=1621022648">

	  	<div class="event-section-title">
	  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-special-thanks.svg?v=1621022648">
	  	</div>
		  <div class="camp-partners">

		  	<div class="elk-summit-partner-brands">
			    <div class="owl-carousel owl-theme" id="brands-gallery">
			    	<div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-1.svg?v=1621025161">
			      </div>
			      <div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-2.svg?v=1621025161">
			      </div>
			      <div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-3.svg?v=1621025161">
			      </div>
			      <div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-4.svg?v=1621025161">
			      </div>
			      <div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-5.svg?v=1621025161">
			      </div>
			      <div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-6.svg?v=1621025161">
			      </div>
			      {% comment %}<div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-7.svg?v=1621025161">
			      </div>{% endcomment %}
			      <div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-8.svg?v=1621025161">
			      </div>
			      <div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-9.svg?v=1621025161">
			      </div>
			      <div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-10.svg?v=1621025161">
			      </div>
			      <div class="item">
			        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-partner-11.svg?v=1621025161">
			      </div>
			    </div>
			  </div>

			  <div class="camp-partners-footer">
		  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/snowbasin-logo-stacked.png?v=1618973769">
		  		<p>Snowbasin Resort is conveniently located just 45 minutes north of the SLC Airport and are experts to providing up-scale experiences where we will utilize their facilities for dining, education and entertainment.</p>
		  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/royal-restrooms-logo.jpg?v=1618974082">
		  		<p>Royal Restrooms will be providing trailers for showers and bathrooms to use throughout the event.</p>
		  	</div>
		  	
		  </div>

		</div>


	  <div id="sign-up" class="event-signup-wrap">
	  	<div class="event-signup-title">
	  		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/elk-summit-sign-up-title.svg?v=1619026307">
	  	</div>
			<a class="ready-to-register mtnops-btn">SIGN UP TODAY!</a>
		</div>


	</div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha256-pTxD+DSzIwmwhOqTFN+DB+nHjO4iAsbgfyFq5K5bcE0=" crossorigin="anonymous"></script>

<script type="text/javascript">
	var packageId = {{package.variants[0].id}};


	$('#add-registration').iziModal({
		padding: 30,
		overlayColor: 'rgba(0, 0, 0, 0.9)',
		width: 500,
		closeButton: false,
		autoOpen: false
	});

	$(document).on('click', '.ready-to-register', function (event) {
    event.preventDefault();
    $('#add-registration').iziModal('open');
	});

	$('#shirt-size').change(function(){
		console.log($(this).val()); 
	});

	if($('#waist-size').is(":focus")) {
		console.log('is focused');
	}

	$(document).ready(function(){
    $("#lifestyle-gallery").owlCarousel({
      loop: true,
      nav: false,
      dots: false,
      stagePadding: 5,
      margin: 5,
      autoplay: true,
      autoplayTimeout: 4000,
      responsive: {
        0: {
          items: 2
        },
        700: {
          items: 3
        }
      }
    });
  });

	$(document).ready(function(){
    $("#brands-gallery").owlCarousel({
      loop: true,
      nav: false,
      dots: false,
      stagePadding: 5,
      margin: 5,
      autoplay: true,
      autoplayTimeout: 4000,
      responsive: {
        0: {
          items: 1
        },
        600: {
          items: 2
        },
        900: {
          items: 3
        }
      }
    });
  });

  function addfreeProductToCart(product_id, quantity, shirt, waist) {
    data = {
      "quantity": quantity,
      "id": product_id,
      attributes: {
        'Attendee Shirt Size': shirt,
        'Attendee Waist Size': waist
      },
      properties: {
        'Elk Summit': 'June 24th-26th!'
      }
    }
    jQuery.ajax({
      type: 'POST',
      url: '/cart/add.js',
      data: data,
      dataType: 'json',
      success: function() { 
        console.log('adding to cart was a success!');
     		window.location.href = "/checkout";
        
      },
      error: function (request, status, error) {
        console.log(request.responseText);
        var code = request.responseJSON.status;
        //if (code == 422 ) {
          //$('.message').text();
        //}
        console.log("<p>" + request.responseJSON.description + "</p>");
        alert('error on adding product to cart.');
      }
    });
  }

  // 

  $('.elk-summit-sign-up').on('click', function(e) {
  	e.preventDefault();
  	let shirt = $('#shirt-size').val(),
  	waist = $('#waist-size').val();
  	console.log('shirt '+ shirt, 'waist ' + waist);
  	if(waist && shirt !== "") {
  		addfreeProductToCart(packageId, 1, shirt, waist);
  	} else {
  		if(shirt === "") {
  			alert('Please select your shirt size');
  		} else if (!waist) {
  			alert('Please add your waist size');
  		}
  	}
    
  });
	

</script>




