
<div class="opstober-page-wrap">
  
  <section class="campaign-section opstober-landing" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/gritty-rzr-garage-dark-shot.jpg?v=1584400890');">
      
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <header>
              <img class="campaign-logo" src="https://cdn.shopify.com/s/files/1/2786/4584/files/opstober-logo.png?15640">

              
              
              <div class="row intro-row">
                <div class="col-xs-12 col-md-6">
                  
                  <img class="section-svg image-show-mobile" src="https://cdn.shopify.com/s/files/1/2786/4584/files/every-order-wins.svg?v=1601408208">
                  <img class="section-svg image-show-desktop" src="https://cdn.shopify.com/s/files/1/2786/4584/files/every-order-wins-dt.svg?v=1601505935">
                </div>
                <div class="col-xs-12 col-md-6">
                  <a id="play-button" class="play_opstober_video" href="#">
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/opstober-video-thumbnail.png?v=1601507645">
                  </a>
                  {% comment %}<div class="campaign-video">
                    <div  class="video-container">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/87fmXh15cSs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                  </div>{% endcomment %}
                </div>
              </div>


              <div class="opstober_video_wrap">
                <a id="pause-button" class="close_trigger"><i class="fa fa-times" aria-hidden="true"></i></a>
                <div class="video-container">
                  <div id="featured_video"></div>
                </div>
              </div>

              <p><b>OPSTOBER</b> is back and bigger than ever! To celebrate our favorite month of the year, we’re kicking it into 4-wheel drive! We’ve got over $40,000 in prizes up for grabs this month and every single order automatically receiving a randomized prize inside their packages, ranging from; free product, huge discounts and more! Not only that but EVERY SINGLE ORDER this month is automatically entered to win the MTN OPS POLARIS TURBO-S RZR!<br>
              
              There’s no better time to load up on MTN OPS than right now.</p>

              {% comment %}<a href="#" class="play_trigger video_thumb" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/OpstoberVidThumbnail.jpg?16193');">
                <i class="fa fa-play-circle" aria-hidden="true"></i>
              </a>{% endcomment %}

              {% comment %}<div class="text-center">
                <a href="https://mtnops.com/collections/energy-performance-1" class="mtnops-btn">SHOP NOW</a>
              </div>{% endcomment %}
              
            </header>
          </div>
        </div>
      </div>
  </section>

  <section class="campaign-section rzr-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img class="section-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/rzr-cutout.png?v=1601409601">
          <img class="section-svg" src="https://cdn.shopify.com/s/files/1/2786/4584/files/win-rzr-turbos.svg?v=1601487198">

          <p><b>EVERY ORDER</b> during the month of October is automatically entered to win the MTN OPS 2020 Polaris TURBO-S RZR. It's a pretty sweet ride, brand new, and ready to rip. One lucky winner will take it home with them. Why not you?</p>
        </div>
      </div>
    </div>
  </section>

  {% if customer.email == 'jake.shaw@me.com' %}{% endif %}
    <section class="extra-entries-section">
      <a href="/products/performance-bars">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/OpstoberLandingPage-ExtraEntriesBars.jpg?v=1603229365">
      </a>
      <a href="/products/mayan-mango">
        <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/OpstoberLandingPage-ExtraEntriesMayanMango.jpg?v=1603229366">
      </a>
    </section>
  

  <section class="campaign-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img class="section-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/opsbox-gear-packages.png?v=1601487624">
          <img class="section-svg" src="https://cdn.shopify.com/s/files/1/2786/4584/files/weekly-opsboxes-title-2.svg?v=1601489572">

          <p>Every weekend we’ll be selecting ONE RANDOM ORDER placed that week from Sunday through Saturday to receive an OPSBOX Gear Package worth over $3,500.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="campaign-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img class="section-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/Opstober-GoldenTickets-Web.png?v=1601498905">
          <img class="section-svg" src="https://cdn.shopify.com/s/files/1/2786/4584/files/golden-ticket-title-2.svg?v=1601489573">

          <p>All throughout the month we’ll be dropping in FREE MTN OPS PRODUCTS into RANDOM ORDERS. You can win things like our Battelground Merino, Kilo Duffels, Nutrition and more.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="campaign-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <img class="section-image" src="https://cdn.shopify.com/s/files/1/2786/4584/files/insert-cards-every-order-wins.png?v=1601487625">
          <img class="section-svg" src="https://cdn.shopify.com/s/files/1/2786/4584/files/inserts-prizes-title-2.svg?v=1601489573">

          <p>Inside of every package that leaves our warehouse this month will be a card for free shipping, site-wide discounts, and free products! Every order is a winner!</p>
        </div>
      </div>
    </div>
  </section>
  
  <section class="campaign-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <a href="https://mtnops.com/collections/energy-performance-1" class="mtnops-btn">SHOP NOW</a>
            <a href="#" id="tc-trigger" class="mtnops-btn">TERMS &amp; CONDITIONS</a>
            <a href="#" id="dp-trigger" class="mtnops-btn">REGISTER DEALER PURCHASE</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="opstober-dealer-purchase">
            <h3>REGISTER YOUR DEALER PURCHASE</h3>
            <h4>PLEASE FILL OUT THE FORM BELOW COMPLETELY TO BE ENTERED IN THE HUNT EXPERIENCES AND GEAR PACKAGES</h4>
            <div style="margin:0 auto;" class="pxFormGenerator" id="n0uqcPNdoDVD2bhnOOgyGA"></div>
          </div>
          <div class="opstober-terms-conditions">


            <h3>OPSTOBER TERMS AND CONDITIONS</h3>
            <p>NO PURCHASE NECESSARY TO ENTER OR WIN DURING OPSTOBER PROMOTIONAL GIVEAWAYS.</p>
            <p>Items purchased on MTNOPS.COM may not be returned during the OPSTOBER promotional period.</p>
            <p>An exchange of product may be accepted. Please contact customer support at <a href="mailto:support@mtnops.com">support@mtnops.com</a>. To be eligible for an exchange, your item must be unused and in the same condition that you received it. It must also be in the original packaging. You will be responsible for paying for your own shipping costs for exchanging your item. Shipping costs are non-refundable.</p>
            <h4>OPSTOBER RULES</h4>
            <p>Eligibility To Enter: OPSTOBER is open only to legal residents of the 50 United States and the District of Columbia and Canada* (excluding Quebec), who are 18 years of age or older and located in the U.S. or Canada at the time of entry. MTN OPS (“Administrator”) and its respective partners, subsidiaries and affiliated companies, retailers, sales representatives, dealers, distributors, licensees and the advertising, fulfillment, judging and promotion agencies involved in the development and administration of this Promotion and each of their officers, directors, employees and agents (collectively, “Promotion Parties”), and their immediate family members (parent, child, sibling and spouse of each) and those living in the same households of each are not eligible to participate. Void elsewhere and where prohibited by law.</p>
            <p>Promotion Period: The Promotion begins at 12:00 a.m. Mountain Standard Time on October 1st, 2020 and ends at 11:59 p.m. Mountain Standard Time on October 31st, 2020 (the “Promotion Period”).</p>
            <h4>HOW TO ENTER:</h4>
            <p>Online Entry: During the Promotion Period, go to the following website: www.mtnops.com (“Website”) and purchase one or more products during the Promotion Period (“Purchase Entry”). Entrants must complete their purchase with all required information, and submit payment (including shipping) to Mtn Ops. You will receive ONE ENTRY FOR EVERY order you place. Every order is automatically entered to win a the ops box of the week and the RZR razor described on the mtnops.com/opstober page.</p>
            <p>Retail Store Purchase: During the Promotion Period, go to one of our MTN OPS official dealers and purchase one or more products during the Promotion Period (“Purchase Entry”). ONE ENTRY FOR EVERY ORDER. After purchase, fill out the form at the bottom of the OPSTOBER page with all required information. Entrant must then mail official purchase receipt, or copy, to the following address:</p>
            <p>
              <b>MTN OPS LLC</b>
              <br>251 S. Mountain Rd
              <br>Fruit Heights, Utah 84037
            </p>
            <p>By entering this promotion, you consent to receive email announcements from MTN OPS, in accordance with its Privacy Policy, available <a href="https://mtnops.com/pages/terms-conditions" target="_blank">here.</a>.</p>
            <p>No Purchase necessary, Mail-in Entry: To obtain one entry by mail-in entry, send a postcard or letter in a #10 business envelope with your contact information (first name, last name, home address, phone number, a good email address) and what you would do to win 1 of 4 hunt/gear packages! Send your postcard or letter to the following mailing address via First Class U.S. mail to:</p>
            <p><b>MTN OPS LLC</b>
              <br>Attn: OPSTOBER ENTRY
              <br>251 S. Mountain Rd
              <br>Fruit Heights, Utah 84037
            </p>

            <p>Entry must be postmarked by October 31st, 2020 and received by November 5th, 2020. Only 1 entry per postcard will be accepted.
            Drawing: The OPS BOX Gear packages will be given away weekly. You are automatically entered to win the OPS BOX gear package for purchases from Sunday-Saturday. The winners will be sent the OPS BOX via the mail. If you have won please contact Rihana@mtnops.com. The RXR Polaris package will be drawn for after the OPSTOBER promotion has ended. On or between November 5th-15th, 2020, in Fruit Heights, Utah, the Promotion Administrator will conduct a random drawing from among all eligible entries received during the entire Promotion Period (Orders, mail-in Postcard entries, dealer purchase submissions, etc.).
            Giveaway prize, Estimated Retail Value (“ERV”) & Odds of winning: One (1) Grand Prize: (1) No substitution, cash redemption or transfer of prize is permitted except at Administrator’s sole discretion. If prize, or any portion thereof cannot be awarded for any reason, Administrator, in its sole discretion, reserves the right to substitute a prize of equal or greater value. All federal, state, provincial and local taxes, and all other costs associated with acceptance or use of the prize, are the sole responsibility of the winner. Administrator will determine all detail of the Promotion prize including, but not limited to, dates and location. Arrangements for delivery of prize will be made after winner is validated and confirmed.</p>
            <p>Odds of winning this or any other Promotional prize depend on the number of entries received and determined eligible by the Administrator. At the discretion of Administrator, unclaimed prizes will result in either a redraw or may not be awarded. Limit: One prize per person or household.</p>
            <p>Promotion General Rules: By participating in this Promotion, you (i) agree to be bound by these official rules, including all eligibility requirements, and (ii) agree to be bound by the decisions of Administrator, which are final and binding in all matters relating to the Promotion. All federal, state and local laws apply. All potential winners (and/or their parent/legal guardian if a minor) will each be notified by telephone, email, or direct message on social media and may be required to show proof of identity. The return of any notification as undeliverable or failure to respond within 14 days to such notices or return any documents in a timely manner or if a potential winner is found to be ineligible or not in compliance with these Official Rules, as determined by the Administrator, may result in disqualification and an alternate winner may be chosen. By participating, participants agree to release, discharge and hold harmless Administrator and Promotion Parties from and against any and all actions, causes of action, suits, debts, dues, sums of money, accounts, reckonings, bonds, bills, specialties, covenants, contracts, controversies, agreements, promises, variances, trespasses, lost profits, indirect or direct damages, consequential damages, incidental damages, punitive or exemplary damages, judgments, extent, executions, claims and demands whatsoever, in law, admiralty or equity, whether known or unknown, foreseen or unforeseen, associated with this Promotion or acceptance, use or misuse of any prize received in this Promotion, including property damage, personal injury, or death. In order to receive the prize, each potential winner will be required to complete an Affidavit of Eligibility and Release of Liability. Promotion Parties are not responsible for any typographical or other error in the printing of the offer or administration of the Promotion or inability to implement the Promotion or award the prizes as contemplated herein due to any event beyond its control, including delays or interruptions caused by acts of God, acts of war, natural disasters, weather, utility outages, acts of terrorism or any federal, state, or local government law, order, or regulation, order of any court or regulator. Acceptance of prize constitutes permission for the Sponsor and its agencies to use winners’ names and likenesses for purposes of advertising and publicity without further compensation, unless prohibited by law. By participating in this Promotion, participants agree to be bound by the Official Rules and decisions of the Administrator, which shall be final in all matters relating to the Promotion. The winner bears all risk of loss or damage. Neither Administratory nor Promotion Parties are responsible for lost, late, misdirected, stolen, illegible, inaccurate, damaged, incomplete, non-delivered or postage-due mail; or for printing, distribution or production errors or for technical, hardware, software, or telephone malfunctions of any kind, lost or unavailable network connections, or failed, incorrect, incomplete, inaccurate, garbled or delayed electronic communications caused by the user or by any of the equipment or programming associated with or utilized in this Promotion, or by any human, or other error, which may occur in this Promotion. If, in the Administrator’s sole opinion, there is any suspected or actual evidence of tampering with any portion of the Promotion or Website or if technical difficulties compromise the integrity of the Promotion, the Administrator reserves the right to void suspect entries and/or modify and/or terminate the Promotion and/or conduct a random drawing to award the prizes using all known eligible non-suspect entries received. The Administrator reserves the right to disqualify any individual who tampers with the Promotion or Website or acts in a disruptive or unfair manner. In the event of a dispute regarding the identity of the person submitting an entry, entries will be declared by the person’s name submitted at time of entry. Winner is solely responsible for all taxes on prize and other expenses not specifically set forth herein, including but not limited to registration, sales tax, license fees, insurance, and optional equipment, and all other unspecified costs associated with claiming, registering and/or using the corresponding prize. Winners acknowledge the Administrator, MTN OPS, LLC, and the Promotion Parties do not make, nor are in any manner responsible for any warranty, representations, expressed or implied, in fact or in law, relative to the quality, conditions, fitness or merchantability of any aspect of any prize, except that prizes will be subject to the corresponding manufacturer’s stated warranty, if any.</p>
            <p>Choice of Law and Jurisdiction: This Promotion is offered only in the United States and Canada (excluding Quebec) and is governed by the laws of the State of Utah. By entering, entrants irrevocably consent to the sole and exclusive jurisdiction of the courts of the State of Utah located in the county of Davis for any action, suit or proceeding arising out of or relating to this Promotion.</p>
            <p>Privacy & Security Policy: The personal information collected through this Promotion is subject to Administrator’s Privacy & Security Policy <a href="https://mtnops.com/pages/terms-conditions" target="_blank">here.</a>. By entering this Promotion, you agree to the use of your personal information as described in the above Privacy Policy.</p>
            <p>Waiver: Any and all disputes, claims, and causes of action arising out of or in connection with this Promotion, shall be resolved individually, without resort to any form of class action. ANY CLAIMS, JUDGMENTS AND/OR AWARDS SHALL BE LIMITED TO THE ACTUAL OUT-OF-POCKET COSTS ASSOCIATED WITH ENTERING THIS PROMOTION. ENTRANT HEREBY WAIVES ANY RIGHTS OR CLAIMS TO ATTORNEY’S FEES, INDIRECT, SPECIAL, PUNITIVE, INCIDENTAL OR CONSEQUENTIAL DAMAGES OF ENTRANT, WHETHER FORESEEABLE OR NOT AND WHETHER BASED ON NEGLIGENCE OR OTHERWISE.</p>
            <p>Winners’ List: We will announce the winners via email and our social media channels – Winners will receive prize(s) on or between November 20 – December 31, 2021. All trademarks used herein are the property of their respective owners. Manufacturers of the prizes offered in this Promotion do not sponsor or endorse this Promotion and are not affiliated with the Sponsor or Administrator in any way.</p>



            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="cards-section">
    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/OrderInsertsWideSpread-Web.png?v=1601408495">
  </section>

</div>


<script type="text/javascript">
  

  $('#tc-trigger').on('click', function(e) {
    e.preventDefault();
    $('.opstober-terms-conditions').slideToggle();
    $('.opstober-dealer-purchase').removeAttr("style");
    // var position = $('.opstober-terms-conditions').offset().top;
    // $("body, html").animate({
    //   scrollTop: position - 100
    // }, 500 );
  });


  $('#dp-trigger').on('click', function(e) {
    e.preventDefault();
    $('.opstober-dealer-purchase').slideToggle();
    $('.opstober-terms-conditions').removeAttr("style");
  });


  var tag = document.createElement('script');
  
  // function animateToTop(e) {
  //   e.preventDefault();
  //   var scrollToTop = window.setInterval(function() {
  //     var pos = window.pageYOffset;
  //     if ( pos > 0 ) {
  //         window.scrollTo( 0, pos - 20 );
  //     } else {
  //         window.clearInterval( scrollToTop );
  //     }
  //   }, 16);
  // }

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
      player = new YT.Player('featured_video', {
          height: '100%',
          width: '100%',
          videoId: '87fmXh15cSs', // Youtube video ID #
          playerVars: { 'showinfo': 0, 'controls': 1, rel: 0 },
          events: {
              'onReady': onPlayerReady,
              'onStateChange': onPlayerStateChange
          }
      });
  }
  function onPlayerReady(event) {
      // bind events
      var playButton =document.querySelector('.play_opstober_video'); // document.getElementById("play-button"); 

      playButton.addEventListener("click", function(e) {
          e.preventDefault();
          //animateToTop(e);
          player.playVideo();
          document.querySelector('.opstober-landing').className = "campaign-section opstober-landing user_watching";
          //document.querySelector('body').classList.add("user_watching");
      });

      var pauseButton = document.querySelector(".close_trigger");
      pauseButton.addEventListener("click", function(e) {
          e.preventDefault();
          document.querySelector('.opstober-landing').className = "campaign-section opstober-landing user_paused";
          //document.querySelector('body').classList.remove("user_watching");
          player.pauseVideo();
          //player.stopVideo();
      });


      document.onkeyup = function keyPress(e) {
          if (e.keyCode == 27) { // escape key maps to keycode `27`
              document.querySelector('.opstober-landing').className = "campaign-section opstober-landing";
              //document.querySelector('body').classList.remove("user_watching");
              player.pauseVideo();
              //player.stopVideo();
          }
      }

  }
  
  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING && !done) {
      // setTimeout(stopVideo, 6000);
      // done = true;

    //  var specifiedElement = document.querySelector(".video__wrap");

    // document.addEventListener('click', function(event) {
    //   var isClickInside = specifiedElement.contains(event.target);

    //   if (!isClickInside) {
    //    document.querySelector(".video__wrap").className = "video__wrap";
   //        document.querySelector('.banner').className = "banner center page_banner rally-hero dark-overlay-false";
   //        player.pauseVideo();
    //   }
    // });
      }
      if(event.data === 0){
          document.querySelector('.opstober-landing').className = "campaign-section opstober-landing";
          //document.querySelector('body').classList.remove("user_watching");
      }
  }
  function stopVideo() {
      player.stopVideo();
  }




</script>

{% comment %}{% if customer.email == 'jake.shaw@me.com' or customer.email == 'chris@mtnops.com' or customer.email == 'mlloyd@mtnops.com' or customer.email == 'rihana@mtnops.com' %}

{% else %}
  <p class="text-center">OPSTOBER IS COMING SOON! CHECK BACK SOON.</p>
{% endif %}{% endcomment %}