<div id="challenge_sign_up" class="conquermore-challenge-registration">
	<div class="challenge-form-wrapper">
		<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/join-challenge.svg?v=1620154638">
		<div style="margin:0 auto;" class="pxFormGenerator" id="CAG7KkQaCd2E6OXcRiAaqQ"></div>
	</div>
</div>

<div class="main-page-wrapper">
	<div class="mtnops-slim-page-title"><h1>CONQUER MORE CHALLENGE</h1></div>
	<section class="page-hero has-page-image" style="background-image:url('https://cdn.shopify.com/s/files/1/2786/4584/files/Consultation-Workout-Lifestyle-KT-Randall-12.jpg?v=1620665667');">

	    <div class="cf-overview">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12">
						<div class="page-hero-text">
							<div class="cf-logo">
								<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/conquer-more-challenge-logo.svg?v=1619719529">
							</div>
						</div>
						
					</div>
				</div>
				
			</div>
		</div>

	</section>
	<section class="cf-part-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>YOU WERE MADE TO CONQUER</h2>
					<p>Welcome to the MTN OPS <b>Conquer More Challenge</b>! At MTN OPS, we strive to do everything in our power to help inspire others to live their lives to the fullest and discover their talents and true potential. They who rise the highest, lift as they go.</p>

					<p>If you haven't noticed, we like the word <b>"CONQUER"</b>! This word has so much power and meaning to us and the MTN OPS brand. It helps capture the purpose of "why" we do what we do. In the early years of MTN OPS we would say, "This is #HOWICONQUER", #CONQUEROUTSIDE, and #CONQUERYOURUNKNOWN. It has naturally morphed into <b>#CONQUERMORE</b>.</p>

					<p>We believe that by doing just a little bit more each day - to be a better husband, wife, partner, parent, sister, brother, neighbor, friend - to read more each day, exercise more consistently, learn more about something new, listen more to those around us, be more willing to serve others, and give more focused <b>Time &amp; Attention</b> to those we love most - we will CONQUER MORE, and improve our own lives and the lives of our families.</p>

					<p>The MTN OPS Conquer More Challenge is simple. Join our Facebook Community, get yourself a partner, put together some goals you want to accomplish in four different aspects of your life (spiritual, physical, social, and mental), as well as a goal to grow strength in a "Core Value". MTN OPS will suggest a Core Value for you and your partner to focus on each month, or you can choose your own together. This month, the Core Value is <b>Service</b> and doing something generous and unexpected for someone else.</p>

					<p>To make this Challenge even better, MTN OPS will be giving away monthly prizes to random partnerships that finish and submit their challenge stories. So, grab a partner and let's work together to make our goals a reality. We can achieve more together than what we can do on our own. There is so much we can Conquer together.</p>

					<a href="#get-started" class="btn mtnops-btn scroll-action">GET STARTED</a>
				</div>
			</div>
		</div>
	</section>

	<section class="corevalue-section">
		<img class="image-cover" src="https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-conquer-hunger-service.jpg?v=1620667103">
		<div class="overlay-wrap">
			<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/conquermore-conquer-hunger-service.svg?v=1620667896">
		</div>
	</section>
	
	<section id="get-started" class="cf-part-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<header>
						<h2>Let's Get Started</h2>
						<h3>Now that you are in, here's how to start</h3>
					</header>
					<ul class="challenge-steps">
						<li class="register-now">
							<div>
								<h3>Join Our Community</h3>
								<span>An Inspiring Facebook Community that will help motivate and inspire you to grow. We invite you to join and contribute to the community with your own story to inspire others on their journey.</span>
								<a href="https://www.facebook.com/groups/162390341188702" class="mtnops-btn-sm" target="_blank">JOIN NOW</a>
							</div>
						</li>
						<li>
							<div>
								<h3>Get a Partner</h3>
								<span>Someone you know or meet in the Community. Once you have found your partner, each of you register by clicking below. We want to hear from both of you individually.</span>
								<a href="#" class="mtnops-btn-sm challenge-registration" target="_blank">REGISTER NOW</a>
							</div>
						</li>
						<li>
							<div>
								<h3>Month Core Value</h3>
								<div class="core-value">[Service]</div>
								<span>Here is this month's Core Value to work and reflect on. You can work at this core value or choose your own with your partner.</span>
							</div>
						</li>
						<li>
							<div>
								<h3>Download Worksheet</h3>
								<span>This worksheet will help you keep track of your goals and give you a place to reflect and write about what it is you are trying to accomplish.</span>
								<a href="https://cdn.shopify.com/s/files/1/2786/4584/files/ConquerMoreChallenge-SingleSheet-FINAL.pdf?v=1620680083" class="mtnops-btn-sm" target="_blank">DOWNLOAD PDF</a>
							</div>
						</li>
						<li>
							<div>
								<h3>Write Down Goals</h3>
								<span>Goals for Spritual, Physical, Mental, Social, as well as a goal to grow in the monthly Core Value.</span>
							</div>
						</li>
						<li>
							<div>
								<h3>Get to Work!</h3>
								<span>Record your thoughts and feelings in your worksheet. And if you have a lot to say, use your own CONQUER MORE thoughts journal.</span>
							</div>
						</li>
						<li>
							<div>
								<h3>Meet Weekly</h3>
								<span>Working with your partner is important. Having a sense of accountability to and for someone can motivate us to stick with the action necessary to accomplish our goals. Help your partner succeed. We promise if you do, you in turn, will also find your greatest success.</span>
							</div>
						</li>
						<li>
							<div>
								<h3>Finish Challenge!</h3>
								<span>As the month comes to an end, please use the worksheet questions to summarize your overall experience. It doesn't have to be a "highlight reel". Some of the greatest lessons can be learned in focusing on why we fell short.</span>
							</div>
						</li>
						<li class="submit-results">
							<div>
								<h3>Submit Results!</h3>
								<span>We want to hear your story! How did you do? How did your partner do? What lessons did you learn and what can you become even better at? What service did you render? How did you give more Time and Attention to your family? Let us know by submitting your results.</span>
								{% comment %}<a href="https://www.surveymonkey.com" class="mtnops-btn-sm challenge-submission" target="_blank">SUBMIT RESULTS</a>{% endcomment %}
							</div>
						</li>
					</ul>

				</div>
			</div>
		</div>
	</section>

	<section class="lifestyle-section">
		<img class="image-cover" src="https://cdn.shopify.com/s/files/1/2786/4584/files/Merino-Lifestyle-8.jpg?v=1614412026">
	</section>	

{% comment %}	<section class="cf-part-section matte-section rank-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<header>
						<h2>IN IT TO WIN IT</h2>
						<h3>Rank up in Conquer Fitness</h3>
						<p>Your health journey doesn't have a finish line and while each challenge is broken down into 30 day period, there's no reason to quit after you start.</p>
						<p>To award the dedicated, we've created 3 ranks you can achieve over time.</p>
					</header>
					<img class="rank-graph" src="https://cdn.shopify.com/s/files/1/2786/4584/files/RankAdvancement_47c7ac6e-a549-4c51-9b79-48f9f6954b92.png?v=1576802816">
					<div class="align-left">
						<p><b>OPERATIVE</b> - Upon completion of your very first Conquer Fitness Challenge, you'll automatically advance to the rank of OPERATIVE and you'll be entered into winning over 30K in MTN OPS products as well as be in the running to win an all expenses paid cruise. After your first 30 days, there's no way you're stopping here. Next stop... ELITE status.</p>
						<p><b>ELITE</b> - To advance to the rank of an ELITE you must complete 3 conquer fitness challenges. Each time you complete a challenge you not only up your chances of winning a chuck of 30K in MTN Ops product, but you also increase your chances of winning the CRUISE. Look how far you've come the last 90 days? No reason to stop now.</p>
						<p><b>ALPHA</b> - Dominate, constant, relentless.. a few words that describe an ALPHA. While the gap between an ELITE and an ALPHA may seem wide, it's the consistency and dedication to excellence that separates an ALPHA from the pack. After completing 12 total 30 Day Conquer Fitness challenges, MTN OPS will proudly celebrate and award these dedicated individuals with the highest rank obtainable in our Conquer Fitness program.</p>
					</div>
				</div>

			</div>
		</div>
	</section>{% endcomment %}
	

	{% include 'mtnops-conquer-fb-community' %}

	{% comment %}<section id="final-submission" class="cf-part-section final-submissions">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<header>
						<h2>CHALLENGE SUBMISSION</h2>
						<h3>SUBMIT YOUR RESULTS AT THE END OF YOUR CHALLENGE</h3>
						<p>Please see below on how to submit your information and final steps.</p>
					</header>

					<ul class="final_steps">
						<li>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/challenge-icon-scale-2-white.png?3189" />
							<h4>FINAL WEIGH-IN</h4>
							<p>Look how far you've come! Hard work and dedication will always pay off.</p>
						</li><li>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/challenge-icon-photo-white.png?3189" />
						  <h4>TRANSFORMATION PHOTOS</h4>
							<p>Oh hey there good lookin'. Congratulations. You look awesome!</p>
						</li><li>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/challenge-icon-essay-white.png?3189" />
							<h4>WRITE ESSAY</h4>
							<p>You inspire us. We want to hear your story and how MTN OPS products have helped you.</p>
						</li><li>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/challenge-icon-upload-white.png?3189" />
							<h4>FINAL SUBMISSION</h4>
							<p>When the Challenge ends please provide your final submission information by submiting it using the form below.</p>
						</li>
					</ul>

					<a href="#" class="mtnops-btn finish-challenge">SUBMIT RESULTS</a>
					<div id="challenge_submission">
						<div style="margin:0 auto;" class="pxFormGenerator" id="4z4KpSjARnsXg9u3NJwbPw"></div>		
					</div>
					  
				</div>
			</div>
			
		</div>
	</section>{% endcomment %}


	<section class="cf-part-section black-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div style="margin: 25px;">
						<h3 style="margin-bottom: 15px;">HELPFUL RESOURCES</h3>
						<a class="mtnops-btn" href="https://cdn.shopify.com/s/files/1/2786/4584/files/BodyMeasurementsJournal-Web.pdf?v=1613592092" target="_blank">BODY MEASUREMENT JOURNAL</a>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>



	<script type="text/javascript">

		$('#challenge_sign_up, #challenge_submission').iziModal( {
			padding: 0,
			overlayColor: 'rgba(0, 0, 0, 0.7)',
			width: 550,
			closeButton: true,
			autoOpen: false
		});

		$('.challenge-registration').on('click', function(e) {
			e.preventDefault();
			$('#challenge_sign_up').iziModal('open');
		});
		// $('.challenge-submission').on('click', function(e) {
		// 	e.preventDefault();
		// 	$('#challenge_submission').iziModal('open');
		// });


		$('.challenge-nav li a').on('click', function(e) {
			e.preventDefault();
			$month = $(this).data('month');
			$('.challenge-class').removeClass('active');
			$($month).addClass('active');
			$('.challenge-nav li a').removeClass('active');
			$(this).addClass('active');
		});

		$('.scroll-action').on('click', function(e) {
			e.preventDefault();
			var scroller = $(this).attr('href');
			$("html, body").animate({scrollTop: $(scroller).offset().top -100}, 500);
		});

	</script>




