<div class="main-page-wrapper">
   <!-- MAIN CONTENT AREA -->
   <div class="mtnops-slim-page-title"><h1>{{page.title}}</h1></div>
   <div class="landing-hero" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/Thankyoupage-PushBanner-BG.jpg?v=1587078661');">
		<div class="hero-overlay">
			<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/Thankyoupage-PushBanner-Text.png?v=1587078657">	
			<p>To say we’re humbled and excited to have you back would be an understatement. Thank you forgiving us a second chance. If you have any questions about any of our products or samples below feel free to hop on chat with us. We’d love to get to know you more.</p>
		</div>
	</div>

   {%- include 'mtnops_collection_sampler' -%}

</div>

