<div class="main-page-wrapper">
   <!-- MAIN CONTENT AREA -->
   {% comment %}{%- include 'page_heading', page_title:page.title -%}{% endcomment %}
   <div class="container">
      <div class="row">
         <div class="site-content col-sm-12" role="main">

           <header class="full-width hunt-expo-header" style="background-image: url('https://cdn.shopify.com/s/files/1/2786/4584/files/HuntExpoBackground-Web.png?v=1581104947');">
            <div class="events-header">
              <h1>WESTERN HUNT EXPO</h1>
              <span>IN-BOOTH EXPERIENCE & SCHEDULE</span>
            </div>
          </header>
          <div class="hunt-expo-list">
            <ul>
              <li>

                <h3>Thursday, Feb 13th</h3>
                <div class="booth-event-meta">
                  <p>
                    <b>8:00 AM — 10:00 AM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/LivesStageExperience-Orange.png?v=1581104945">
                    Live music with Joey Meador
                  </p>
                  <p>
                    <b>11:00 AM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/Ignite_Pong.png?v=1581104929">
                    Flip Bottle Challenge
                  </p>
                  <p>
                    <b>12:00 PM — 1:00 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/LivesStageExperience-Orange.png?v=1581104945">
                    Lunch, Live music with Joey Meador
                  </p>
                  <p>
                    <b>2:00 PM — 3:00 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/Ignite_Pong.png?v=1581104929">
                    Ignite Pong
                  </p>
                  <p>
                    <b>3:00 PM — 4:00 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/LivesStageExperience-Orange.png?v=1581104945">
                    Live music with Chris Petterson 4:00-7:00
                  </p>
                  <p>
                    <b>6:00 PM - 9:00 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/MovieNight.png?v=1581108539">
                    MOVIE NIGHT AT GATEWAY
                    <div class="event-link">
                      <a class="mtnops-btn-sm" href="https://www.eventbrite.com/e/mtn-ops-movie-night-salt-lake-city-ut-tickets-79795591763" target="_blank">Get Tickets</a>
                    </div>
                  </p>
                </div>
              </li>
              <li>

                <h3>Friday, Feb 14th</h3>
                <div class="booth-event-meta">
                  <p>
                    <b>8:00 AM - 10:00 AM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/LivesStageExperience-Orange.png?v=1581104945">
                    Live music with Joey Meador
                  </p>
                  <p>
                    <b>9:00 AM</b>
                    Lydia Smith Skull Painting 
                  </p>
                  <p>
                    <b>10:00 AM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/GrittyStepUp.png?v=1581104929">
                    Stone glacier step up w/ Gritty
                  </p>
                  <p>
                    <b>11:00 AM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/LivesStageExperience-Orange.png?v=1581104945">
                    Live music with Chris Peterson (no band)
                  </p>
                  <p>
                    <b>1:00 PM - 1:00 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/QA-Levi.png?v=1581104929">
                    Q&A with Levi Morgan
                  </p>
                  <p>
                    <b>2:00 PM - 3:00 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/ShedandTell.png?v=1581104928">
                    Show me your sheds with Ben Dettamani & Eric Chesser & Martin Chag
                  </p>
                  <p>
                    <b>3:30 PM - 4:30 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/ElkCallingComp.png?v=1581104929">
                    Youth calling competition with Phelps Game Calls
                  </p>
                  <p>
                    <b>5:00 PM - 6:00 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/LivesStageExperience-Orange.png?v=1581104945">
                    Live music with David Brinker
                  </p>
                </div>
              </li>
              <li>

                <h3>Saturday, Feb 15th</h3>
                <div class="booth-event-meta">
                  <p>
                    <b>6:00 AM - 9:00 AM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/KeepHammering5K.png?v=1581108538">
                    KEEP HAMMERING 5K RUN
                    <div class="event-link">
                      <a class="mtnops-btn-sm" href="https://www.eventbrite.com/e/cameron-hanes-keep-hammering-5k-2020-tickets-90818997065" target="_blank">Sign Up</a>
                    </div>
                  </p>
                  <p>
                    <b>8:00 AM — 10:00 AM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/LivesStageExperience-Orange.png?v=1581104945">
                    Live music with David Brinker
                  </p>
                  <p>
                    <b>10:00 AM - 11:00 AM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/Ignite_Pong.png?v=1581104929">
                    Punches and Pictures with Chad Mendes
                  </p>
                  <p>
                    <b>11:00 AM — 12:00 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/DuckCallingContest.png?v=1581104929">
                    Duck Calling Competition with Justin Martin
                  </p>
                  <p>
                    <b>12:00 PM — 1:00 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/LivesStageExperience-Orange.png?v=1581104945">
                    Live music with David Brinker
                  </p>
                  <p>
                    <b>1:30 PM — 2:30 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/QA-CamHanes.png?v=1581104929">
                    Q&A with Cam Hanes
                  </p>
                  <p>
                    <b>3:00 PM - 4:30 PM</b>
                    ELK CALLING CONTEST with MDF
                  </p>
                  <p>
                    <b>5:00 PM - 6:00 PM</b>
                    <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/LivesStageExperience-Orange.png?v=1581104945">
                    Live music with David Brinker 
                  </p>
                </div>
              </li>
            </ul>
          </div>

          {% comment %}<div class="mtnops-events-list">
            <div class="events-header">
              <h1>MTN OPS EVENTS</h1>
              <span>HERE'S WHAT'S GOING ON</span>
            </div>
            <ul>  
              <li>
                <a href="https://www.eventbrite.com/e/mdf-mtn-ops-hunt-expo-kickoff-party-tickets-89311461987" target="_blank">
                  <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/mdf-kickoff-party.jpg?v=1580402544">
                  <div class="event-meta">
                    <h3>MDF KICKOFF PARTY | SLC, UT</h3>
                    <h4>Date and Time</h4>
                    <div class="event-details">
                      <p>Wed, February 12, 2020</br>
                      6:00 PM – 11:00 PM MST</p>
                    </div>
                    <h4>Location</h4>
                    <div class="event-details">
                      <p>Salt Lake Marriott Downtown at City Creek</br>
                        75 South West Temple<br>
                        Salt Lake City, UT 84101</p>
                    </div>
                    <button>Get Tickets</button>
                  </div>
                </a>
              </li>
              <li>
                <a href="https://www.eventbrite.com/e/mtn-ops-movie-night-salt-lake-city-ut-tickets-79795591763" target="_blank">
                  <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/movie-night-slc-2020.jpg?v=1578949245">
                  <div class="event-meta">
                    <h3>MTN OPS MOVIE NIGHT | SLC, UT</h3>
                    <h4>Date and Time</h4>
                    <div class="event-details">
                      <p>Thu, February 13, 2020</br>
                      5:00 PM – 9:30 PM MST</p>
                    </div>
                    <h4>Location</h4>
                    <div class="event-details">
                      <p>165 South Rio Grande Street</br>
                        Salt Lake City, UT 84101</p>
                    </div>
                    <button>Get Tickets</button>
                  </div>
                </a>
              </li>
              <li>
                <a href="https://www.eventbrite.com/e/cameron-hanes-keep-hammering-5k-2020-tickets-90818997065" target="_blank">
                  <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/keep-hammering-5k-2020_f59ea1bf-9909-44d9-8aa3-f2cd9f4b460f.jpg?v=1580402544">
                  <div class="event-meta">
                    <h3>KEEP HAMMERING 5K | SLC, UT</h3>
                    <h4>Date and Time</h4>
                    <div class="event-details">
                      <p>Sat, February 15, 2020</br>
                      6:45 AM – 10:00 AM MST</p>
                    </div>
                    <h4>Location</h4>
                    <div class="event-details">
                      <p>Memory Grove Park</br>
                        300 N Canyon Rd
                        Salt Lake City, UT 84103</p>
                    </div>
                    <button>Register Now</button>
                  </div>
                </a>
              </li>

            </ul>
          </div>
{% endcomment %}
       		{{ page.content }}

         </div>
      </div>
   </div>
</div>



{% if "past" == "events" %}
  <li>
    <a href="https://www.eventbrite.com/e/mtn-ops-movie-night-tigard-or-tickets-85510613547" target="_blank">
      <img src="https://cdn.shopify.com/s/files/1/2786/4584/files/movie-night-tigard-2020.jpg?v=1578951973">
      <div class="event-meta">
        <h3>MTN OPS Movie Night | Tigard, OR</h3>
        <h4>Date and Time</h4>
        <div class="event-details">
          <p>Thu, February 6, 2020</br>
        5:00 PM – 9:30 PM PST</p>
        </div>
        <h4>Location</h4>
        <div class="event-details">
          <p>7329 Southwest Bridgeport Road</br>
          Tigard, OR 97224</p>
        </div>
        <button>Get Tickets</button>
      </div>
    </a>
  </li>
{% endif %}




