
<div class="main-page-wrapper">
	<div class="mtnops-slim-page-title"><h1>CONQUER FITNESS CHALLENGE</h1></div>
	<section class="cf_hero_wrap" style="background-image:url('https://cdn.shopify.com/s/files/1/2786/4584/files/ConquerFitnessTraining-FreeWorkout-Homepush-BG.jpg?v=1586304088');">

	    <div class="cf-overview">
			<div class="container">
				<div class="row text-center">
					<div class="col-xs-12">
						<div class="cf-logo">
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/cf-challenge-logo.svg?v=1609478981">
						</div>
						
						<a id="play-button" class="watch_intro" href="#">
					  	Play Video <i class="fa fa-play-circle" aria-hidden="true"></i>
					  </a>
						
					</div>
				</div>
				
			</div>
		</div>


		<div class="intro_video_screen">
			<div class="video-container">
		        <div id="featured_video"></div>
		    </div>
	    </div>

	    <a id="pause-button" class="close_trigger"><i class="fa fa-times" aria-hidden="true"></i></a>
	</section>
	<section class="cf-part-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>Join The Challenge</h2>
					<p>Welcome to the MTN Ops Conquer Fitness Challenge! As part of our arsenal to help you CONQUER MORE this year, this 30 day challenge is a simple and effective way to get your health and fitness on the fast track to improvement. And if the results you experience aren't enough, we have over $30K in products we'll be giving away and the greatest transformation this year will celebrate their success on an all expenses paid trip to their choice to either DisneyLand or a Beach Resort!<p>
					<p>Join the ranks and start your challenge today!</p>
					<img class="challenge-prizes" src="https://cdn.shopify.com/s/files/1/2786/4584/files/choose-your-vacation-prize.png?v=1609790436">

				</div>
			</div>
		</div>
	</section>
	<section class="cf-part-section matte-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<h2>How The Challenge Works</h2>
					<div class="how-it-works-wrap">
						<ul class="how-it-works-steps">
							<li><span></span>Each Challenge lasts 30 days</li>
							<li><span></span>Join at any time. Your challenge starts the day you sign up</li>
							<li><span></span>Complete the Challenge to Rank up (3 Possible Ranks)</li>
						</ul>
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/RankBreakdown-Color.png?v=1576874304">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="cf-part-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<header>
						<h2>Let's Get Started</h2>
						<h3>Now that you are in, here's how to start your challenge</h3>
					</header>
					<ul class="challenge-steps">
						<li>
							<img src="https://i.shgcdn.com/7657da7a-7bd4-41f3-adcf-7f17e4b0c80d/-/format/auto/-/preview/3000x3000/-/quality/lighter/">
							<div>
								<h3>Initial Weigh-in</h3>
								<p>We all start somewhere so don't be shy. Record and submit your current weight to begin.</p>
							</div>
						</li>
						<li>
							<img src="https://i.shgcdn.com/82dee750-4b91-4802-8e19-5d3dd85c16c6/-/format/auto/-/preview/3000x3000/-/quality/lighter/">
							<div>
								<h3>Take Before Photos</h3>
								<p>This is just the beginning. We can't wait to see your transformation.</p>
							</div>
						</li>
						<li>
							<img src="https://i.shgcdn.com/33ef874d-2308-4080-8bdf-9cd3f6ac253d/-/format/auto/-/preview/3000x3000/-/quality/lighter/">
							<div>
								<h3>Submit Your Info</h3>
								<p>It is time to get serious about making fitness changes. Fill out the form below to submit your starting weight, before photos, and get started.</p>
							</div>
						</li>
						<li>
							<img src="https://i.shgcdn.com/cc6eac67-f0dc-4f54-8c1d-fa5ae5ecbf14/-/format/auto/-/preview/3000x3000/-/quality/lighter/">
							<div>
								<h3>Join Facebook Group</h3>
								<p>Strength in numbers. Join our Conquer More Facebook Group to stay up to date, motivated, receive exclusive recipes and offers, and most importantly, to help you stay focused.</p>
								<a href="https://www.facebook.com/groups/162390341188702" target="_blank">Join Group <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
							</div>
						</li>
					</ul>
					<a href="#" class="mtnops-btn start-challenge">SIGN UP</a>
				</div>
			</div>
		</div>
	</section>

	<section class="lifestyle-section">
		<img class="image-cover" src="https://cdn.shopify.com/s/files/1/2786/4584/files/OperativeRankAdvancement.jpg?v=1610060799">
	</section>

	<section class="cf-part-section matte-section rank-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<header>
						<h2>IN IT TO WIN IT</h2>
						<h3>Rank up in Conquer Fitness</h3>
						<p>Your health journey doesn't have a finish line and while each challenge is broken down into 30 day period, there's no reason to quit after you start.</p>
						<p>To award the dedicated, we've created 3 ranks you can achieve over time.</p>
					</header>
					<img class="rank-graph" src="https://cdn.shopify.com/s/files/1/2786/4584/files/RankAdvancement_47c7ac6e-a549-4c51-9b79-48f9f6954b92.png?v=1576802816">
					<div class="align-left">
						<p><b>OPERATIVE</b> - Upon completion of your very first Conquer Fitness Challenge, you'll automatically advance to the rank of OPERATIVE and you'll be entered into winning over 30K in MTN OPS products as well as be in the running to win an all expenses paid cruise. After your first 30 days, there's no way you're stopping here. Next stop... ELITE status.</p>
						<p><b>ELITE</b> - To advance to the rank of an ELITE you must complete 3 conquer fitness challenges. Each time you complete a challenge you not only up your chances of winning a chunk of 30K in MTN Ops product, but you also increase your chances of winning the CRUISE. Look how far you've come the last 90 days? No reason to stop now.</p>
						<p><b>ALPHA</b> - Dominate, constant, relentless.. a few words that describe an ALPHA. While the gap between an ELITE and an ALPHA may seem wide, it's the consistency and dedication to excellence that separates an ALPHA from the pack. After completing 12 total 30 Day Conquer Fitness challenges, MTN OPS will proudly celebrate and award these dedicated individuals with the highest rank obtainable in our Conquer Fitness program.</p>
					</div>
				</div>

			</div>
		</div>
	</section>
	
	<section class="cf-part-section matte-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<header>
						<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/cf-training-logo.svg?v=1609478981">
						<p>The Conquer Fitness Programs were developed to help you CONQUER MORE. From training to meal plans, fitness challenges and more - our goal is to empower you with the tools you need to take your training, health and results to a whole new level. Let's get it.</p>
						<a href="//mtnops.com/pages/training" class="mtnops-btn">LEARN MORE</a>
					</header>
					<div id="challenge_sign_up">
					  <a data-izimodal-close="" class="icon-close"><i class="fa fa-times" aria-hidden="true"></i></a>
					  <div style="margin:0 auto;" class="pxFormGenerator" id="DQHYVL7I8LlYYrh4bPlkcw"></div>
					</div>
				</div>
				{% comment %}<div class="col-xs-12">
					<h3>Have Questions?</h3>
					<h4>Schedule a call with us</h4>
					<p>Have questions about the 90 Day Challenge, your fitness goals, or need help knowing what MTN OPS products to use while you complete your challenge? Schedule a time to chat with a MTN OPS rep. We would love to help be a small part of your fitness/health journey.</p>
					<!-- Calendly link widget begin -->
					<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
					<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript"></script>
					<div style="text-align: center;">
					  <a class="mtnops-btn" href="" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/mtnops?primary_color=ff5100'});return false;">Schedule Call</a>
					</div>
					<!-- Calendly link widget end -->
				</div>{% endcomment %}
			</div>
		</div>
	</section>

	{% include 'mtnops-conquer-fb-community' %}

	<section id="final-submission" class="cf-part-section final-submissions">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">

					<header>
						<h2>CHALLENGE SUBMISSION</h2>
						<h3>SUBMIT YOUR RESULTS AT THE END OF YOUR CHALLENGE</h3>
						<p>Please see below on how to submit your information and final steps.</p>
					</header>

					<ul class="final_steps">
						<li>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/challenge-icon-scale-2-white.png?3189" />
							<h4>FINAL WEIGH-IN</h4>
							<p>Look how far you've come! Hard work and dedication will always pay off.</p>
						</li><li>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/challenge-icon-photo-white.png?3189" />
						  <h4>TRANSFORMATION PHOTOS</h4>
							<p>Oh hey there good lookin'. Congratulations. You look awesome!</p>
						</li><li>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/challenge-icon-essay-white.png?3189" />
							<h4>WRITE ESSAY</h4>
							<p>You inspire us. We want to hear your story and how MTN OPS products have helped you.</p>
						</li><li>
							<img src="https://cdn.shopify.com/s/files/1/2786/4584/files/challenge-icon-upload-white.png?3189" />
							<h4>FINAL SUBMISSION</h4>
							<p>When the Challenge ends please provide your final submission information by submiting it using the form below.</p>
						</li>
					</ul>

					<a href="#" class="mtnops-btn finish-challenge">SUBMIT RESULTS</a>
					<div id="challenge_submission">
						<div style="margin:0 auto;" class="pxFormGenerator" id="4z4KpSjARnsXg9u3NJwbPw"></div>		
					</div>
					  
				</div>
			</div>
			
		</div>
	</section>


	<section id="terms-conditions" class="cf-part-section black-section">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div style="margin: 25px;">
						<h3 style="margin-bottom: 15px;">HELPFUL RESOURCES</h3>
						<a class="mtnops-btn" href="https://cdn.shopify.com/s/files/1/2786/4584/files/BodyMeasurementsJournal-Web.pdf?v=1613592092" target="_blank">BODY MEASUREMENT JOURNAL</a>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="challenge-terms-conditions-wrap">
						<h3 style="margin-bottom: 15px;">OFFICIAL CHALLENGE RULES</h3>
						<a class="terms-trigger">Terms & Conditions</a>
						<ul class="challenge-terms-conditions">
							<li><b>1. Entry and Eligibility to Win.</b> The Conquer Fitness Challenge (the “Challenge”) runs from January 1, 2021 through December 31, 2021. To enter the Challenge, you must complete a registration form either online at www.mtnops.com/challenge. There is no cost to enter. The Challenge is open to everyone in the United States and Canada who have obtained the age of 18 by July 29, 2020. The Challenge is void where prohibited by law.</li>
							<li><b>2. Weigh-in Measurement Requirements.</b> You must complete one initial Weight Measurement and one final Weight Measurement to show your change over the Challenge. You must submit an initial Weight Measurement sometime to be eligible to win Prizes. You must submit your weigh in and weigh out measurements with photos through the online forum at mtnops.com/challenge or email to conquerchallenge@mtnops.com by 30 days, following your initial weigh in submission.</li>
							<li><b>3. Photo & Essay Submission:</b> To be considered for Prizes, you must submit three (3) recent “before” photographs and three (3) “after” photographs using the following instructions: front body and head view, back body view, and side profile view. The “before” photos and the “after” photos should be similar poses. Though not required, for best results the photographs should be three-fourths (¾) body or full body to show full weight loss and body transformation. You should also be in a bathing suit or similar clothing. MTN OPS reserves the right to request resubmission of one or more of the “before” or “after” photographs or request additional images. Any entries submitted by someone other than you or professionally produced or enhanced will be rejected. Before Photos should be submitted with Weight Measurement Email. After photos should be submitted with your After Weight Measurement Email. You will also be required to submit an essay that describes your weight loss or transformation journey if you want to be considered for Prizes. The essay should explain your goals during the Challenge, how MTN OPS helped you achieve your results, how your lifestyle changed, and how you plan to maintain these changes. The essay is limited to 5000 characters. If essay exceeds 5000 characters, only the first 5000 characters will be read. MTN OPS reserves the right to redact portions of any essay. Please do not use other brand or trade names in your essay because they will not be printed. Please submit essay with your after photo and after weight measurement email.</li>
							<li><b>4. Transformation Judging and Winners.</b> Entries will be judged by a panel of MTN OPS judges based on: overall transformation (weight-loss or muscle gain) as shown in before and after photos (80%); essay (20%). The finalists will be notified by the information provided on the registration form within 30 days of their challenge ending. Each finalist will have their essay, photos, and transformation results posted on the Conquer More Facebook Group Page. In the event of a tie, MTN OPS will determine the appropriate tie-breaking mechanism. All entries become the property of MTN OPS and will not be returned.</li>
							<li><b>5. Prizes/Approximate Retail Value (ARV).</b> Each month will have 5 winners. Winners will receive $500 Gift Card to MTNOPS.com. Winners will be announced every other month, starting in February. Grand Prize winnings for the greatest transformation of the year 2021, following the outline of rule 4, will receive an all expenses paid cruise for two (2) individuals. Expenses include; flight, travel (rental) and cost of cruise. All other expenses are the sole responsibility of the winner. Winner will be announced January of 2021. Taxes are the sole responsibility of the winner. Unclaimed prizes will be moved to the next runner up if: (a) potential winner cannot be reached for whatever reason after a reasonable effort has been exerted based on the information stated in the entry form, (b) of noncompliance with the above or within any of the aforesaid time periods, (c) potential winner is found to be ineligible to enter the Challenge or receive the Prize, (d) potential winner cannot or does not comply with the Official Rules, (e) potential winner’s Prize notification is returned as undeliverable for whatever reason, the potential winner shall be disqualified from the Challenge and an alternate potential winner may be selected, at MTN OPS sole discretion, from among the other eligible entries received.</li>
							<li><b>6. Winner Release.</b> Winners will be required to provide before and after photographs to MTN OPS to be used for promotional and marketing purposes. Before receiving the Prize and as a condition of receiving the Prize, winners may be required to provide valid photo identification featuring his or her name and address as it appeared on the entry supplied, provide proof of proper age and residency, and sign a release supplied by MTN OPS which, among other disclaimers: (a) releases MTN OPS, LLC. and its range of subsidiaries, directors, agents, agencies, affiliates, promoters, officers, directors, employees and related persons from any and all liability related to the Challenge and the receipt and use of the Prize, and (b) grants MTN OPS the right to publish the winner’s name, city/state, photograph(s), voice, testimonial, approved biographical information, or other likeness and/or Prize information or personal exposition (and/or any edited portion thereof) for promotional, advertising and/or publicity purposes in any media, now or hereafter known throughout the world in perpetuity, without compensation or notice to, or further consent of, the winner to the extent permitted by law.</li>
							<li><b>7. Assumption of Risk, Waiver of Liability, and Indemnification.</b> You acknowledge that there are risks associated with your participation in the Challenge and you agree that the terms of your General Terms Agreement and Member Usage Agreement apply to your participation, including but not limited to the Assumption of Risk, Release of Liability, and Indemnification provisions. By entering the Challenge, each participant agrees to follow these Official Rules and to release, discharge, and hold harmless MTN OPS, and its affiliates, subsidiaries, and agents, together with the present and future officers, agents, employees and representatives of each of them, from any and all responsibility or liability whatsoever for any property loss, damage, personal injury, or death, in connection with the Prize(s) and/or any person’s participation in the Challenge.</li>
							<li><b>8. No Guaranty of Weight Loss or Body Transformation.</b> Individual weight loss results vary and participation in the Challenge does not guarantee weight loss. Factors such as diet and genetic makeup, overall health, or physiological differences may influence weight loss. Please consult with your physician before beginning any new nutrition or exercise program.</li>
							<li><b>9. General.</b> No entrant shall use any artificial or inappropriate means of weight loss or alteration in body composition in order to win the Challenge including but not limited to liposuction, weight loss surgery or other similar procedures. All interpretations of these Official Rules shall be made by MTN OPS, whose decisions and interpretations shall be final and binding. MTN OPS reserves the right to cancel, terminate or suspend this Challenge or any part of this Challenge for any reason. MTN OPS reserves the right, at its sole discretion, to disqualify any individual it reasonably suspects or believes to be tampering with the entry process, any part of the Challenge itself, or the award mechanism by any means or suspected to be acting in violation of these Official Rules or any other term or condition of the Challenge set by MTN OPS. If MTN OPS determines, in its sole discretion, that unforeseen events have compromised the integrity or viability of the Challenge, MTN OPS reserves the right to void the entries at issue, and/or terminate the relevant portion of the Challenge, including the entire Challenge, and/or modify the Challenge. MTN OPS shall not be responsible for lost, incomplete or late entries, weigh-ins Measurements or for any entries or weigh-ins Measurements/essays/photos that are not received by MTN OPS by the applicable deadline for any reason whatsoever.</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>


	<script type="text/javascript">

		$('#challenge_sign_up, #challenge_submission').iziModal( {
			padding: 0,
			overlayColor: 'rgba(0, 0, 0, 0.65)',
			background: 'black',
			width: 550,
			closeButton: true,
			autoOpen: false
		});

		$('.start-challenge').on('click', function(e) {
			e.preventDefault();
			$('#challenge_sign_up').iziModal('open');
		});
		$('.finish-challenge').on('click', function(e) {
			e.preventDefault();
			$('#challenge_submission').iziModal('open');
		});


		$('.challenge-nav li a').on('click', function(e) {
			e.preventDefault();
			$month = $(this).data('month');
			$('.challenge-class').removeClass('active');
			$($month).addClass('active');
			$('.challenge-nav li a').removeClass('active');
			$(this).addClass('active');
		});

		$('.terms-trigger').on('click', function(e) {
    	e.preventDefault();
    	$('.challenge-terms-conditions').slideToggle();
    });

	</script>




<script>
	// HERO VIDEO SCRIPTS
    var tag = document.createElement('script');

    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    var player;
    function onYouTubeIframeAPIReady() {
        player = new YT.Player('featured_video', {
            height: '100%',
            width: '100%',
            videoId: 'q7sZafDAjNk', // Youtube video ID #
            playerVars: { 'showinfo': 0, 'controls': 1 },
            events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
            }
        });
    }
    function onPlayerReady(event) {
        // bind events
        var playButton = document.querySelector('.watch_intro'); // document.getElementById("play-button"); 

        playButton.addEventListener("click", function(event) {
        		event.preventDefault();
            document.querySelector(".cf_hero_wrap").className = "cf_hero_wrap user_watching";
						document.body.classList.add("user_watching");
            player.playVideo();
        });

        var pauseButton = document.querySelector(".close_trigger");
        pauseButton.addEventListener("click", function(event) {
        		event.preventDefault();
            document.querySelector(".cf_hero_wrap").className = "cf_hero_wrap";
            document.body.classList.remove("user_watching");
            player.pauseVideo();
            //player.stopVideo();
        });


        document.onkeyup = function keyPress(e) {
            if (e.keyCode == 27) { // escape key maps to keycode `27`
                document.querySelector(".cf_hero_wrap").className = "cf_hero_wrap";
                document.body.classList.remove("user_watching");
                player.pauseVideo();
                //player.stopVideo();
            }
        }
    }
    // 5. The API calls this function when the player's state changes.
    //    The function indicates that when playing a video (state=1),
    //    the player should play for six seconds and then stop.
    var done = false;
    function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
        // setTimeout(stopVideo, 6000);
        // done = true;
        }
        if(event.data === 0){
            document.querySelector(".cf_hero_wrap").className = "cf_hero_wrap";
            document.body.classList.remove("user_watching");
        }
    }
    function stopVideo() {
        player.stopVideo();
    }
</script>


